hybris/bin/custom/wiley/agsstorefront/web/webroot/_ui/responsive/theme-blue/pages/confirmation-page.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../"><!--[if IE 9]>
    <script>
      (function () {
      	var baseTag = document.getElementsByTagName('base')[0];
      	baseTag.href = baseTag.href;
      })();
    </script><![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="addons/welagsstorefrontcommons/responsive/common/css/welagsstorefrontcommons.css">
    <link rel="stylesheet" type="text/css" media="all" href="addons/liveeditaddon/responsive/common/css/liveeditaddon.css"><!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/ybase-ie9.css">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style-ie9.css"><![endif]-->
    <![if !IE]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css"><![endif]>
    <title>AGS</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="header-container">
          <div class="header-left-side"></div>
          <div class="header-title"><a href="#"><img src="responsive/theme-blue/images/logo-header-mobile.png" alt="Architectural Graphic Standards Online" class="logo-header-mobile"><img src="responsive/theme-blue/images/logo-header.png" alt="Architectural Graphic Standards Online" class="logo-header"></a></div>
          <div class="header-right-side"><a href="#" class="logout-link">Logout</a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="confirmation-page">
          <ul class="progress-line">
            <li class="step step-completed"><span class="step-number">1</span><span class="step-name step-name-desktop">Create an Account or Log In</span><span class="step-name step-name-mobile">Log In</span></li>
            <li class="step step-completed"><span class="step-number">2</span><span class="step-name">Billing</span></li>
            <li class="step"><span class="step-number">3</span><span class="step-name">Payment</span></li>
            <li class="step"><span class="step-number">4</span><span class="step-name">Order Confirmation</span></li>
          </ul>
          <div class="feedback-title">
            <p>Have a question? You can call 1-877-762-2974 Mon-Fri 9am-9pm, Sat 10am-8pm ET</p>
          </div>
          <div class="confirmation-text">
            <h2>Thanks you for your purchase!</h2>
            <p>Your order has been processed and a confirmation email<br>will be sent to you which will include your product information.</p>
          </div>
          <div class="table-order">
            <div class="table-order-row">
              <div class="table-order-head">Order #123456 11/19/15 6:40pm</div>
              <div class="table-order-head">Price</div>
              <div class="table-order-head">Qty</div>
              <div class="table-order-head">Total</div>
            </div>
            <div class="table-order-row subscription-row">
              <div class="table-order-cell"><a href="#">AGS One Year Subscription</a></div>
              <div class="table-order-cell">$575.00</div>
              <div class="table-order-cell">1</div>
              <div class="table-order-cell">$575.00</div>
            </div>
            <div class="table-order-row-mobile">
              <div class="table-order-row">
                <div class="table-order-cell">Price: $575.00</div>
              </div>
              <div class="table-order-row">
                <div class="table-order-cell">Qty: 1</div>
              </div>
              <div class="table-order-row">
                <div class="table-order-cell">Total: $575.00</div>
              </div>
            </div>
            <div class="table-order-row-group">
              <div class="table-order-row">
                <div class="table-order-cell"></div>
                <div class="table-order-cell"></div>
                <div class="table-order-cell">Subtotal:</div>
                <div class="table-order-cell">$575.00</div>
              </div>
              <div class="table-order-row">
                <div class="table-order-cell"></div>
                <div class="table-order-cell"></div>
                <div class="table-order-cell"><span class="table-order-cell-desktop">Valid Discount Code:</span><span class="table-order-cell-mobile">Discount Code:</span></div>
                <div class="table-order-cell">DISCOUNT-CODE</div>
              </div>
              <div class="table-order-row">
                <div class="table-order-cell"></div>
                <div class="table-order-cell"></div>
                <div class="table-order-cell">Discount:</div>
                <div class="table-order-cell">&#45;$0.0</div>
              </div>
              <div class="table-order-row">
                <div class="table-order-cell"></div>
                <div class="table-order-cell"></div>
                <div class="table-order-cell">Tax:</div>
                <div class="table-order-cell">$40.25</div>
              </div>
              <div class="table-order-row total-row">
                <div class="table-order-cell"></div>
                <div class="table-order-cell"></div>
                <div class="table-order-cell">Total:</div>
                <div class="table-order-cell">$615.25</div>
              </div>
            </div>
          </div>
          <div class="form-buttons">
            <button type="submit" class="button form-button">Start Searching</button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-left-side">
        <div class="copyright">
          <p>&copy;2016 John Wiley &amp; Sons Inc and all related companies.</p>
          <p>All rights reserved.</p>
        </div>
      </div>
      <div class="footer-right-side">
        <div class="footer-logo"><a href="#"><img src="responsive/theme-blue/images/logo-footer.png"></a></div>
      </div>
    </div>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/header.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>

buildkit/agsstorefront/jade/confirmation-page.jade
extends layouts/grid-one-column
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;
	- var progressLineType = 'account';

block main
	div(class="confirmation-page")
		include partials/progress-line

		include partials/feedback-title

		include partials/confirmation-text

		div(class="table-order")
			div(class="table-order-row")
				div(class="table-order-head") Order #123456 11/19/15 6:40pm
				div(class="table-order-head") Price
				div(class="table-order-head") Qty
				div(class="table-order-head") Total

			div(class="table-order-row subscription-row")
				div(class="table-order-cell")
					a(href="#") AGS One Year Subscription
				div(class="table-order-cell") $575.00
				div(class="table-order-cell") 1
				div(class="table-order-cell") $575.00

			div(class="table-order-row-mobile")
				div(class="table-order-row")
					div(class="table-order-cell") Price: $575.00
				div(class="table-order-row")
					div(class="table-order-cell") Qty: 1
				div(class="table-order-row")
					div(class="table-order-cell") Total: $575.00

			div(class="table-order-row-group")
				div(class="table-order-row")
					div(class="table-order-cell")
					div(class="table-order-cell")
					div(class="table-order-cell") Subtotal:
					div(class="table-order-cell") $575.00
				div(class="table-order-row")
					div(class="table-order-cell")
					div(class="table-order-cell")
					div(class="table-order-cell")
						span(class="table-order-cell-desktop") Valid Discount Code:
						span(class="table-order-cell-mobile") Discount Code:
					div(class="table-order-cell") DISCOUNT-CODE
				div(class="table-order-row")
					div(class="table-order-cell")
					div(class="table-order-cell")
					div(class="table-order-cell") Discount:
					div(class="table-order-cell") &#45;$0.0
				div(class="table-order-row")
					div(class="table-order-cell")
					div(class="table-order-cell")
					div(class="table-order-cell") Tax:
					div(class="table-order-cell") $40.25
				div(class="table-order-row total-row")
					div(class="table-order-cell")
					div(class="table-order-cell")
					div(class="table-order-cell") Total:
					div(class="table-order-cell") $615.25

		div(class="form-buttons")
			button(class="button form-button", type="submit") Start Searching
