buildkit/agsstorefront/jade/forgot-password.jade
extends layouts/grid-one-column
block vars
	- var showLogoutLink = false;
	- var showCurrencySelector = false;
	- var progressLineType = 'account';

block main
	div(class="login-page")
		h1(class="page-title") Forgot Password

		div(class="site-form forgot-password-form")
			div(class="form-title")
				| Retrieve your login information
			div(class="form-description")
				p Enter the email address you used to create your Architectural Graphic Standards Online account.
				p We will locate your account information and send you an e-mail with a link to rest your password.
			form(action="", method="post")
				div(class="form-cell")
					div(class="form-label")
						| Enter your email address:
					div(class="form-field")
						input(type="email", name="email")
				div(class="form-cell")
					button(class="button button-submit form-button", type="submit")
						| Submit

hybris/bin/custom/wiley/agsstorefront/web/webroot/_ui/responsive/theme-blue/pages/forgot-password.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../"><!--[if IE 9]>
    <script>
      (function () {
      	var baseTag = document.getElementsByTagName('base')[0];
      	baseTag.href = baseTag.href;
      })();
    </script><![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="addons/welagsstorefrontcommons/responsive/common/css/welagsstorefrontcommons.css">
    <link rel="stylesheet" type="text/css" media="all" href="addons/liveeditaddon/responsive/common/css/liveeditaddon.css"><!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/ybase-ie9.css">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style-ie9.css"><![endif]-->
    <![if !IE]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css"><![endif]>
    <title>AGS</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="header-container">
          <div class="header-left-side"></div>
          <div class="header-title"><a href="#"><img src="responsive/theme-blue/images/logo-header-mobile.png" alt="Architectural Graphic Standards Online" class="logo-header-mobile"><img src="responsive/theme-blue/images/logo-header.png" alt="Architectural Graphic Standards Online" class="logo-header"></a></div>
          <div class="header-right-side">
          </div>
        </div>
      </div>
      <div class="content">
        <div class="login-page">
          <h1 class="page-title">Forgot Password</h1>
          <div class="site-form forgot-password-form">
            <div class="form-title">Retrieve your login information</div>
            <div class="form-description">
              <p>Enter the email address you used to create your Architectural Graphic Standards Online account.</p>
              <p>We will locate your account information and send you an e-mail with a link to rest your password.</p>
            </div>
            <form action="" method="post">
              <div class="form-cell">
                <div class="form-label">Enter your email address:</div>
                <div class="form-field">
                  <input type="email" name="email">
                </div>
              </div>
              <div class="form-cell">
                <button type="submit" class="button button-submit form-button">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-left-side">
        <div class="copyright">
          <p>&copy;2016 John Wiley &amp; Sons Inc and all related companies.</p>
          <p>All rights reserved.</p>
        </div>
      </div>
      <div class="footer-right-side">
        <div class="footer-logo"><a href="#"><img src="responsive/theme-blue/images/logo-footer.png"></a></div>
      </div>
    </div>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/header.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>
