hybris/bin/custom/wiley/agsstorefront/web/webroot/_ui/responsive/theme-blue/pages/login.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../"><!--[if IE 9]>
    <script>
      (function () {
      	var baseTag = document.getElementsByTagName('base')[0];
      	baseTag.href = baseTag.href;
      })();
    </script><![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="addons/welagsstorefrontcommons/responsive/common/css/welagsstorefrontcommons.css">
    <link rel="stylesheet" type="text/css" media="all" href="addons/liveeditaddon/responsive/common/css/liveeditaddon.css"><!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/ybase-ie9.css">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style-ie9.css"><![endif]-->
    <![if !IE]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css"><![endif]>
    <title>AGS</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="header-container">
          <div class="header-left-side"></div>
          <div class="header-title"><a href="#"><img src="responsive/theme-blue/images/logo-header-mobile.png" alt="Architectural Graphic Standards Online" class="logo-header-mobile"><img src="responsive/theme-blue/images/logo-header.png" alt="Architectural Graphic Standards Online" class="logo-header"></a></div>
          <div class="header-right-side">
          </div>
        </div>
      </div>
      <div class="content">
        <div class="login-page">
          <ul class="progress-line">
            <li class="step step-completed"><span class="step-number">1</span><span class="step-name step-name-desktop">Create an Account or Log In</span><span class="step-name step-name-mobile">Log In</span></li>
            <li class="step step-completed"><span class="step-number">2</span><span class="step-name">Billing</span></li>
            <li class="step"><span class="step-number">3</span><span class="step-name">Payment</span></li>
            <li class="step"><span class="step-number">4</span><span class="step-name">Order Confirmation</span></li>
          </ul>
          <div class="feedback-title">
            <p>Have a question? You can call 1-877-762-2974 Mon-Fri 9am-9pm, Sat 10am-8pm ET</p>
          </div>
          <h1 class="page-title">Create an Account or Login</h1>
          <div id="accordion" role="tablist" aria-multiselectable="false" class="row panel-group">
            <div class="col-sm-6 col-md-6 panel">
              <div role="tab" id="headingOne" class="panel-heading">
                <div class="form-title">Create a New Account<a role="button" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed form-title-toggle"></a></div>
              </div>
              <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="container-fluid create-account">
                    <div class="row">
                      <div class="col-sm-6 col-md-6 form-cell">
                        <label for="" class="form-label required">First Name</label>
                        <div class="form-field">
                          <input type="text" name="">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 form-cell">
                        <label for="" class="form-label required">Last Name</label>
                        <div class="form-field">
                          <input type="text" name="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6 form-cell">
                        <label for="" class="form-label required">Email Address</label>
                        <div class="form-field">
                          <input type="text" name="">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 form-cell">
                        <label for="" class="form-label required">Confirm Email Address</label>
                        <div class="form-field">
                          <input type="text" name="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6 form-cell">
                        <label for="" class="form-label required">Password</label>
                        <div class="form-field">
                          <input type="password" name="" autocomplete="off">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 form-cell">
                        <label for="" class="form-label required">Confirm Password</label>
                        <div class="form-field">
                          <input type="password" name="" autocomplete="off">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-required mobile">Required</div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-buttons">
                        <button type="submit" class="button form-button pull-right">Create Account</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 panel">
              <div role="tab" id="headingTwo" class="panel-heading">
                <div class="form-title">Returning Users<a role="button" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed form-title-toggle"></a></div>
              </div>
              <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse in">
                <div class="panel-body create-account">
                  <div class="row">
                    <div class="col-sm-6 col-md-6 form-cell">
                      <label for="" class="form-label required">Email Address</label>
                      <div class="form-field">
                        <input type="text" name="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-6 form-cell">
                      <label for="" class="form-label required">Password</label>
                      <div class="form-field">
                        <input type="password" name="" autocomplete="off">
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="form-required mobile">Required</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 form-buttons"><a class="recover-password">Forgot password?</a>
                      <button type="submit" class="button form-button pull-right">Log In</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-required laptop">Required</div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-left-side">
        <div class="copyright">
          <p>&copy;2016 John Wiley &amp; Sons Inc and all related companies.</p>
          <p>All rights reserved.</p>
        </div>
      </div>
      <div class="footer-right-side">
        <div class="footer-logo"><a href="#"><img src="responsive/theme-blue/images/logo-footer.png"></a></div>
      </div>
    </div>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/header.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>

buildkit/agsstorefront/jade/login.jade
extends layouts/grid-one-column
block vars
	- var showLogoutLink = false;
	- var showCurrencySelector = false;
	- var progressLineType = 'account';

block main
	div(class="login-page")
		include partials/progress-line

		include partials/feedback-title

		h1(class="page-title")
			| Create an Account or Login

		div(class="row panel-group" id="accordion" role="tablist" aria-multiselectable="false")
			div(class="col-sm-6 col-md-6 panel")
				div(class="panel-heading" role="tab" id="headingOne")
					div(class="form-title")
						| Create a New Account
						a(class="collapsed form-title-toggle", role="button", data-parent="#accordion", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne")
				div(id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne")
					div(class="panel-body")
						div(class="container-fluid create-account")
							div(class="row")
								div(class="col-sm-6 col-md-6 form-cell")
									label(class="form-label required", for="") First Name
									div(class="form-field")
										input(type="text" name="")
								div(class="col-sm-6 col-md-6 form-cell")
									label(class="form-label required", for="") Last Name
									div(class="form-field")
										input(type="text" name="")
							div(class="row")
								div(class="col-sm-6 col-md-6 form-cell")
									label(class="form-label required", for="") Email Address
									div(class="form-field")
										input(type="text" name="")
								div(class="col-sm-6 col-md-6 form-cell")
									label(class="form-label required", for="") Confirm Email Address
									div(class="form-field")
										input(type="text" name="")
							div(class="row")
								div(class="col-sm-6 col-md-6 form-cell")
									label(class="form-label required", for="") Password
									div(class="form-field")
										input(type="password", name="", autocomplete="off")
								div(class="col-sm-6 col-md-6 form-cell")
									label(class="form-label required", for="") Confirm Password
									div(class="form-field")
										input(type="password", name="", autocomplete="off")
							div(class="row")
								div(class="form-required mobile")
									| Required
							div(class="row")
								div(class="col-md-12 form-buttons")
									button(class="button form-button pull-right", type="submit") Create Account
			div(class="col-sm-6 col-md-6 panel")
				div(class="panel-heading" role="tab" id="headingTwo")
					div(class="form-title")
						| Returning Users
						a(class="collapsed form-title-toggle", role="button", data-parent="#accordion", href="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo")
				div(id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo")
					div(class="panel-body create-account")
						div(class="row")
							div(class="col-sm-6 col-md-6 form-cell")
								label(class="form-label required", for="") Email Address
								div(class="form-field")
									input(type="text" name="")
							div(class="col-sm-6 col-md-6 form-cell")
								label(class="form-label required", for="") Password
								div(class="form-field")
									input(type="password", name="", autocomplete="off")
							div(class="col-xs-12 col-sm-12 col-md-12")
								div(class="form-required mobile")
									| Required

						div(class="row")
							div(class="col-sm-12 col-md-12 form-buttons")
								a(class="recover-password")
									| Forgot password?
								button(class="button form-button pull-right", type="submit") Log In

		div(class="form-required laptop")
			| Required
