buildkit/agsstorefront/jade/shopping-cart.jade
extends layouts/grid-one-column
block vars
	- var showCurrencySelector = true;
	- var showLogoutLink = true;
	- var progressLineType = 'account';

block main
	div(class="subscriptions")
		div(class="subscriptions-title")
			h2(class="title") My Cart
				span(class="cart-id") cart id: 00003009
			div(class="subscriptions-action-buttons")
				button(class="button form-button", type="button") Continue

		div(class="subscriptions-container")
			div(class="subscriptions-header")
				div(class="subscriptions-header-item item-item") Item
				div(class="subscriptions-header-item item-price") Price
				div(class="subscriptions-header-item item-qty") Qty
				div(class="subscriptions-header-item item-total") Total
				div(class="subscriptions-header-item item-action")

			div(class="subscriptions-content")
				div(class="subscription")
					div(class="subscription-info")
						h3(class="subscription-title")
							a(class="subscription-title-link", href="#") EASYSHARE Z730 Zoom Digital Camera
						ul(class="subscription-description")
							li All the great features of the AGS Site for one year
							li Maybe you have another sing to say here
							li Another bullet point about the product
					div(class="subscription-price-item item-action item-action-mobile")
						div(class="subscription-price-name")
						div(class="subscription-price-value")
							button(class="link remove-link", type="button") Remove
					div(class="subscription-price-item item-price")
						div(class="subscription-price-name") Price:
						div(class="subscription-price-value")
							span(class="discount-price") $2295.00
							| $1470.00
					div(class="subscription-price-item item-qty")
						div(class="subscription-price-name") Qty:
						div(class="subscription-price-value") 1
					div(class="subscription-price-item item-total")
						div(class="subscription-price-name") Total:
						div(class="subscription-price-value") $1470.00
					div(class="subscription-price-item item-action")
						div(class="subscription-price-name")
						div(class="subscription-price-value")
							button(class="link remove-link", type="button") Remove

				div(class="subscription")
					div(class="subscription-info")
						h3(class="subscription-title")
							a(class="subscription-title-link", href="#") Photosmart E317 Digital Camera
						ul(class="subscription-description")
							li All the great features of the AGS Site for one year
							li Maybe you have another sing to say here
							li Another bullet point about the product
					div(class="subscription-price-item item-action item-action-mobile")
						div(class="subscription-price-name")
						div(class="subscription-price-value")
							button(class="link remove-link", type="button") Remove
					div(class="subscription-price-item item-price")
						div(class="subscription-price-name") Price:
						div(class="subscription-price-value")
							span(class="discount-price") $2295.00
							| $114.00
					div(class="subscription-price-item item-qty")
						div(class="subscription-price-name") Qty:
						div(class="subscription-price-value") 2
					div(class="subscription-price-item item-total")
						div(class="subscription-price-name") Total:
						div(class="subscription-price-value") $228.00
					div(class="subscription-price-item item-action")
						div(class="subscription-price-name")
						div(class="subscription-price-value")
							button(class="link remove-link", type="button") Remove

		div(class="subscriptions-footer")
			div(class="discount-code")
				div(class="discount-code-wrapper")
					div(class="discount-code-title")
						| Discount Code
						span(class="discount-code-toggle")

					form(class="discount-code-form")
						div(class="input-group")
							div(class="form-field")
								input(class="discount-code-input form-control", type="text")
							span(class="input-group-btn")
								button(class="button form-button", type="button") Apply

						div(class="discount-code-message")
							p
								| Discount code STRUCTURE successfully applied.
							p
								| 10% off entire order.

			div(class="subscriptions-subtotal")
				div(class="subscriptions-subtotal-items")
					div(class="subscriptions-subtotal-item item-subtotal")
						div(class="subscriptions-subtotal-name")
							| Subtotal:
						div(class="subscriptions-subtotal-value")
							| $1,098.00
					div(class="subscriptions-subtotal-item item-discount-code")
						div(class="subscriptions-subtotal-name discount-code-desktop")
							| Valid Discount Code:
						div(class="subscriptions-subtotal-name discount-code-mobile")
							| Discount Code:
						div(class="subscriptions-subtotal-value")
							div(class="voucher-list__item")
								form(id="removeVoucherForm" action="" method="post")
									span(class="js-release-voucher voucher-list__item-box" id="voucher-code-EASYSHARE")
										| EASYSHARE
										input(id="voucherCode" name="voucherCode" hidden="hidden" value="EASYSHARE" type="text")
										span(class="glyphicon glyphicon-remove js-release-voucher-remove-btn voucher-list__item-remove")
									div
										input(type="hidden" name="CSRFToken" value="c77c1ef2-432b-4883-89e3-f2016935286c")
					div(class="subscriptions-subtotal-item item-discount")
						div(class="subscriptions-subtotal-name")
							| Discount:
						div(class="subscriptions-subtotal-value")
							| &#45;$0.00
					div(class="subscriptions-subtotal-item item-taxes")
						div(class="subscriptions-subtotal-name")
							| Tax:
						div(class="subscriptions-subtotal-value")
							| $39.99
					div(class="subscriptions-subtotal-item item-total")
						div(class="subscriptions-subtotal-name")
							| Total:
						div(class="subscriptions-subtotal-value")
							| $1,098.00
				div(class="subscriptions-action-buttons")
					button(class="button form-button", type="button")
						| Continue

hybris/bin/custom/wiley/agsstorefront/web/webroot/_ui/responsive/theme-blue/pages/shopping-cart.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../"><!--[if IE 9]>
    <script>
      (function () {
        var baseTag = document.getElementsByTagName('base')[0];
        baseTag.href = baseTag.href;
      })();
    </script><![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="addons/welagsstorefrontcommons/responsive/common/css/welagsstorefrontcommons.css">
    <link rel="stylesheet" type="text/css" media="all" href="addons/liveeditaddon/responsive/common/css/liveeditaddon.css"><!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/ybase-ie9.css">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style-ie9.css"><![endif]-->
    <![if !IE]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css"><![endif]>
    <title>AGS</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="header-container">
          <div class="header-left-side"></div>
          <div class="header-title"><a href="#"><img src="responsive/theme-blue/images/logo-header-mobile.png" alt="Architectural Graphic Standards Online" class="logo-header-mobile"><img src="responsive/theme-blue/images/logo-header.png" alt="Architectural Graphic Standards Online" class="logo-header"></a></div>
          <div class="header-right-side">
            <div id="currency-selector" class="currency-selector dropdown">
              <button type="button" id="currency-selector-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle"><span class="dropdown-text">USD &dollar;</span></button>
              <ul aria-labelledby="currency-selector-menu" class="dropdown-menu">
                <li data-value="USD" class="current"><a>USD &dollar;</a></li>
                <li data-value="GBP"><a>GBP &pound;</a></li>
                <li data-value="EUR"><a>EUR &euro;</a></li>
              </ul>
            </div><a href="#" class="logout-link">Logout</a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="subscriptions">
          <div class="subscriptions-title">
            <h2 class="title">My Cart<span class="cart-id">cart id: 00003009</span></h2>
            <div class="subscriptions-action-buttons">
              <button type="button" class="button form-button">Continue</button>
            </div>
          </div>
          <div class="subscriptions-container">
            <div class="subscriptions-header">
              <div class="subscriptions-header-item item-item">Item</div>
              <div class="subscriptions-header-item item-price">Price</div>
              <div class="subscriptions-header-item item-qty">Qty</div>
              <div class="subscriptions-header-item item-total">Total</div>
              <div class="subscriptions-header-item item-action"></div>
            </div>
            <div class="subscriptions-content">
              <div class="subscription">
                <div class="subscription-info">
                  <h3 class="subscription-title"><a href="#" class="subscription-title-link">EASYSHARE Z730 Zoom Digital Camera</a></h3>
                  <ul class="subscription-description">
                    <li>All the great features of the AGS Site for one year</li>
                    <li>Maybe you have another sing to say here</li>
                    <li>Another bullet point about the product</li>
                  </ul>
                </div>
                <div class="subscription-price-item item-action item-action-mobile">
                  <div class="subscription-price-name"></div>
                  <div class="subscription-price-value">
                    <button type="button" class="link remove-link">Remove</button>
                  </div>
                </div>
                <div class="subscription-price-item item-price">
                  <div class="subscription-price-name">Price:</div>
                  <div class="subscription-price-value"><span class="discount-price">$2295.00</span>$1470.00</div>
                </div>
                <div class="subscription-price-item item-qty">
                  <div class="subscription-price-name">Qty:</div>
                  <div class="subscription-price-value">1</div>
                </div>
                <div class="subscription-price-item item-total">
                  <div class="subscription-price-name">Total:</div>
                  <div class="subscription-price-value">$1470.00</div>
                </div>
                <div class="subscription-price-item item-action">
                  <div class="subscription-price-name"></div>
                  <div class="subscription-price-value">
                    <button type="button" class="link remove-link">Remove</button>
                  </div>
                </div>
              </div>
              <div class="subscription">
                <div class="subscription-info">
                  <h3 class="subscription-title"><a href="#" class="subscription-title-link">Photosmart E317 Digital Camera</a></h3>
                  <ul class="subscription-description">
                    <li>All the great features of the AGS Site for one year</li>
                    <li>Maybe you have another sing to say here</li>
                    <li>Another bullet point about the product</li>
                  </ul>
                </div>
                <div class="subscription-price-item item-action item-action-mobile">
                  <div class="subscription-price-name"></div>
                  <div class="subscription-price-value">
                    <button type="button" class="link remove-link">Remove</button>
                  </div>
                </div>
                <div class="subscription-price-item item-price">
                  <div class="subscription-price-name">Price:</div>
                  <div class="subscription-price-value"><span class="discount-price">$2295.00</span>$114.00</div>
                </div>
                <div class="subscription-price-item item-qty">
                  <div class="subscription-price-name">Qty:</div>
                  <div class="subscription-price-value">2</div>
                </div>
                <div class="subscription-price-item item-total">
                  <div class="subscription-price-name">Total:</div>
                  <div class="subscription-price-value">$228.00</div>
                </div>
                <div class="subscription-price-item item-action">
                  <div class="subscription-price-name"></div>
                  <div class="subscription-price-value">
                    <button type="button" class="link remove-link">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="subscriptions-footer">
            <div class="discount-code">
              <div class="discount-code-wrapper">
                <div class="discount-code-title">Discount Code<span class="discount-code-toggle"></span></div>
                <form class="discount-code-form">
                  <div class="input-group">
                    <div class="form-field">
                      <input type="text" class="discount-code-input form-control">
                    </div><span class="input-group-btn">
                      <button type="button" class="button form-button">Apply</button></span>
                  </div>
                  <div class="discount-code-message">
                    <p>Discount code STRUCTURE successfully applied.</p>
                    <p>10% off entire order.</p>
                  </div>
                </form>
              </div>
            </div>
            <div class="subscriptions-subtotal">
              <div class="subscriptions-subtotal-items">
                <div class="subscriptions-subtotal-item item-subtotal">
                  <div class="subscriptions-subtotal-name">Subtotal:</div>
                  <div class="subscriptions-subtotal-value">$1,098.00</div>
                </div>
                <div class="subscriptions-subtotal-item item-discount-code">
                  <div class="subscriptions-subtotal-name discount-code-desktop">Valid Discount Code:</div>
                  <div class="subscriptions-subtotal-name discount-code-mobile">Discount Code:</div>
                  <div class="subscriptions-subtotal-value">
                    <div class="voucher-list__item">
                      <form id="removeVoucherForm" action="" method="post"><span id="voucher-code-EASYSHARE" class="js-release-voucher voucher-list__item-box">EASYSHARE
                          <input id="voucherCode" name="voucherCode" hidden="hidden" value="EASYSHARE" type="text"><span class="glyphicon glyphicon-remove js-release-voucher-remove-btn voucher-list__item-remove"></span></span>
                        <div>
                          <input type="hidden" name="CSRFToken" value="c77c1ef2-432b-4883-89e3-f2016935286c">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="subscriptions-subtotal-item item-discount">
                  <div class="subscriptions-subtotal-name">Discount:</div>
                  <div class="subscriptions-subtotal-value">&#45;$0.00</div>
                </div>
                <div class="subscriptions-subtotal-item item-taxes">
                  <div class="subscriptions-subtotal-name">Tax:</div>
                  <div class="subscriptions-subtotal-value">$39.99</div>
                </div>
                <div class="subscriptions-subtotal-item item-total">
                  <div class="subscriptions-subtotal-name">Total:</div>
                  <div class="subscriptions-subtotal-value">$1,098.00</div>
                </div>
              </div>
              <div class="subscriptions-action-buttons">
                <button type="button" class="button form-button">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-left-side">
        <div class="copyright">
          <p>&copy;2016 John Wiley &amp; Sons Inc and all related companies.</p>
          <p>All rights reserved.</p>
        </div>
      </div>
      <div class="footer-right-side">
        <div class="footer-logo"><a href="#"><img src="responsive/theme-blue/images/logo-footer.png"></a></div>
      </div>
    </div>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/header.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>
