buildkit/agsstorefront/jade/update-profile.jade
extends layouts/grid-two-column
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;

block asideNavigation
	include partials/aside-menu
block main
	div(class="main-content")
		div(class="panel-heading")
			h3(class="panel-title text-center text-uppercase")
				span Edit profile
		div(class="panel-body")
			div(class="site-form update-profile-form")
				div(class="form-title")
					| Edit Profile
				form(action="", method="post")
					div(class="block-form")
						div(class="form-cell")
							div(class="form-label")
								| First Name
							div(class="form-field")
								input(type="text", name="firstname", required)
						div(class="form-cell")
							div(class="form-label")
								| Last Name
							div(class="form-field")
								input(type="text", name="lastname", required)
						div(class="form-cell")
							div(class="form-label")
								| Email
							div(class="form-field")
								input(type="email", name="email", required)
					div(class="form-buttons")
						div(class="text-right")
							a(class="link", href="http://news.wiley.com/LP=812",)
								| Click here to update or change your email preferences
						div(class="text-right ")
							button(class="button form-button", type="submit")
								| Save

hybris/bin/custom/wiley/agsstorefront/web/webroot/_ui/responsive/theme-blue/pages/update-profile.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../"><!--[if IE 9]>
    <script>
      (function () {
      	var baseTag = document.getElementsByTagName('base')[0];
      	baseTag.href = baseTag.href;
      })();
    </script><![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="addons/welagsstorefrontcommons/responsive/common/css/welagsstorefrontcommons.css">
    <link rel="stylesheet" type="text/css" media="all" href="addons/liveeditaddon/responsive/common/css/liveeditaddon.css"><!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/ybase-ie9.css">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style-ie9.css"><![endif]-->
    <![if !IE]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css"><![endif]>
    <title>AGS</title>
  </head>
  <body>
    <div class="wrapper two-column-layout">
      <div class="header">
        <div class="header-container">
          <div class="header-left-side"></div>
          <div class="header-title"><a href="#"><img src="responsive/theme-blue/images/logo-header-mobile.png" alt="Architectural Graphic Standards Online" class="logo-header-mobile"><img src="responsive/theme-blue/images/logo-header.png" alt="Architectural Graphic Standards Online" class="logo-header"></a></div>
          <div class="header-right-side"><a href="#" class="logout-link">Logout</a>
          </div>
        </div>
      </div>
      <div id="swipe-area" class="content">
        <div id="aside-menu" class="aside-menu">
          <div class="panel-heading">
            <h3 class="panel-title text-center text-uppercase"><span>My Account</span></h3>
          </div>
          <div class="panel-body">
            <nav class="navigation"><a href="#" class="navigation-item current"><span>Edit profile</span></a><a href="#" class="navigation-item"><span>Change password</span></a><a href="#" class="navigation-item"><span>Manage Subscription</span></a><a href="#" class="navigation-item"><span>Edit Payment</span></a></nav>
          </div>
        </div>
        <div class="main-content">
          <div class="panel-heading">
            <h3 class="panel-title text-center text-uppercase"><span>Edit profile</span></h3>
          </div>
          <div class="panel-body">
            <div class="site-form update-profile-form">
              <div class="form-title">Edit Profile</div>
              <form action="" method="post">
                <div class="block-form">
                  <div class="form-cell">
                    <div class="form-label">First Name</div>
                    <div class="form-field">
                      <input type="text" name="firstname" required>
                    </div>
                  </div>
                  <div class="form-cell">
                    <div class="form-label">Last Name</div>
                    <div class="form-field">
                      <input type="text" name="lastname" required>
                    </div>
                  </div>
                  <div class="form-cell">
                    <div class="form-label">Email</div>
                    <div class="form-field">
                      <input type="email" name="email" required>
                    </div>
                  </div>
                </div>
                <div class="form-buttons">
                  <div class="text-right"><a href="http://news.wiley.com/LP=812" class="link">Click here to update or change your email preferences</a></div>
                  <div class="text-right ">
                    <button type="submit" class="button form-button">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="loader-container">
        <div class="loader-text">Loading...</div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-left-side">
        <div class="copyright">
          <p>&copy;2016 John Wiley &amp; Sons Inc and all related companies.</p>
          <p>All rights reserved.</p>
        </div>
      </div>
      <div class="footer-right-side">
        <div class="footer-logo"><a href="#"><img src="responsive/theme-blue/images/logo-footer.png"></a></div>
      </div>
    </div>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/header.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>
