buildkit/agsstorefront/jade/wpg-payment.jade
extends layouts/grid-wpg
block vars
	- var showLogoutLink = true;
	- var showCurrencySelector = false;
	- var progressLineType = 'account';

block main
	include partials/progress-line

	include partials/feedback-title

	div(class="table-layout")
		div(class="wpg-subscriptions subscriptions")
			div(class="subscriptions-title")
				a(href="#") Back

			div(class="subscriptions-container")
				div(class="subscriptions-header")
					div(class="subscriptions-header-item item-item") Item
					div(class="subscriptions-header-item item-price") Price
					div(class="subscriptions-header-item item-qty") Qty
					div(class="subscriptions-header-item item-total") Total

				div(class="subscriptions-content")
					div(class="subscription")
						div(class="subscription-info")
							h3(class="subscription-title")
								a(class="subscription-title-link", href="#") EASYSHARE Z730 Zoom Digital Camera
							div(class="subscription-description")
								p All the great features of the AGS Site for one year
								p Mayby you have another sing to say here
								p Another bullet point about the product
						div(class="subscription-price-item item-price")
							div(class="subscription-price-name") Price:
							div(class="subscription-price-value") $1470.00
						div(class="subscription-price-item item-qty")
							div(class="subscription-price-name") Qty:
							div(class="subscription-price-value") 1
						div(class="subscription-price-item item-total")
							div(class="subscription-price-name") Total:
							div(class="subscription-price-value") $1470.00

			div(class="subscriptions-footer")
				div(class="subscriptions-subtotal")
					div(class="subscriptions-subtotal-items")
						div(class="subscriptions-subtotal-item item-subtotal")
							div(class="subscriptions-subtotal-name")
								| Subtotal:
							div(class="subscriptions-subtotal-value")
								| $1,098.00
						div(class="subscriptions-subtotal-item item-discount")
							div(class="subscriptions-subtotal-name")
								| Discount:
							div(class="subscriptions-subtotal-value")
								| &#45;$0.00
						div(class="subscriptions-subtotal-item item-tax")
							div(class="subscriptions-subtotal-name")
								| Tax:
							div(class="subscriptions-subtotal-value")
								| $0.00
						div(class="subscriptions-subtotal-item item-total")
							div(class="subscriptions-subtotal-name")
								| Total:
							div(class="subscriptions-subtotal-value")
								| $1,098.00

		div(class="wpg-payment")
			include partials/wpg-payment-iframe

hybris/bin/custom/wiley/agsstorefront/web/webroot/_ui/responsive/theme-blue/pages/wpg-payment.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../"><!--[if IE 9]>
    <script>
      (function () {
      	var baseTag = document.getElementsByTagName('base')[0];
      	baseTag.href = baseTag.href;
      })();
    </script><![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="addons/welagsstorefrontcommons/responsive/common/css/welagsstorefrontcommons.css">
    <link rel="stylesheet" type="text/css" media="all" href="addons/liveeditaddon/responsive/common/css/liveeditaddon.css"><!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/ybase-ie9.css">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style-ie9.css"><![endif]-->
    <![if !IE]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css"><![endif]>
    <title>AGS</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="header-container">
          <div class="header-left-side"></div>
          <div class="header-title"><a href="#"><img src="responsive/theme-blue/images/logo-header-mobile.png" alt="Architectural Graphic Standards Online" class="logo-header-mobile"><img src="responsive/theme-blue/images/logo-header.png" alt="Architectural Graphic Standards Online" class="logo-header"></a></div>
          <div class="header-right-side"><a href="#" class="logout-link">Logout</a>
          </div>
        </div>
      </div>
      <div class="content">
        <ul class="progress-line">
          <li class="step step-completed"><span class="step-number">1</span><span class="step-name step-name-desktop">Create an Account or Log In</span><span class="step-name step-name-mobile">Log In</span></li>
          <li class="step step-completed"><span class="step-number">2</span><span class="step-name">Billing</span></li>
          <li class="step"><span class="step-number">3</span><span class="step-name">Payment</span></li>
          <li class="step"><span class="step-number">4</span><span class="step-name">Order Confirmation</span></li>
        </ul>
        <div class="feedback-title">
          <p>Have a question? You can call 1-877-762-2974 Mon-Fri 9am-9pm, Sat 10am-8pm ET</p>
        </div>
        <div class="table-layout">
          <div class="wpg-subscriptions subscriptions">
            <div class="subscriptions-title"><a href="#">Back</a></div>
            <div class="subscriptions-container">
              <div class="subscriptions-header">
                <div class="subscriptions-header-item item-item">Item</div>
                <div class="subscriptions-header-item item-price">Price</div>
                <div class="subscriptions-header-item item-qty">Qty</div>
                <div class="subscriptions-header-item item-total">Total</div>
              </div>
              <div class="subscriptions-content">
                <div class="subscription">
                  <div class="subscription-info">
                    <h3 class="subscription-title"><a href="#" class="subscription-title-link">EASYSHARE Z730 Zoom Digital Camera</a></h3>
                    <div class="subscription-description">
                      <p>All the great features of the AGS Site for one year</p>
                      <p>Mayby you have another sing to say here</p>
                      <p>Another bullet point about the product</p>
                    </div>
                  </div>
                  <div class="subscription-price-item item-price">
                    <div class="subscription-price-name">Price:</div>
                    <div class="subscription-price-value">$1470.00</div>
                  </div>
                  <div class="subscription-price-item item-qty">
                    <div class="subscription-price-name">Qty:</div>
                    <div class="subscription-price-value">1</div>
                  </div>
                  <div class="subscription-price-item item-total">
                    <div class="subscription-price-name">Total:</div>
                    <div class="subscription-price-value">$1470.00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="subscriptions-footer">
              <div class="subscriptions-subtotal">
                <div class="subscriptions-subtotal-items">
                  <div class="subscriptions-subtotal-item item-subtotal">
                    <div class="subscriptions-subtotal-name">Subtotal:</div>
                    <div class="subscriptions-subtotal-value">$1,098.00</div>
                  </div>
                  <div class="subscriptions-subtotal-item item-discount">
                    <div class="subscriptions-subtotal-name">Discount:</div>
                    <div class="subscriptions-subtotal-value">&#45;$0.00</div>
                  </div>
                  <div class="subscriptions-subtotal-item item-tax">
                    <div class="subscriptions-subtotal-name">Tax:</div>
                    <div class="subscriptions-subtotal-value">$0.00</div>
                  </div>
                  <div class="subscriptions-subtotal-item item-total">
                    <div class="subscriptions-subtotal-name">Total:</div>
                    <div class="subscriptions-subtotal-value">$1,098.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wpg-payment">
            <div id="wpg-iframe">
              <iframe width="400" height="520" frameborder="0" src="https://chttpsandbox.wileypay.com/content/tns/webForm.php?session=x%DAM%92%DBN%DC0%10%86%EFy%8A%15Roc%27qN%D5%D4%08%95%0AP%2BX%ED%82z%ED%C4%13%12ic%1B%DBYH%9F%BENX%C2%FAj%FE9x%BE%FC%0E%5C%BD%0F%87%CD%11%AD%EB%B5%FAq%19G%F4%F2%8A_%80%11vp%1C%B4A%2B%7C%A8p1%FA%0E%C8%97%06%DF%0F%E8%BC%18%0C%8FY%96dU%C5%2AZ%24%14%C8W%01%8E%A8%A4%B6%F77%3C%A1%19%90U%81%B7B%B9%10%D0%D3%89%29K%C3%E0%29%0B%03%FANK%7E%F7%F4%B4%05r%12+%D15%B67%CB%F2%BF%DB%DB%CD%9D%F7fs%1D%A8%B4%ED%FF-L%9B%1D%BE%8Ea5%90%F3%5E8%8A%C3%88%3C%CB%A2%C0%F6%11C3Z%8B%AA%99%F8%F3%FE%06%C8%AA%C0%E2%CB%3C%F2p%0D%E4%14%82%C3P%EE%FD%C4%B1%AC0%CE%E3%9A%C5yAYR%E5%B9%94M%5B%149%D6L%B4i%02dm%05%21%A5E%E7%F8%EB%1B%02%F9%14%60%B4%F3%8D%96%C8%93%E5%00Y%13%D0%E8Qy%3B%FD%9CE%C9%02%E8y%220%B8%F9u%F8%FE%D7%7E%7F%FF%F80%1B%C6%2AF%B3%22f%C5mN%8B2%CDX%F9%BB%98%09%3E%1A%C3%87%F8%D1%AA%ADxA%DE%05%9F%DCwB%9A%25%10J%D6%FA%3Dz%EB%0F8%191E%8D%1E%C2.%E5Qy%E2%95%23%B3%A1%3BtF%2B%87%91%E9%CCl%C4zU%B8%B6%C5%D9%2A%E4%B2%8A%2B%86%AC.sJkV%D7%AC%C14iQ%A6yKsd%F9%3C%F7%D9%0B%B2wF%F8%A6%7B%DE%FDYq%16%B30R%22%0Ak%03%C9%10%08%DC%82%D3j%3B%90o.%BC%E2%D9X0k%F9%23%2F%FE%03%EC%03%EC%B2"></iframe>
            </div>
            <div id="wpg-session-timeout" style="display:none; color:red">Your session has expired. Please <a href="https://eCommerce-UAT-Web-ELB-997773317.us-east-1.elb.amazonaws.com/agsstorefront/ags/en/checkout/multi/billing-address/add" style="text-decoration: underline">go back</a> to make a payment</div>
            <div id="wpg-termsAndConditions">By clicking on Make Payment I agree to the <a href="https://eCommerce-UAT-Web-ELB-997773317.us-east-1.elb.amazonaws.com/agsstorefront/termsAndConditions" target="_blank">Terms and Conditions</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-left-side">
        <div class="copyright">
          <span><a href="https://www.graphicstandards.com/copyright">Copyright © 2000-2016</a> by <a
                  href="http://www.wiley.com" target="_blank">John Wiley &amp; Sons, Inc.</a>, or related companies. All rights reserved.<br>Review our <a
                  href="https://www.graphicstandards.com/privacy-policy">privacy policy</a>.</span>
        </div>
      </div>
      <div class="footer-right-side">
        <div class="footer-logo"><a href="#"><img src="responsive/theme-blue/images/logo-footer.png"></a></div>
      </div>
    </div>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/header.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>
