hybris/bin/custom/wiley/wileyasstorefront/web/webroot/_ui/responsive/common/pages/error-500.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/common/css/style.css">
    <title>500</title>
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <header role="banner" class="header-container nav-down">
            <nav role="navigation" class="header-container-navigation">
              <div class="navbar-header"><a href="javascript:void(0);" title="Wiley" class="navigation-logo"><img src="responsive/common/images/logo-mobile.png" alt="Wiley"></a></div>
              <div id="willey-navbar-collapse" class="collapse navbar-collapse">
                <div class="container-navigation">
                  <div class="container-navigation-item-1"><a href="javascript:void(0);" title="Wiley" class="navigation-logo"><img src="responsive/common/images/logo-desktop.png" alt="Wiley"></a></div>
                </div>
              </div>
            </nav>
          </header>
        </div>
      </div>
      <div class="container error-page">
        <div class="row">
          <div class="col-xs-12">
            <div class="error-block"><img src="responsive/common/images/500error_icon@2x.png" class="error-image">
              <h1 class="error-title">SERVER ERROR (500)</h1>
              <p class="error-text">Apologies, we are currently experiencing a server error.<br>Please try again later or &nbsp;<a href="#">contact us</a>&nbsp; if this issue persists.</p>
            </div>
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <div class="footer-copyright"><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/wiley-logo-footer@3x.png" alt="Wiley logo"></a>
            <div class="footer-copyright-text">
              <p>Copyright © 2000-
                <script>document.write(new Date().getFullYear())</script> by John Wiley & Sons, Inc., or related companies. All rights reserved.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel-2.min.js"></script>
    <script src="responsive/common/js/jquery-ui-1.12.1.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/jquery.validate.min.js"></script>
    <script src="responsive/common/js/jsvat.custom.js"></script>
    <script src="responsive/common/js/jquery.mask.min.js"></script>
    <script src="responsive/common/js/jquery.truncate.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>

buildkit/wileyasstorefront/jade/error-500.jade
extends layouts/grid-error-page

block vars
	- var pageTitle = "500";
	- var headTitleText =  pageTitle;
	- var containerCSSClass = "error-page";
	- var emptyHeader = true;
	- var emptyFooter = true;

block center
	.error-block
		img(class="error-image" src="responsive/common/images/500error_icon@2x.png")
		h1.error-title SERVER ERROR (500)
		p.error-text
			| Apologies, we are currently experiencing a server error.
			br
			| Please try again later or &nbsp;
			a(href="#") contact us
			| &nbsp; if this issue persists.
