buildkit/wileyasstorefront/jade/shopping-cart-empty.jade
extends layouts/grid-main

block vars
	- var pageTitle = "Shopping Cart Empty";
	- var headTitleText =  pageTitle;
	- var containerCSSClass = "shopping-cart-page";

block center
	div(class="shopping-cart-top")
		div(class="product-cart-id") Cart ID:
			b  00024002
		h1(class="main-page-title icon-shopping-cart") Shopping Cart
	div.shopping-cart-empty
		.content
			div(class="products-table")
				div(class="table-head")
					div(class="table-head-item item-product") Product
					div(class="table-head-item item-quantity") Quantity
					div(class="table-head-item item-total") Total
				div(class="table-body")
					div(class="table-body-row")
						img(src="responsive/common/images/empty_cart.png", srcset="responsive/common/images/empty_cart@2x.png 2x, responsive/common/images/empty_cart@3x.png 3x")
						div.empty-cart-title Your Shopping Cart is Empty
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
						a(href="#", class="button button-add-services button-main", title="Add More Services") Add More Services
	div(class="shopping-cart-bottom")
		div(class="shopping-cart-action-buttons")
			div.action-buttons-mobile-wrapper
				a(href="#", class="button button-paypal disabled", title="Proceed to checkout")
				a(href="#", class="button button-main disabled", title="Proceed to checkout") Proceed to checkout
	include shopping-cart/recommended-products
	include modals/new-cart-modal

hybris/bin/custom/wiley/wileyasstorefront/web/webroot/_ui/responsive/common/pages/shopping-cart-empty.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/common/css/style.css">
    <title>Shopping Cart Empty</title>
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <header role="banner" class="header-container nav-down">
            <nav role="navigation" class="header-container-navigation">
              <div class="navbar-header">
                <div type="button" data-toggle="collapse" data-target="#willey-navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="patty"></span></div><a href="javascript:void(0);" title="Wiley" class="navigation-logo"><img src="responsive/common/images/logo-mobile.png" alt="Wiley"></a>
                <div class="header-title-mobile">Menu</div>
              </div>
              <div id="willey-navbar-collapse" class="collapse navbar-collapse">
                <div class="container-navigation">
                  <div class="container-navigation-item-1"><a href="javascript:void(0);" title="Wiley" class="navigation-logo"><img src="responsive/common/images/logo-desktop.png" alt="Wiley"></a></div>
                  <div class="container-navigation-item-2">
                    <div class="navigation-menu">
                      <div class="menu-item"><a href="" title="">My Dashboard</a></div>
                      <div class="dropdown show menu-item menu-item-dropdown"><a href="#" role="button" id="menu-dropdown-help-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Help</a>
                        <div aria-labelledby="menu-dropdown-help-block" class="dropdown-menu"><a href="#" class="dropdown-item selected">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a></div>
                      </div>
                      <div class="menu-item user-name">Username:<span>John Parker Maria Luiza Pereira Junior Senior</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </header>
        </div>
      </div>
      <div class="container shopping-cart-page">
        <div class="row">
          <div class="col-xs-12">
            <div class="shopping-cart-top">
              <div class="product-cart-id">Cart ID:<b> 00024002</b></div>
              <h1 class="main-page-title icon-shopping-cart">Shopping Cart</h1>
            </div>
            <div class="shopping-cart-empty">
              <div class="content">
                <div class="products-table">
                  <div class="table-head">
                    <div class="table-head-item item-product">Product</div>
                    <div class="table-head-item item-quantity">Quantity</div>
                    <div class="table-head-item item-total">Total</div>
                  </div>
                  <div class="table-body">
                    <div class="table-body-row"><img src="responsive/common/images/empty_cart.png" srcset="responsive/common/images/empty_cart@2x.png 2x, responsive/common/images/empty_cart@3x.png 3x">
                      <div class="empty-cart-title">Your Shopping Cart is Empty</div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p><a href="#" title="Add More Services" class="button button-add-services button-main">Add More Services</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="shopping-cart-bottom">
              <div class="shopping-cart-action-buttons">
                <div class="action-buttons-mobile-wrapper"><a href="#" title="Proceed to checkout" class="button button-paypal disabled"></a><a href="#" title="Proceed to checkout" class="button button-main disabled">Proceed to checkout</a></div>
              </div>
            </div>
            <div class="recommended-items-wrapper">
              <div class="recommended-items-title">You May Also Like</div>
              <div class="recommended-items-carousel-wrapper">
                <div class="recommended-items owl-carousel">
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="My super super Product. You should buy it for sure, please buy it, the cos is not so much, but it's very useful for you and will make you happy" class="recommended-item-title">My super super Product. You should buy it for sure, please buy it, the cos is not so much, but it's very useful for you and will make you happy</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="Product long name Product long name Product long name" class="recommended-item-title">Product long name Product long name Product long name</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="My super super Poster You should buy it for sure, please buy it" class="recommended-item-title">My super super Poster You should buy it for sure, please buy i</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="Collaborative Authoring Tool" class="recommended-item-title">Collaborative Authoring Tool</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="My super super Poster You should buy it for sure, please buy it" class="recommended-item-title">My super super Poster You should buy it for sure, please buy it</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="Poster" class="recommended-item-title">Poster</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="Poster" class="recommended-item-title">Poster</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal-->
            <div id="newCartModal" tabindex="-1" role="dialog" aria-labelledby="newCartModalTitle" aria-hidden="true" class="modal fade">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <form>
                    <div class="modal-header">
                      <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
                      <h4 id="newCartModalTitle" class="modal-title">NEW CART</h4>
                    </div>
                    <div class="modal-body">
                      <div class="modal-info">Your cart will be moved to Saved Cart list.</div>
                      <div class="form-wrapper">
                        <div class="input-group characters-counter">
                          <div class="form-field">
                            <label for="newCartName">Name</label>
                            <input id="newCartName" maxlength="5" name="newCartName" type="text" placeholder="Enter name" required class="form-control">
                          </div><i class="characters-counter-result">Characters left:&nbsp;<span class="characters-counter-value"></span></i>
                        </div>
                        <div class="input-group characters-counter">
                          <div class="form-field">
                            <label for="newCartDescription">Description</label>
                            <textarea id="newCartDescription" maxlength="250" name="newCartDescription" placeholder="Enter description" class="form-control"></textarea>
                          </div><i class="characters-counter-result">Characters left:&nbsp;<span class="characters-counter-value"></span></i>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" data-dismiss="modal" class="button button-red">Cancel</button>
                      <button type="button" class="button button-main">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <nav class="main-footer-nav">
            <div class="main-footer-nav-item"><a href="" title="Wiley.com">Wiley.com</a></div>
            <div class="main-footer-nav-item"><a href="" title="Wiley Online Library">Wiley Online Library</a></div>
            <div class="main-footer-nav-item"><a href="" title="Privacy Policy">Privacy Policy</a></div>
            <div class="main-footer-nav-item"><a href="" title="Terms &amp; Conditions">Terms & Conditions</a></div>
            <div class="main-footer-nav-item"><a href="" title="Contact us">Contact us</a></div>
            <div class="main-footer-nav-item"><a href="" title="Help">Help</a></div>
          </nav>
          <div class="footer-copyright"><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/wiley-logo-footer@3x.png" alt="Wiley logo"></a>
            <div class="footer-copyright-text">
              <p>Copyright © 2000-
                <script>document.write(new Date().getFullYear())</script> by John Wiley & Sons, Inc., or related companies. All rights reserved.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel-2.min.js"></script>
    <script src="responsive/common/js/jquery-ui-1.12.1.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/jquery.validate.min.js"></script>
    <script src="responsive/common/js/jsvat.custom.js"></script>
    <script src="responsive/common/js/jquery.mask.min.js"></script>
    <script src="responsive/common/js/jquery.truncate.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>
