hybris/bin/custom/wiley/wileyasstorefront/web/webroot/_ui/responsive/common/pages/shopping-cart-confirmation.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/common/css/style.css">
    <title>Shopping Cart Confirmation</title>
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <header role="banner" class="header-container nav-down">
            <nav role="navigation" class="header-container-navigation">
              <div class="navbar-header">
                <div type="button" data-toggle="collapse" data-target="#willey-navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="patty"></span></div><a href="javascript:void(0);" title="Wiley" class="navigation-logo"><img src="responsive/common/images/logo-mobile.png" alt="Wiley"></a>
                <div class="header-title-mobile">Menu</div>
              </div>
              <div id="willey-navbar-collapse" class="collapse navbar-collapse">
                <div class="container-navigation">
                  <div class="container-navigation-item-1"><a href="javascript:void(0);" title="Wiley" class="navigation-logo"><img src="responsive/common/images/logo-desktop.png" alt="Wiley"></a></div>
                  <div class="container-navigation-item-2">
                    <div class="navigation-menu">
                      <div class="menu-item"><a href="" title="">My Dashboard</a></div>
                      <div class="dropdown show menu-item menu-item-dropdown"><a href="#" role="button" id="menu-dropdown-help-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Help</a>
                        <div aria-labelledby="menu-dropdown-help-block" class="dropdown-menu"><a href="#" class="dropdown-item selected">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a></div>
                      </div>
                      <div class="menu-item user-name">Username:<span>John Parker Maria Luiza Pereira Junior Senior</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </header>
          <div class="checkout-breadcrumb">
            <div class="breadcrumb-item done"><span class="status">1</span>Shopping Cart</div>
            <div class="breadcrumb-item in-progress"><span class="status">2</span>Checkout</div>
            <div class="breadcrumb-item next"><span class="status">3</span>Confirmation</div>
          </div>
          <div class="flash-message-wrapper">
            <div class="flash-message informational">
              <div class="container"><span class="flash-message-text">Error processing card info. Please call &nbsp;<a href="#">customer service</a></span>
                <button class="close"><span>×</span></button>
              </div>
            </div>
            <div class="flash-message success">
              <div class="container"><span class="flash-message-text">Error processing card info. Please call &nbsp;<a href="#">customer service</a></span>
                <button class="close"><span>×</span></button>
              </div>
            </div>
            <div class="flash-message warning">
              <div class="container"><span class="flash-message-text">Error processing card info. Please call &nbsp;<a href="#">customer service</a></span>
                <button class="close"><span>×</span></button>
              </div>
            </div>
            <div class="flash-message error">
              <div class="container"><span class="flash-message-text">Error processing card info. Error processing card info. Error processing card info. Error processing card info. Error processing card info. Please call &nbsp;<a href="#">customer service</a></span>
                <button class="close"><span>×</span></button>
              </div>
            </div>
          </div>
          <div class="flash-message-wrapper">
            <div class="flash-message informational">
              <div class="container"><span class="flash-message-text">Error processing card info. Please call &nbsp;<a href="#">customer service</a></span>
                <button class="close"><span>×</span></button>
              </div>
            </div>
            <div class="flash-message success">
              <div class="container"><span class="flash-message-text">Error processing card info. Please call &nbsp;<a href="#">customer service</a></span>
                <button class="close"><span>×</span></button>
              </div>
            </div>
            <div class="flash-message warning">
              <div class="container"><span class="flash-message-text">Error processing card info. Please call &nbsp;<a href="#">customer service</a></span>
                <button class="close"><span>×</span></button>
              </div>
            </div>
            <div class="flash-message error">
              <div class="container"><span class="flash-message-text">Error processing card info. Error processing card info. Error processing card info. Error processing card info. Error processing card info. Please call &nbsp;<a href="#">customer service</a></span>
                <button class="close"><span>×</span></button>
              </div>
            </div>
          </div>
          <div class="flash-message-wrapper">
            <div class="flash-message informational">
              <div class="container"><span class="flash-message-text">Error processing card info. Please call &nbsp;<a href="#">customer service</a></span>
                <button class="close"><span>×</span></button>
              </div>
            </div>
            <div class="flash-message success">
              <div class="container"><span class="flash-message-text">Error processing card info. Please call &nbsp;<a href="#">customer service</a></span>
                <button class="close"><span>×</span></button>
              </div>
            </div>
            <div class="flash-message warning">
              <div class="container"><span class="flash-message-text">Error processing card info. Please call &nbsp;<a href="#">customer service</a></span>
                <button class="close"><span>×</span></button>
              </div>
            </div>
            <div class="flash-message error">
              <div class="container"><span class="flash-message-text">Error processing card info. Error processing card info. Error processing card info. Error processing card info. Error processing card info. Please call &nbsp;<a href="#">customer service</a></span>
                <button class="close"><span>×</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container shopping-cart-page shopping-cart-confirmation">
        <div class="row">
          <div class="col-xs-12">
            <div class="shopping-cart-top">
              <div class="product-cart-id">Cart ID:<b> 00024002</b></div>
              <h1 class="main-page-title icon-shopping-cart">Confirmation</h1>
            </div>
            <div class="confirmation-message-block">
              <div class="confirmation-message-title">Thank you. Your order was successful!</div>
              <p>Thank you for submitting your order. Your order number is &nbsp;<b>00024002</b>.A copy of your order details has been sent to &nbsp;<a href="mailto:author_mail@gmail.com">author_mail@gmail.com</a>&nbsp;If you have selected to pay by invoice, you will receive an email with the invoice attached within 24-48 hours. If you have any questions, please contact
                Wiley Author Support via this &nbsp;<b>form.</b>
              </p>
            </div>
            <div class="confirmation-order-review">
              <div class="confirmation-order-summary">
                <h3 class="order-review-section-title">Order Summary</h3>
                <div class="order-review-items-list">
                  <div class="order-review-item">
                    <div class="order-review-label">Order Number</div>
                    <div class="order-review-value"><b>00024002</b></div>
                  </div>
                  <div class="order-review-item">
                    <div class="order-review-label">Date Placed</div>
                    <div class="order-review-value">19 September 2017  10:00 AM</div>
                  </div>
                  <div class="order-review-item">
                    <div class="order-review-label">Order Total</div>
                    <div class="order-review-value">$2,536.00</div>
                  </div>
                </div>
              </div>
              <div class="form-wrapper order-review-block">
                <div class="form-top">
                  <div class="form-title">Product Details</div>
                  <div id="orderReviewProductTable" class="order-review-table">
                    <div class="products-table">
                      <div class="table-head">
                        <div class="table-head-item item-product">Product</div>
                        <div class="table-head-item item-quantity">Quantity</div>
                        <div class="table-head-item item-total">Total</div>
                      </div>
                      <div class="table-body">
                        <div class="table-body-row">
                          <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-1.png" alt="product image"></div>
                          <div class="table-body-mobile-wrap">
                            <div class="table-body-item item-description"><span class="product-label">ONLINE OPEN</span>
                              <h4 class="item-description-title">Advanced Science</h4>
                              <p class="item-description-text">
                                Exploitation of the Large-Area Basal Plane of MoS2 and Preparation of Bifunctional
                                Catalysts through On-Surface Self-Assembly
                              </p>
                              <div class="description-extra-info">
                                <div class="extra-item">
                                  <p class="item-title">DOI</p>
                                  <p class="item-value">10.1002/cam4.2864</p>
                                </div>
                                <div class="extra-item">
                                  <p class="item-title">Delivery Date</p>
                                  <p class="item-value">25/07/2017</p>
                                </div>
                                <div class="extra-item">
                                  <p class="item-title">Level of Service</p>
                                  <p class="item-value">Basic</p>
                                </div>
                              </div>
                            </div>
                            <div class="table-body-item item-quantity">
                              <p class="item-title-mobile">Quantity</p>
                              <p class="item-value">2</p>
                            </div>
                            <div class="table-body-item item-total">
                              <p class="item-title-mobile">Total</p>
                              <p class="item-value">$2,500.00</p>
                            </div>
                          </div>
                        </div>
                        <div class="table-body-row">
                          <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-2.png" alt="product image"></div>
                          <div class="table-body-mobile-wrap">
                            <div class="table-body-item item-description"><span class="product-label">COLOR CHARGE</span>
                              <h4 class="item-description-title">Groupthink and outcomes of health care teams</h4>
                              <p class="item-description-text">
                                Speaking up in Defense of Teamwork Training Towards
                                Patient Safety: A Response
                              </p>
                            </div>
                            <div class="table-body-item item-quantity">
                              <p class="item-quantity-mobile">Quantity</p>
                              <p class="item-value">2</p>
                            </div>
                            <div class="table-body-item item-total">
                              <p class="item-title-mobile"><b>Total</b></p>
                              <p class="item-value"><b>$2,500.00</b></p>
                            </div>
                          </div>
                        </div>
                        <div class="table-body-row">
                          <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-3.png" alt="product image"></div>
                          <div class="table-body-mobile-wrap">
                            <div class="table-body-item item-description"><span class="product-label">PUBLICATION CHARGE</span>
                              <h4 class="item-description-title">Pharmacy Practice and Research</h4>
                              <p class="item-description-text">
                                Speaking up in Defense of Teamwork Training Towards
                                Patient Safety: A Response
                              </p>
                            </div>
                            <div class="table-body-item item-quantity">
                              <p class="item-title-mobile">Quantity</p>
                              <p class="item-value">2</p>
                            </div>
                            <div class="table-body-item item-total">
                              <p class="item-title-mobile">Total</p>
                              <p class="item-value">$320.00</p>
                            </div>
                          </div>
                          <div class="item-price-discount">
                            <p>* You received a 10% discount on this product</p>
                          </div>
                        </div>
                        <div class="table-body-row">
                          <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-4.png" alt="product image"></div>
                          <div class="table-body-mobile-wrap">
                            <div class="table-body-item item-description"><span class="product-label">PAGE CHARGE</span>
                              <h4 class="item-description-title">Macromolecular Theory and Simulations</h4>
                              <p class="item-description-text">
                                Network Polydispersity and Deformation-Induced Damage in
                                Filled Elastomers
                              </p>
                            </div>
                            <div class="table-body-item item-quantity">
                              <p class="item-title-mobile">Quantity</p>
                              <p class="item-value">2</p>
                            </div>
                            <div class="table-body-item item-total">
                              <p class="item-title-mobile">Total</p>
                              <p class="item-value">$200.00</p>
                            </div>
                          </div>
                          <div class="item-price-discount">
                            <p>* You received a 10% discount on this product</p>
                          </div>
                        </div>
                        <div class="table-body-row">
                          <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-5.png" alt="product image"></div>
                          <div class="table-body-mobile-wrap">
                            <div class="table-body-item item-description"><span class="product-label">COVER CHARGE</span>
                              <h4 class="item-description-title">Advanced Healthcare Materials</h4>
                              <p class="item-description-text">
                                Connecting Biology to Electronics: Molecular
                                Communication via Redox Modality
                              </p>
                            </div>
                            <div class="table-body-item item-quantity">
                              <p class="item-title-mobile">Quantity</p>
                              <p class="item-value">2</p>
                            </div>
                            <div class="table-body-item item-total">
                              <p class="item-title-mobile">Total</p>
                              <p class="item-value">$150.00</p>
                            </div>
                          </div>
                          <div class="item-price-discount">
                            <p>* You received a 10% discount on this product</p>
                          </div>
                        </div>
                        <div class="table-body-row">
                          <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                          <div class="table-body-mobile-wrap">
                            <div class="table-body-item item-description"><span class="product-label">EDITING SERVICE</span>
                              <h4 class="item-description-title">Advanced Healthcare Materials</h4>
                            </div>
                            <div class="table-body-item item-quantity">
                              <p class="item-title-mobile">Quantity</p>
                              <p class="item-value">2</p>
                            </div>
                            <div class="table-body-item item-total">
                              <p class="item-title-mobile">Total</p>
                              <p class="item-value">$200.00</p>
                            </div>
                          </div>
                          <div class="item-price-discount">
                            <p>* You received a 10% discount on this product</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-summ-total">
                      <div class="total-row">
                        <div class="item-total-label">Subtotal</div>
                        <div class="item-total-value">$4,320.00</div>
                      </div>
                      <div class="total-row">
                        <div class="item-total-label">Taxes</div>
                        <div class="item-total-value">$136.00</div>
                      </div>
                      <div class="total-row">
                        <div class="item-total-label">Discounts</div>
                        <div class="item-total-value">- $100.00</div>
                      </div>
                      <div class="total-row">
                        <div class="item-total-label">Total</div>
                        <div class="item-total-value">$4,356.00</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content order-review-payment">
                  <h3 class="order-review-section-title">Payment</h3>
                  <div class="order-review-items-list">
                    <div class="order-review-item">
                      <div class="order-review-label">Payment Method</div>
                      <div class="order-review-value">Credit card</div>
                    </div>
                    <div class="order-review-item">
                      <div class="order-review-label">Payment Type</div>
                      <div class="order-review-value">Visa   **** - **** - **** - 1234</div>
                    </div>
                  </div>
                </div>
                <div class="tab-content order-review-billing">
                  <h3 class="order-review-section-title">Billing Information</h3>
                  <div class="order-review-items-list">
                    <div class="order-review-item">
                      <div class="order-review-label">Name</div>
                      <div class="order-review-value">Nicole Ruffin</div>
                    </div>
                    <div class="order-review-item">
                      <div class="order-review-label">University</div>
                      <div class="order-review-value">Louisiana State University</div>
                    </div>
                    <div class="order-review-item">
                      <div class="order-review-label">Department</div>
                      <div class="order-review-value">Business & Management</div>
                    </div>
                    <div class="order-review-item">
                      <div class="order-review-label">Address</div>
                      <div class="order-review-value">1893 Wescam Court, Medina, NY 14103, United States</div>
                    </div>
                    <div class="order-review-item">
                      <div class="order-review-label">Phone Number</div>
                      <div class="order-review-value">7812223714</div>
                    </div>
                    <div class="order-review-item">
                      <div class="order-review-label">Email Address</div>
                      <div class="order-review-value">nicolebruffin@gmail.com</div>
                    </div>
                  </div>
                  <h3 class="order-review-section-title">Tax Exemption Details</h3>
                  <div class="order-review-items-list">
                    <div class="order-review-item">
                      <div class="order-review-label">Tax Number</div>
                      <div class="order-review-value">20260743</div>
                    </div>
                    <div class="order-review-item">
                      <div class="order-review-label">Tax Code Expiration Date</div>
                      <div class="order-review-value">21 September 2017</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="discount-coupon-block">
              <p>Thank you for submitting your payment</p>
              <p class="blue">You've earned the following coupon!</p>
              <div class="discount-coupon">
                <div class="discount-coupon-amount">25% discount</div>
                <p>on your next purchase</p><span class="button button-main small">Buymore16</span>
              </div>
            </div>
            <div class="shopping-cart-survey-block">
              <form name="shopping-cart-survey" id="shopping-cart-survey-form">
                <h4 class="shopping-cart-survey-title">Help us improve your experience</h4>
                <p>Indicate your agreement with the following statement. “It was easy and straighforward to pay for my journal article."</p>
                <ul class="shopping-cart-survey-list">
                  <li class="radio-button-component">
                    <label>
                      <input type="radio" name="shopping-cart-survey" value="StronglyDisagree"><span>Strongly disagree</span>
                    </label>
                  </li>
                  <li class="radio-button-component">
                    <label>
                      <input type="radio" name="shopping-cart-survey" value="disagree"><span>Disagree</span>
                    </label>
                  </li>
                  <li class="radio-button-component">
                    <label>
                      <input type="radio" name="shopping-cart-survey" value="NeitherAgreeNotDisagree"><span>Neither agree not disagree</span>
                    </label>
                  </li>
                  <li class="radio-button-component">
                    <label>
                      <input type="radio" name="shopping-cart-survey" value="agree"><span>Agree</span>
                    </label>
                  </li>
                  <li class="radio-button-component">
                    <label>
                      <input type="radio" name="shopping-cart-survey" value="StronglyAgree"><span>Strongly agree</span>
                    </label>
                  </li>
                </ul>
                <p>Please add any comments below to expand on your reply.</p>
                <div class="input-group">
                  <div class="form-field">
                    <textarea id="shoppingCartSurveyComments" maxlength="250" name="newCartDescription" placeholder="Enter comments" class="form-control"></textarea>
                  </div>
                </div>
                <button disabled type="submit" class="button right small">Submit</button>
              </form>
            </div><a href="#" class="button button-main back-button">Back to Dashboard</a>
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <nav class="main-footer-nav">
            <div class="main-footer-nav-item"><a href="" title="Wiley.com">Wiley.com</a></div>
            <div class="main-footer-nav-item"><a href="" title="Wiley Online Library">Wiley Online Library</a></div>
            <div class="main-footer-nav-item"><a href="" title="Privacy Policy">Privacy Policy</a></div>
            <div class="main-footer-nav-item"><a href="" title="Terms &amp; Conditions">Terms & Conditions</a></div>
            <div class="main-footer-nav-item"><a href="" title="Contact us">Contact us</a></div>
            <div class="main-footer-nav-item"><a href="" title="Help">Help</a></div>
          </nav>
          <div class="footer-copyright"><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/wiley-logo-footer@3x.png" alt="Wiley logo"></a>
            <div class="footer-copyright-text">
              <p>Copyright © 2000-
                <script>document.write(new Date().getFullYear())</script> by John Wiley & Sons, Inc., or related companies. All rights reserved.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel-2.min.js"></script>
    <script src="responsive/common/js/jquery-ui-1.12.1.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/jquery.validate.min.js"></script>
    <script src="responsive/common/js/jsvat.custom.js"></script>
    <script src="responsive/common/js/jquery.mask.min.js"></script>
    <script src="responsive/common/js/jquery.truncate.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>

buildkit/wileyasstorefront/jade/shopping-cart-confirmation.jade
extends layouts/grid-main

block vars
    - var pageTitle = "Shopping Cart Confirmation";
    - var headTitleText =  pageTitle;
    - var containerCSSClass = "shopping-cart-page shopping-cart-confirmation";
    - var checkoutBreadcrumb = true;
    - var errorMessage = true;
    - var tooltipContent = "Registration codes are used to access WileyPLUS. The can be purchased separately or as part of a bundle.";

block center
    div(class="shopping-cart-top")
        div(class="product-cart-id") Cart ID:
            b  00024002
        h1(class="main-page-title icon-shopping-cart") Confirmation
    div(class="confirmation-message-block")
        div(class="confirmation-message-title") Thank you. Your order was successful!
        p
            | Thank you for submitting your order. Your order number is &nbsp;
            b 00024002
            | .A copy of your order details has been sent to &nbsp;
            a(href="mailto:author_mail@gmail.com") author_mail@gmail.com
            | &nbsp;If you have selected to pay by invoice, you will receive an email with the invoice attached within 24-48 hours. If you have any questions, please contact
            | Wiley Author Support via this &nbsp;
            b form.
    div(class="confirmation-order-review")
        div(class="confirmation-order-summary")
            h3(class="order-review-section-title") Order Summary
            div.order-review-items-list
                div.order-review-item
                    div.order-review-label Order Number
                    div.order-review-value
                        b 00024002
                div.order-review-item
                    div.order-review-label Date Placed
                    div.order-review-value 19 September 2017  10:00 AM
                div.order-review-item
                    div.order-review-label Order Total
                    div.order-review-value $2,536.00

        div(class="form-wrapper order-review-block")
            div(class="form-top")
                div(class="form-title") Product Details
                div(class="order-review-table", id="orderReviewProductTable")
                    div(class="products-table")
                        div(class="table-head")
                            div(class="table-head-item item-product") Product
                            div(class="table-head-item item-quantity") Quantity
                            div(class="table-head-item item-total") Total
                        div(class="table-body")
                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-1.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") ONLINE OPEN
                                        h4(class="item-description-title") Advanced Science
                                        p(class="item-description-text")
                                            | Exploitation of the Large-Area Basal Plane of MoS2 and Preparation of Bifunctional
                                            | Catalysts through On-Surface Self-Assembly
                                        div(class="description-extra-info")
                                            div(class="extra-item")
                                                p(class="item-title") DOI
                                                p(class="item-value") 10.1002/cam4.2864
                                            div(class="extra-item")
                                                p(class="item-title") Delivery Date
                                                p(class="item-value") 25/07/2017
                                            div(class="extra-item")
                                                p(class="item-title") Level of Service
                                                p(class="item-value") Basic
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $2,500.00

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-2.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") COLOR CHARGE
                                        h4(class="item-description-title") Groupthink and outcomes of health care teams
                                        p(class="item-description-text")
                                            | Speaking up in Defense of Teamwork Training Towards
                                            | Patient Safety: A Response
                                    div(class="table-body-item item-quantity")
                                        p(class="item-quantity-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile")
                                            b Total
                                        p(class="item-value")
                                            b $2,500.00

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-3.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") PUBLICATION CHARGE
                                        h4(class="item-description-title") Pharmacy Practice and Research
                                        p(class="item-description-text")
                                            | Speaking up in Defense of Teamwork Training Towards
                                            | Patient Safety: A Response
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $320.00
                                div(class="item-price-discount")
                                    p * You received a 10% discount on this product

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-4.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") PAGE CHARGE
                                        h4(class="item-description-title") Macromolecular Theory and Simulations
                                        p(class="item-description-text")
                                            | Network Polydispersity and Deformation-Induced Damage in
                                            | Filled Elastomers
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $200.00
                                div(class="item-price-discount")
                                    p * You received a 10% discount on this product

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-5.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") COVER CHARGE
                                        h4(class="item-description-title") Advanced Healthcare Materials
                                        p(class="item-description-text")
                                            | Connecting Biology to Electronics: Molecular
                                            | Communication via Redox Modality
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $150.00
                                div(class="item-price-discount")
                                    p * You received a 10% discount on this product

                            div(class="table-body-row")
                                div(class="table-body-item item-image")
                                    img(src="responsive/common/images/product-cart-image-6.png", alt="product image")
                                div(class="table-body-mobile-wrap")
                                    div(class="table-body-item item-description")
                                        span(class="product-label") EDITING SERVICE
                                        h4(class="item-description-title") Advanced Healthcare Materials
                                    div(class="table-body-item item-quantity")
                                        p(class="item-title-mobile") Quantity
                                        p(class="item-value") 2
                                    div(class="table-body-item item-total")
                                        p(class="item-title-mobile") Total
                                        p(class="item-value") $200.00
                                div(class="item-price-discount")
                                    p * You received a 10% discount on this product

                    .product-summ-total
                        .total-row
                            .item-total-label Subtotal
                            .item-total-value $4,320.00
                        .total-row
                            .item-total-label Taxes
                            .item-total-value $136.00
                        .total-row
                            .item-total-label Discounts
                            .item-total-value - $100.00
                        .total-row
                            .item-total-label Total
                            .item-total-value $4,356.00

            div(class="tab-content order-review-payment")
                h3.order-review-section-title Payment
                div.order-review-items-list
                    div.order-review-item
                        div.order-review-label Payment Method
                        div.order-review-value Credit card
                    div.order-review-item
                        div.order-review-label Payment Type
                        div.order-review-value Visa   **** - **** - **** - 1234
            div(class="tab-content order-review-billing")
                h3.order-review-section-title Billing Information
                div.order-review-items-list
                    div.order-review-item
                        div.order-review-label Name
                        div.order-review-value Nicole Ruffin
                    div.order-review-item
                        div.order-review-label University
                        div.order-review-value Louisiana State University
                    div.order-review-item
                        div.order-review-label Department
                        div.order-review-value Business & Management
                    div.order-review-item
                        div.order-review-label Address
                        div.order-review-value 1893 Wescam Court, Medina, NY 14103, United States
                    div.order-review-item
                        div.order-review-label Phone Number
                        div.order-review-value 7812223714
                    div.order-review-item
                        div.order-review-label Email Address
                        div.order-review-value nicolebruffin@gmail.com
                h3.order-review-section-title Tax Exemption Details
                div.order-review-items-list
                    div.order-review-item
                        div.order-review-label Tax Number
                        div.order-review-value 20260743
                    div.order-review-item
                        div.order-review-label Tax Code Expiration Date
                        div.order-review-value 21 September 2017
    div.discount-coupon-block
        p Thank you for submitting your payment
        p.blue You've earned the following coupon!
        div.discount-coupon
            div.discount-coupon-amount 25% discount
            p on your next purchase
            span.button.button-main.small Buymore16

    div.shopping-cart-survey-block
        form(name="shopping-cart-survey", id="shopping-cart-survey-form")
            h4.shopping-cart-survey-title Help us improve your experience
            p Indicate your agreement with the following statement. “It was easy and straighforward to pay for my journal article."
            ul.shopping-cart-survey-list
                li.radio-button-component
                    label
                        input(type="radio", name="shopping-cart-survey", value="StronglyDisagree")
                        span Strongly disagree
                li.radio-button-component
                    label
                        input(type="radio", name="shopping-cart-survey", value="disagree")
                        span Disagree
                li.radio-button-component
                    label
                        input(type="radio", name="shopping-cart-survey", value="NeitherAgreeNotDisagree")
                        span Neither agree not disagree
                li.radio-button-component
                    label
                        input(type="radio", name="shopping-cart-survey", value="agree")
                        span Agree
                li.radio-button-component
                    label
                        input(type="radio", name="shopping-cart-survey", value="StronglyAgree")
                        span Strongly agree
            p Please add any comments below to expand on your reply.
            .input-group
                .form-field
                    textarea#shoppingCartSurveyComments.form-control(maxlength='250', name='newCartDescription', placeholder='Enter comments')

            button.button.right.small(disabled, type='submit') Submit
    a(href="#", class="button button-main back-button") Back to Dashboard
