buildkit/wileyasstorefront/jade/shopping-cart-order-history-empty.jade
extends layouts/grid-main

block vars
    - var pageTitle = "Shopping Cart Order History";
    - var headTitleText =  pageTitle;
    - var containerCSSClass = "shopping-cart-page shopping-cart-order-history-empty";
    - var checkoutBreadcrumb = false;
    - var errorMessage = false;
    - var tooltipContent = "Registration codes are used to access WileyPLUS. The can be purchased separately or as part of a bundle.";

block center
    div(class="shopping-cart-top")
        h1(class="main-page-title icon-confirmation") Order history
    div.no-orders-found
        p No Orders Found

hybris/bin/custom/wiley/wileyasstorefront/web/webroot/_ui/responsive/common/pages/shopping-cart-order-history-empty.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/common/css/style.css">
    <title>Shopping Cart Order History</title>
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <header role="banner" class="header-container nav-down">
            <nav role="navigation" class="header-container-navigation">
              <div class="navbar-header">
                <div type="button" data-toggle="collapse" data-target="#willey-navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="patty"></span></div><a href="javascript:void(0);" title="Wiley" class="navigation-logo"><img src="responsive/common/images/logo-mobile.png" alt="Wiley"></a>
                <div class="header-title-mobile">Menu</div>
              </div>
              <div id="willey-navbar-collapse" class="collapse navbar-collapse">
                <div class="container-navigation">
                  <div class="container-navigation-item-1"><a href="javascript:void(0);" title="Wiley" class="navigation-logo"><img src="responsive/common/images/logo-desktop.png" alt="Wiley"></a></div>
                  <div class="container-navigation-item-2">
                    <div class="navigation-menu">
                      <div class="menu-item"><a href="" title="">My Dashboard</a></div>
                      <div class="dropdown show menu-item menu-item-dropdown"><a href="#" role="button" id="menu-dropdown-help-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Help</a>
                        <div aria-labelledby="menu-dropdown-help-block" class="dropdown-menu"><a href="#" class="dropdown-item selected">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a></div>
                      </div>
                      <div class="menu-item user-name">Username:<span>John Parker Maria Luiza Pereira Junior Senior</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </header>
        </div>
      </div>
      <div class="container shopping-cart-page shopping-cart-order-history-empty">
        <div class="row">
          <div class="col-xs-12">
            <div class="shopping-cart-top">
              <h1 class="main-page-title icon-confirmation">Order history</h1>
            </div>
            <div class="no-orders-found">
              <p>No Orders Found</p>
            </div>
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <nav class="main-footer-nav">
            <div class="main-footer-nav-item"><a href="" title="Wiley.com">Wiley.com</a></div>
            <div class="main-footer-nav-item"><a href="" title="Wiley Online Library">Wiley Online Library</a></div>
            <div class="main-footer-nav-item"><a href="" title="Privacy Policy">Privacy Policy</a></div>
            <div class="main-footer-nav-item"><a href="" title="Terms &amp; Conditions">Terms & Conditions</a></div>
            <div class="main-footer-nav-item"><a href="" title="Contact us">Contact us</a></div>
            <div class="main-footer-nav-item"><a href="" title="Help">Help</a></div>
          </nav>
          <div class="footer-copyright"><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/wiley-logo-footer@3x.png" alt="Wiley logo"></a>
            <div class="footer-copyright-text">
              <p>Copyright © 2000-
                <script>document.write(new Date().getFullYear())</script> by John Wiley & Sons, Inc., or related companies. All rights reserved.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel-2.min.js"></script>
    <script src="responsive/common/js/jquery-ui-1.12.1.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/jquery.validate.min.js"></script>
    <script src="responsive/common/js/jsvat.custom.js"></script>
    <script src="responsive/common/js/jquery.mask.min.js"></script>
    <script src="responsive/common/js/jquery.truncate.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>
