buildkit/wileyasstorefront/jade/shopping-cart.jade
extends layouts/grid-main

block vars
    - var pageTitle = "Shopping Cart";
    - var headTitleText =  pageTitle;
    - var containerCSSClass = "shopping-cart-page";

block center
    div(class="shopping-cart-top")
        div(class="product-cart-id") Cart ID:
            b  00024002
        h1(class="main-page-title icon-shopping-cart") Shopping Cart

    div(class="products-table")
        div(class="table-head")
            div(class="table-head-item item-product") Product
            div(class="table-head-item item-quantity") Quantity
            div(class="table-head-item item-total") Total
        div(class="table-body")
            div(class="table-body-row")
                div(class="table-body-item item-image")
                    img(src="responsive/common/images/product-cart-image-1.png", alt="product image")
                div(class="table-body-mobile-wrap")
                    div(class="table-body-item item-description")
                        span(class="product-label") ONLINE OPEN
                        h4(class="item-description-title") Advanced Science
                        p(class="item-description-text")
                            | Exploitation of the Large-Area Basal Plane of MoS2 and Preparation of Bifunctional
                            | Catalysts through On-Surface Self-Assembly
                        div(class="description-extra-info")
                            div(class="extra-item")
                                p(class="item-title") DOI
                                p(class="item-value") 10.1002/cam4.2864
                            div(class="extra-item")
                                p(class="item-title") Delivery Date
                                p(class="item-value") 25/07/2017
                            div(class="extra-item")
                                p(class="item-title") Level of Service
                                p(class="item-value") Basic
                    div(class="table-body-item item-quantity")
                        p(class="item-title-mobile") Quantity
                        p(class="item-value") 2
                    div(class="table-body-item item-total")
                        p(class="item-title-mobile") Total
                        p(class="item-value") $2,500.00
                    div(class="table-body-item item-remove")
                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeProductConfirm") Remove

                div(class="item-price-discount")
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product You received a 10% discount on this product
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product
            div(class="table-body-row")
                div(class="table-body-item item-image")
                    img(src="responsive/common/images/product-cart-image-2.png", alt="product image")
                div(class="table-body-mobile-wrap")
                    div(class="table-body-item item-description")
                        span(class="product-label") COLOR CHARGE
                        h4(class="item-description-title") Groupthink and outcomes of health care teams
                        p(class="item-description-text")
                            | Speaking up in Defense of Teamwork Training Towards
                            | Patient Safety: A Response
                    div(class="table-body-item item-quantity")
                        p(class="item-quantity-mobile") Quantity
                        p(class="item-value") 2
                    div(class="table-body-item item-total")
                        p(class="item-title-mobile")
                            b Total
                        p(class="item-value")
                            b $2,500.00
                    div(class="table-body-item item-remove")
                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeProductConfirm") Remove

            div(class="table-body-row")
                div(class="table-body-item item-image")
                    img(src="responsive/common/images/product-cart-image-3.png", alt="product image")
                div(class="table-body-mobile-wrap")
                    div(class="table-body-item item-description")
                        span(class="product-label") PUBLICATION CHARGE
                        h4(class="item-description-title") Pharmacy Practice and Research
                        p(class="item-description-text")
                            | Speaking up in Defense of Teamwork Training Towards
                            | Patient Safety: A Response
                    div(class="table-body-item item-quantity")
                        p(class="item-title-mobile") Quantity
                        p(class="item-value") 2
                    div(class="table-body-item item-total")
                        p(class="item-title-mobile") Total
                        p(class="item-value") $320.00
                    div(class="table-body-item item-remove")
                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeProductConfirm") Remove

                div(class="item-price-discount")
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product You received a 10% discount on this product
                    p * You received a 10% discount on this product
                    p * You received a 10% discount on this product
            div(class="table-body-row")
                div(class="table-body-item item-image")
                    img(src="responsive/common/images/product-cart-image-4.png", alt="product image")
                div(class="table-body-mobile-wrap")
                    div(class="table-body-item item-description")
                        span(class="product-label") PAGE CHARGE
                        h4(class="item-description-title") Macromolecular Theory and Simulations
                        p(class="item-description-text")
                            | Network Polydispersity and Deformation-Induced Damage in
                            | Filled Elastomers
                    div(class="table-body-item item-quantity")
                        p(class="item-title-mobile") Quantity
                        p(class="item-value") 2
                    div(class="table-body-item item-total")
                        p(class="item-title-mobile") Total
                        p(class="item-value") $200.00

                    div(class="table-body-item item-remove")
                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeProductConfirm") Remove

                div(class="item-price-discount")
                    p * You received a 10% discount on this product
            div(class="table-body-row")
                div(class="table-body-item item-image")
                    img(src="responsive/common/images/product-cart-image-5.png", alt="product image")
                div(class="table-body-mobile-wrap")
                    div(class="table-body-item item-description")
                        span(class="product-label") COVER CHARGE
                        h4(class="item-description-title") Advanced Healthcare Materials
                        p(class="item-description-text")
                            | Connecting Biology to Electronics: Molecular
                            | Communication via Redox Modality
                    div(class="table-body-item item-quantity")
                        p(class="item-title-mobile") Quantity
                        p(class="item-value") 2
                    div(class="table-body-item item-total")
                        p(class="item-title-mobile") Total
                        p(class="item-value") $150.00

                    div(class="table-body-item item-remove")
                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeProductConfirm") Remove

                div(class="item-price-discount")
                    p * You received a 10% discount on this product
            div(class="table-body-row")
                div(class="table-body-item item-image")
                    img(src="responsive/common/images/product-cart-image-6.png", alt="product image")
                div(class="table-body-mobile-wrap")
                    div(class="table-body-item item-description")
                        span(class="product-label") EDITING SERVICE
                        h4(class="item-description-title") Advanced Healthcare Materials
                    div(class="table-body-item item-quantity")
                        p(class="item-title-mobile") Quantity
                        p(class="item-value") 2
                    div(class="table-body-item item-total")
                        p(class="item-title-mobile") Total
                        p(class="item-value") $200.00
                    div(class="table-body-item item-remove")
                        a(class="button-remove", href="", title="Remove", data-toggle="modal", data-target="#removeProductConfirm") Remove

                div(class="item-price-discount")
                    p * You received a 10% discount on this product
    div(class="shopping-cart-bottom")
        div(class="total-details-wrapper")
            div(class="discount-code-block")
                form(class="discount-code-form")
                    div(class="discount-code-form-title")
                        label Enter Society Discount / Promotion Code
                    div(class="input-group")
                        div(class="form-field")
                            input(id="discountCodeValue", name="discountCodeValue", class="discount-code-input error form-control", type="text", placeholder="Enter Society Discount / Promotion Code", required)
                        span(class="input-group-btn")
                            button(type="submit", class="button form-button small") Apply
                    div(class="form-field-message")
                        img(src="responsive/common/images/applied-discount-icon.png", srcset="responsive/common/images/applied-discount-icon@2x.png 2x, responsive/common/images/applied-discount-icon@3x.png 3x")
                        span This discount has been applied
                    div(class="form-field-message error-message")
                        img(src="responsive/common/images/error-discount-icon.png", srcset="responsive/common/images/error-discount-icon@2x.png 2x, responsive/common/images/error-discount-icon@3x.png 3x")
                        span The you entered is not valid

                form(class="discount-code-form")
                    div(class="discount-code-form-title")
                        label Select discount
                    div(class="input-group")
                        div(class="select-component")
                            select
                                option(selected disabled) Select
                                option(value='1') University of Kentucky-Paducah, Department of Marketing
                                option(value='2') University of Kentucky-Paducah, Department of Marketing
                                option(value='3') University of Kentucky-Paducah, Department of Marketing
                                option(value='4') University of Kentucky-Paducah, Department of Marketing
                        span(class="input-group-btn")
                            button(type="submit", class="button form-button small") Apply

            div(class="total-details-table")
                div(class="total-details-row")
                    div  Subtotal
                    div   $4,320.00
                div(class="total-details-row")
                    div  Estimated Taxes
                    div   $136.00
                div(class="total-details-row")
                    div  Discount code
                    div
                        a(href="javascript:void(0)" class="discount-code-value js-release-voucher-remove-btn" title="Lorem Ipsum") Lorem Ipsum
                            i(class="remove-discount") &#x2715;
                        a(href="javascript:void(0)" class="discount-code-value js-release-voucher-remove-btn" title="Lorem Ipsum Lorem ipsum") Lorem Ipsum Lorem ipsum
                            i(class="remove-discount") &#x2715;
                div(class="total-details-row")
                    div  Discount
                    div   -$150.00
                div(class="total-details-row")
                    div
                        b Total
                    div
                        b $4,456.00
        div(class="discount-code-message") You are going to spend over
            b &nbsp;$3000.00,
            | &nbsp;a discount coupon for your next purchase will be awarded upon placing the order.
    div(class="shopping-cart-action-buttons")
        a(href="#", class="button button-secondary button-add-services", title="Add More Services") Add More Services
        div.action-buttons-mobile-wrapper
            span.button-paypal-wrapper
                button.button.button-paypal

            a(href="#", class="button button-main button-checkout", title="Proceed to checkout") Proceed to checkout
    include shopping-cart/recommended-products
    include modals/new-cart-modal
    include modals/remove-product-confirmation

hybris/bin/custom/wiley/wileyasstorefront/web/webroot/_ui/responsive/common/pages/shopping-cart.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/common/css/style.css">
    <title>Shopping Cart</title>
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <header role="banner" class="header-container nav-down">
            <nav role="navigation" class="header-container-navigation">
              <div class="navbar-header">
                <div type="button" data-toggle="collapse" data-target="#willey-navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="patty"></span></div><a href="javascript:void(0);" title="Wiley" class="navigation-logo"><img src="responsive/common/images/logo-mobile.png" alt="Wiley"></a>
                <div class="header-title-mobile">Menu</div>
              </div>
              <div id="willey-navbar-collapse" class="collapse navbar-collapse">
                <div class="container-navigation">
                  <div class="container-navigation-item-1"><a href="javascript:void(0);" title="Wiley" class="navigation-logo"><img src="responsive/common/images/logo-desktop.png" alt="Wiley"></a></div>
                  <div class="container-navigation-item-2">
                    <div class="navigation-menu">
                      <div class="menu-item"><a href="" title="">My Dashboard</a></div>
                      <div class="dropdown show menu-item menu-item-dropdown"><a href="#" role="button" id="menu-dropdown-help-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Help</a>
                        <div aria-labelledby="menu-dropdown-help-block" class="dropdown-menu"><a href="#" class="dropdown-item selected">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a></div>
                      </div>
                      <div class="menu-item user-name">Username:<span>John Parker Maria Luiza Pereira Junior Senior</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </header>
        </div>
      </div>
      <div class="container shopping-cart-page">
        <div class="row">
          <div class="col-xs-12">
            <div class="shopping-cart-top">
              <div class="product-cart-id">Cart ID:<b> 00024002</b></div>
              <h1 class="main-page-title icon-shopping-cart">Shopping Cart</h1>
            </div>
            <div class="products-table">
              <div class="table-head">
                <div class="table-head-item item-product">Product</div>
                <div class="table-head-item item-quantity">Quantity</div>
                <div class="table-head-item item-total">Total</div>
              </div>
              <div class="table-body">
                <div class="table-body-row">
                  <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-1.png" alt="product image"></div>
                  <div class="table-body-mobile-wrap">
                    <div class="table-body-item item-description"><span class="product-label">ONLINE OPEN</span>
                      <h4 class="item-description-title">Advanced Science</h4>
                      <p class="item-description-text">
                        Exploitation of the Large-Area Basal Plane of MoS2 and Preparation of Bifunctional
                        Catalysts through On-Surface Self-Assembly
                      </p>
                      <div class="description-extra-info">
                        <div class="extra-item">
                          <p class="item-title">DOI</p>
                          <p class="item-value">10.1002/cam4.2864</p>
                        </div>
                        <div class="extra-item">
                          <p class="item-title">Delivery Date</p>
                          <p class="item-value">25/07/2017</p>
                        </div>
                        <div class="extra-item">
                          <p class="item-title">Level of Service</p>
                          <p class="item-value">Basic</p>
                        </div>
                      </div>
                    </div>
                    <div class="table-body-item item-quantity">
                      <p class="item-title-mobile">Quantity</p>
                      <p class="item-value">2</p>
                    </div>
                    <div class="table-body-item item-total">
                      <p class="item-title-mobile">Total</p>
                      <p class="item-value">$2,500.00</p>
                    </div>
                    <div class="table-body-item item-remove"><a href="" title="Remove" data-toggle="modal" data-target="#removeProductConfirm" class="button-remove">Remove</a></div>
                  </div>
                  <div class="item-price-discount">
                    <p>* You received a 10% discount on this product</p>
                    <p>* You received a 10% discount on this product</p>
                    <p>* You received a 10% discount on this product</p>
                    <p>* You received a 10% discount on this product You received a 10% discount on this product</p>
                    <p>* You received a 10% discount on this product</p>
                    <p>* You received a 10% discount on this product</p>
                  </div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-2.png" alt="product image"></div>
                  <div class="table-body-mobile-wrap">
                    <div class="table-body-item item-description"><span class="product-label">COLOR CHARGE</span>
                      <h4 class="item-description-title">Groupthink and outcomes of health care teams</h4>
                      <p class="item-description-text">
                        Speaking up in Defense of Teamwork Training Towards
                        Patient Safety: A Response
                      </p>
                    </div>
                    <div class="table-body-item item-quantity">
                      <p class="item-quantity-mobile">Quantity</p>
                      <p class="item-value">2</p>
                    </div>
                    <div class="table-body-item item-total">
                      <p class="item-title-mobile"><b>Total</b></p>
                      <p class="item-value"><b>$2,500.00</b></p>
                    </div>
                    <div class="table-body-item item-remove"><a href="" title="Remove" data-toggle="modal" data-target="#removeProductConfirm" class="button-remove">Remove</a></div>
                  </div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-3.png" alt="product image"></div>
                  <div class="table-body-mobile-wrap">
                    <div class="table-body-item item-description"><span class="product-label">PUBLICATION CHARGE</span>
                      <h4 class="item-description-title">Pharmacy Practice and Research</h4>
                      <p class="item-description-text">
                        Speaking up in Defense of Teamwork Training Towards
                        Patient Safety: A Response
                      </p>
                    </div>
                    <div class="table-body-item item-quantity">
                      <p class="item-title-mobile">Quantity</p>
                      <p class="item-value">2</p>
                    </div>
                    <div class="table-body-item item-total">
                      <p class="item-title-mobile">Total</p>
                      <p class="item-value">$320.00</p>
                    </div>
                    <div class="table-body-item item-remove"><a href="" title="Remove" data-toggle="modal" data-target="#removeProductConfirm" class="button-remove">Remove</a></div>
                  </div>
                  <div class="item-price-discount">
                    <p>* You received a 10% discount on this product</p>
                    <p>* You received a 10% discount on this product</p>
                    <p>* You received a 10% discount on this product</p>
                    <p>* You received a 10% discount on this product You received a 10% discount on this product</p>
                    <p>* You received a 10% discount on this product</p>
                    <p>* You received a 10% discount on this product</p>
                  </div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-4.png" alt="product image"></div>
                  <div class="table-body-mobile-wrap">
                    <div class="table-body-item item-description"><span class="product-label">PAGE CHARGE</span>
                      <h4 class="item-description-title">Macromolecular Theory and Simulations</h4>
                      <p class="item-description-text">
                        Network Polydispersity and Deformation-Induced Damage in
                        Filled Elastomers
                      </p>
                    </div>
                    <div class="table-body-item item-quantity">
                      <p class="item-title-mobile">Quantity</p>
                      <p class="item-value">2</p>
                    </div>
                    <div class="table-body-item item-total">
                      <p class="item-title-mobile">Total</p>
                      <p class="item-value">$200.00</p>
                    </div>
                    <div class="table-body-item item-remove"><a href="" title="Remove" data-toggle="modal" data-target="#removeProductConfirm" class="button-remove">Remove</a></div>
                  </div>
                  <div class="item-price-discount">
                    <p>* You received a 10% discount on this product</p>
                  </div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-5.png" alt="product image"></div>
                  <div class="table-body-mobile-wrap">
                    <div class="table-body-item item-description"><span class="product-label">COVER CHARGE</span>
                      <h4 class="item-description-title">Advanced Healthcare Materials</h4>
                      <p class="item-description-text">
                        Connecting Biology to Electronics: Molecular
                        Communication via Redox Modality
                      </p>
                    </div>
                    <div class="table-body-item item-quantity">
                      <p class="item-title-mobile">Quantity</p>
                      <p class="item-value">2</p>
                    </div>
                    <div class="table-body-item item-total">
                      <p class="item-title-mobile">Total</p>
                      <p class="item-value">$150.00</p>
                    </div>
                    <div class="table-body-item item-remove"><a href="" title="Remove" data-toggle="modal" data-target="#removeProductConfirm" class="button-remove">Remove</a></div>
                  </div>
                  <div class="item-price-discount">
                    <p>* You received a 10% discount on this product</p>
                  </div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                  <div class="table-body-mobile-wrap">
                    <div class="table-body-item item-description"><span class="product-label">EDITING SERVICE</span>
                      <h4 class="item-description-title">Advanced Healthcare Materials</h4>
                    </div>
                    <div class="table-body-item item-quantity">
                      <p class="item-title-mobile">Quantity</p>
                      <p class="item-value">2</p>
                    </div>
                    <div class="table-body-item item-total">
                      <p class="item-title-mobile">Total</p>
                      <p class="item-value">$200.00</p>
                    </div>
                    <div class="table-body-item item-remove"><a href="" title="Remove" data-toggle="modal" data-target="#removeProductConfirm" class="button-remove">Remove</a></div>
                  </div>
                  <div class="item-price-discount">
                    <p>* You received a 10% discount on this product</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="shopping-cart-bottom">
              <div class="total-details-wrapper">
                <div class="discount-code-block">
                  <form class="discount-code-form">
                    <div class="discount-code-form-title">
                      <label>Enter Society Discount / Promotion Code</label>
                    </div>
                    <div class="input-group">
                      <div class="form-field">
                        <input id="discountCodeValue" name="discountCodeValue" type="text" placeholder="Enter Society Discount / Promotion Code" required class="discount-code-input error form-control">
                      </div><span class="input-group-btn">
                        <button type="submit" class="button form-button small">Apply</button></span>
                    </div>
                    <div class="form-field-message"><img src="responsive/common/images/applied-discount-icon.png" srcset="responsive/common/images/applied-discount-icon@2x.png 2x, responsive/common/images/applied-discount-icon@3x.png 3x"><span>This discount has been applied</span></div>
                    <div class="form-field-message error-message"><img src="responsive/common/images/error-discount-icon.png" srcset="responsive/common/images/error-discount-icon@2x.png 2x, responsive/common/images/error-discount-icon@3x.png 3x"><span>The you entered is not valid</span></div>
                  </form>
                  <form class="discount-code-form">
                    <div class="discount-code-form-title">
                      <label>Select discount</label>
                    </div>
                    <div class="input-group">
                      <div class="select-component">
                        <select>
                          <option selected disabled>Select</option>
                          <option value="1">University of Kentucky-Paducah, Department of Marketing</option>
                          <option value="2">University of Kentucky-Paducah, Department of Marketing</option>
                          <option value="3">University of Kentucky-Paducah, Department of Marketing</option>
                          <option value="4">University of Kentucky-Paducah, Department of Marketing</option>
                        </select>
                      </div><span class="input-group-btn">
                        <button type="submit" class="button form-button small">Apply</button></span>
                    </div>
                  </form>
                </div>
                <div class="total-details-table">
                  <div class="total-details-row">
                    <div> Subtotal</div>
                    <div>  $4,320.00</div>
                  </div>
                  <div class="total-details-row">
                    <div> Estimated Taxes</div>
                    <div>  $136.00</div>
                  </div>
                  <div class="total-details-row">
                    <div> Discount code</div>
                    <div><a href="javascript:void(0)" title="Lorem Ipsum" class="discount-code-value js-release-voucher-remove-btn">Lorem Ipsum<i class="remove-discount">&#x2715;</i></a><a href="javascript:void(0)" title="Lorem Ipsum Lorem ipsum" class="discount-code-value js-release-voucher-remove-btn">Lorem Ipsum Lorem ipsum<i class="remove-discount">&#x2715;</i></a></div>
                  </div>
                  <div class="total-details-row">
                    <div> Discount</div>
                    <div>  -$150.00</div>
                  </div>
                  <div class="total-details-row">
                    <div><b>Total</b></div>
                    <div><b>$4,456.00</b></div>
                  </div>
                </div>
              </div>
              <div class="discount-code-message">You are going to spend over<b>&nbsp;$3000.00,</b>&nbsp;a discount coupon for your next purchase will be awarded upon placing the order.</div>
            </div>
            <div class="shopping-cart-action-buttons"><a href="#" title="Add More Services" class="button button-secondary button-add-services">Add More Services</a>
              <div class="action-buttons-mobile-wrapper"><span class="button-paypal-wrapper">
                  <button class="button button-paypal"></button></span><a href="#" title="Proceed to checkout" class="button button-main button-checkout">Proceed to checkout</a></div>
            </div>
            <div class="recommended-items-wrapper">
              <div class="recommended-items-title">You May Also Like</div>
              <div class="recommended-items-carousel-wrapper">
                <div class="recommended-items owl-carousel">
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="My super super Product. You should buy it for sure, please buy it, the cos is not so much, but it's very useful for you and will make you happy" class="recommended-item-title">My super super Product. You should buy it for sure, please buy it, the cos is not so much, but it's very useful for you and will make you happy</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="Product long name Product long name Product long name" class="recommended-item-title">Product long name Product long name Product long name</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="My super super Poster You should buy it for sure, please buy it" class="recommended-item-title">My super super Poster You should buy it for sure, please buy i</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="Collaborative Authoring Tool" class="recommended-item-title">Collaborative Authoring Tool</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="My super super Poster You should buy it for sure, please buy it" class="recommended-item-title">My super super Poster You should buy it for sure, please buy it</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="Poster" class="recommended-item-title">Poster</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                  <div class="recommended-item">
                    <div class="recommended-item-image"><img src="responsive/common/images/product-cart-image-6.png" alt="product image"></div>
                    <div class="recommended-item-info">
                      <div title="Poster" class="recommended-item-title">Poster</div>
                      <div class="recommended-item-price-title">Estimated price</div>
                      <div class="recommended-item-price">CAD $33,333.00</div>
                      <div class="recommended-item-button"><a href="#" class="button">Select Product</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal-->
            <div id="newCartModal" tabindex="-1" role="dialog" aria-labelledby="newCartModalTitle" aria-hidden="true" class="modal fade">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <form>
                    <div class="modal-header">
                      <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
                      <h4 id="newCartModalTitle" class="modal-title">NEW CART</h4>
                    </div>
                    <div class="modal-body">
                      <div class="modal-info">Your cart will be moved to Saved Cart list.</div>
                      <div class="form-wrapper">
                        <div class="input-group characters-counter">
                          <div class="form-field">
                            <label for="newCartName">Name</label>
                            <input id="newCartName" maxlength="5" name="newCartName" type="text" placeholder="Enter name" required class="form-control">
                          </div><i class="characters-counter-result">Characters left:&nbsp;<span class="characters-counter-value"></span></i>
                        </div>
                        <div class="input-group characters-counter">
                          <div class="form-field">
                            <label for="newCartDescription">Description</label>
                            <textarea id="newCartDescription" maxlength="250" name="newCartDescription" placeholder="Enter description" class="form-control"></textarea>
                          </div><i class="characters-counter-result">Characters left:&nbsp;<span class="characters-counter-value"></span></i>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" data-dismiss="modal" class="button button-red">Cancel</button>
                      <button type="button" class="button button-main">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- Modal-->
            <div id="removeProductConfirm" tabindex="-1" role="dialog" aria-labelledby="removeProductConfirm" aria-hidden="true" class="modal fade">
              <div class="modal-dialog modal-confirmation">
                <div class="modal-content">
                  <form>
                    <div class="modal-body">
                      <div class="modal-info">Are ou sure you would like to remove this item from your cart? Are ou sure you would like to remove this item from your cart?</div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" data-dismiss="modal" class="button button-red">Cancel</button>
                      <button type="button" class="button button-main">Confirm</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <nav class="main-footer-nav">
            <div class="main-footer-nav-item"><a href="" title="Wiley.com">Wiley.com</a></div>
            <div class="main-footer-nav-item"><a href="" title="Wiley Online Library">Wiley Online Library</a></div>
            <div class="main-footer-nav-item"><a href="" title="Privacy Policy">Privacy Policy</a></div>
            <div class="main-footer-nav-item"><a href="" title="Terms &amp; Conditions">Terms & Conditions</a></div>
            <div class="main-footer-nav-item"><a href="" title="Contact us">Contact us</a></div>
            <div class="main-footer-nav-item"><a href="" title="Help">Help</a></div>
          </nav>
          <div class="footer-copyright"><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/wiley-logo-footer@3x.png" alt="Wiley logo"></a>
            <div class="footer-copyright-text">
              <p>Copyright © 2000-
                <script>document.write(new Date().getFullYear())</script> by John Wiley & Sons, Inc., or related companies. All rights reserved.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel-2.min.js"></script>
    <script src="responsive/common/js/jquery-ui-1.12.1.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/jquery.validate.min.js"></script>
    <script src="responsive/common/js/jsvat.custom.js"></script>
    <script src="responsive/common/js/jquery.mask.min.js"></script>
    <script src="responsive/common/js/jquery.truncate.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>
