hybris/bin/custom/wiley/wileyasstorefront/web/webroot/_ui/responsive/common/pages/shopping-cart-history-details-funder.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/common/css/style.css">
    <title>Shopping Cart History Details</title>
  </head>
  <body>
    <main>
      <div class="container-fluid">
        <div class="row">
          <header role="banner" class="header-container nav-down">
            <nav role="navigation" class="header-container-navigation">
              <div class="navbar-header">
                <div type="button" data-toggle="collapse" data-target="#willey-navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed"><span class="patty"></span></div><a href="javascript:void(0);" title="Wiley" class="navigation-logo"><img src="responsive/common/images/logo-mobile.png" alt="Wiley"></a>
                <div class="header-title-mobile">Menu</div>
              </div>
              <div id="willey-navbar-collapse" class="collapse navbar-collapse">
                <div class="container-navigation">
                  <div class="container-navigation-item-1"><a href="javascript:void(0);" title="Wiley" class="navigation-logo"><img src="responsive/common/images/logo-desktop.png" alt="Wiley"></a></div>
                  <div class="container-navigation-item-2">
                    <div class="navigation-menu">
                      <div class="menu-item"><a href="" title="">My Dashboard</a></div>
                      <div class="dropdown show menu-item menu-item-dropdown"><a href="#" role="button" id="menu-dropdown-help-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Help</a>
                        <div aria-labelledby="menu-dropdown-help-block" class="dropdown-menu"><a href="#" class="dropdown-item selected">Action</a><a href="#" class="dropdown-item">Another action</a><a href="#" class="dropdown-item">Something else here</a></div>
                      </div>
                      <div class="menu-item user-name">Username:<span>John Parker Maria Luiza Pereira Junior Senior</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </header>
        </div>
      </div>
      <div class="container shopping-cart-page shopping-cart-history-details">
        <div class="row">
          <div class="col-xs-12">
            <div class="shopping-cart-top"><a href="" title="Back to Order History" class="button button-secondary button-back-to-order">Back to Order History</a>
              <h1 class="main-page-title icon-shopping-cart">Order Details</h1>
            </div>
            <div class="order-history-details">
              <div class="form-top">
                <div class="payment-details">
                  <div class="payment-number-date">
                    <p>Order Number:<span>&nbsp;00024002</span></p>
                    <p>Date Placed:<span>&nbsp;17 January 2018</span></p>
                  </div>
                </div>
                <div class="order-history-details-table">
                  <div class="products-table">
                    <div class="table-head">
                      <div class="table-head-item item-product">Product</div>
                      <div class="table-head-item item-product-status">Status</div>
                      <div class="table-head-item item-quantity">Quantity</div>
                      <div class="table-head-item item-total">Total</div>
                    </div>
                    <div class="table-body">
                      <div class="table-body-row">
                        <div class="table-body-item item-image"><img src="responsive/common/images/product-cart-image-1.png" alt="product image"></div>
                        <div class="table-body-mobile-wrap">
                          <div class="table-body-item item-description"><span class="product-label">ONLINE OPEN</span>
                            <h4 class="item-description-title">Advanced Science</h4>
                            <p class="item-description-text">
                              Exploitation of the Large-Area Basal Plane of MoS2 and Preparation of Bifunctional
                              Catalysts through On-Surface Self-Assembly
                            </p>
                            <div class="description-extra-info">
                              <div class="extra-item">
                                <p class="item-title">DOI</p>
                                <p class="item-value">10.1002/cam4.2864</p>
                              </div>
                              <div class="extra-item">
                                <p class="item-title">Delivery Date</p>
                                <p class="item-value">25/07/2017</p>
                              </div>
                              <div class="extra-item">
                                <p class="item-title">Level of Service</p>
                                <p class="item-value">Basic</p>
                              </div>
                            </div>
                          </div>
                          <div class="table-body-item item-status">
                            <p class="item-title-mobile">Status</p>
                            <p class="item-value">In Process</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="product-summ-total-funder">* Your charges are covered by Yale University.</div>
                </div>
              </div>
            </div><a href="" title="Cancel Order" data-toggle="modal" data-target="#cancelProductConfirm" class="button">Cancel Order</a>
            <!-- Modal-->
            <div id="cancelProductConfirm" tabindex="-1" role="dialog" aria-labelledby="cancelProductConfirmTitle" aria-hidden="true" class="modal fade">
              <div class="modal-dialog modal-confirmation">
                <div class="modal-content">
                  <form>
                    <div class="modal-body">
                      <div class="modal-info">Are you sure you want to cancel your order?</div>
                      <div class="order-details-cancellation-reason">
                        <div class="order-details-cancellation-reason-title">Cancellation reason</div>
                        <div class="input-group">
                          <div class="form-field required">
                            <div class="form-group">
                              <div class="select-component">
                                <select required>
                                  <option value="1" selected disabled>Author request</option>
                                  <option value="2">Unpaid invoice</option>
                                  <option value="3">Others</option>
                                  <option value="4">Cancel</option>
                                  <option value="5">Duplicate</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="input-group">
                          <div class="form-field">
                            <textarea id="orderCancellationReasonComment" name="orderCancellationReasonComment" placeholder="Enter comment" class="form-control"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" data-dismiss="modal" class="button button-red">Cancel</button>
                      <button type="button" class="button button-main">Confirm</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <nav class="main-footer-nav">
            <div class="main-footer-nav-item"><a href="" title="Wiley.com">Wiley.com</a></div>
            <div class="main-footer-nav-item"><a href="" title="Wiley Online Library">Wiley Online Library</a></div>
            <div class="main-footer-nav-item"><a href="" title="Privacy Policy">Privacy Policy</a></div>
            <div class="main-footer-nav-item"><a href="" title="Terms &amp; Conditions">Terms & Conditions</a></div>
            <div class="main-footer-nav-item"><a href="" title="Contact us">Contact us</a></div>
            <div class="main-footer-nav-item"><a href="" title="Help">Help</a></div>
          </nav>
          <div class="footer-copyright"><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/wiley-logo-footer@3x.png" alt="Wiley logo"></a>
            <div class="footer-copyright-text">
              <p>Copyright © 2000-
                <script>document.write(new Date().getFullYear())</script> by John Wiley & Sons, Inc., or related companies. All rights reserved.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel-2.min.js"></script>
    <script src="responsive/common/js/jquery-ui-1.12.1.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/jquery.validate.min.js"></script>
    <script src="responsive/common/js/jsvat.custom.js"></script>
    <script src="responsive/common/js/jquery.mask.min.js"></script>
    <script src="responsive/common/js/jquery.truncate.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>

buildkit/wileyasstorefront/jade/shopping-cart-history-details-funder.jade
extends layouts/grid-main

block vars
    - var pageTitle = "Shopping Cart History Details";
    - var headTitleText =  pageTitle;
    - var containerCSSClass = "shopping-cart-page shopping-cart-history-details";
    - var tooltipContent = "Registration codes are used to access WileyPLUS. The can be purchased separately or as part of a bundle.";

block center
    div(class="shopping-cart-top")
        a(class="button button-secondary button-back-to-order", href="", title="Back to Order History") Back to Order History
        h1(class="main-page-title icon-shopping-cart") Order Details

    div(class="order-history-details")
        div(class="form-top")
            div(class="payment-details")
                div(class="payment-number-date")
                    p Order Number:
                        span &nbsp;00024002
                    p Date Placed:
                        span &nbsp;17 January 2018
            div(class="order-history-details-table")
                div(class="products-table")
                    div(class="table-head")
                        div(class="table-head-item item-product") Product
                        div(class="table-head-item item-product-status") Status
                        div(class="table-head-item item-quantity") Quantity
                        div(class="table-head-item item-total") Total
                    div(class="table-body")
                        div(class="table-body-row")
                            div(class="table-body-item item-image")
                                img(src="responsive/common/images/product-cart-image-1.png", alt="product image")
                            div(class="table-body-mobile-wrap")
                                div(class="table-body-item item-description")
                                    span(class="product-label") ONLINE OPEN
                                    h4(class="item-description-title") Advanced Science
                                    p(class="item-description-text")
                                        | Exploitation of the Large-Area Basal Plane of MoS2 and Preparation of Bifunctional
                                        | Catalysts through On-Surface Self-Assembly
                                    div(class="description-extra-info")
                                        div(class="extra-item")
                                            p(class="item-title") DOI
                                            p(class="item-value") 10.1002/cam4.2864
                                        div(class="extra-item")
                                            p(class="item-title") Delivery Date
                                            p(class="item-value") 25/07/2017
                                        div(class="extra-item")
                                            p(class="item-title") Level of Service
                                            p(class="item-value") Basic
                                div(class="table-body-item item-status")
                                    p(class="item-title-mobile") Status
                                    p(class="item-value") In Process

                .product-summ-total-funder
                    | * Your charges are covered by Yale University.

    a(class="button", href="", title="Cancel Order", data-toggle="modal", data-target="#cancelProductConfirm") Cancel Order

    include modals/cancell-product-confirmation
