hybris/bin/custom/wiley/welstorefront/web/webroot/_ui/responsive/theme-blue/pages/confirmation-page.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../"><!--[if IE 9]>
    <script>
      (function () {
          var baseTag = document.getElementsByTagName('base')[0];
          baseTag.href = baseTag.href;
      })();
    </script><![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="addons/welagsstorefrontcommons/responsive/common/css/welagsstorefrontcommons.css">
    <link rel="stylesheet" type="text/css" media="all" href="addons/liveeditaddon/responsive/common/css/liveeditaddon.css"><!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/ybase-ie9.css">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style-ie9.css"><![endif]-->
    <![if !IE]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css"><![endif]>
    <title>WEL</title>
  </head>
  <body>
    <main data-currency-iso-code="USD">
      <header id="main-header">
        <div class="site-header">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="logo">
                  <div class="simple-responsive-banner-component"><a href="/welstorefront/wel/en/" title="Wiley EL" class="hidden-xs"><img src="responsive/theme-blue/images/logo.png" alt="Wiley EL"></a><a href="/welstorefront/wel/en/" title="Wiley EL" class="visible-xs">&lt;&nbsp;&nbsp;<img src="responsive/theme-blue/images/logo-320.png" alt="Wiley EL" class="img-responsive"></a></div>
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-6">
                <ul class="site-menu nav navbar-nav navbar-right">
                  <li><a href="#" title="About Us">About Us</a>
                    <ul>
                      <li><a href="#" title="Why Efficient Learning">Why Efficient Learning</a></li>
                      <li><a href="#" title="Success Stories">Success Stories</a></li>
                    </ul>
                  </li>
                  <li><a href="#" title="Contact Us">Contact Us</a></li>
                  <li class="menu-item-mobile"><a href="#" title="Live Chat" class="livechat">Live Chat</a></li>
                  <li><a href="#" title="Activate PIN">Activate PIN</a></li>
                  <li><a href="#" title="Cart" class="cart">Cart</a></li>
                  <li class="menu-item-bordered menu-item-mobile"><a href="#" title="Login">Login</a></li>
                  <li class="menu-item-bordered menu-item-mobile"><a href="#" title="My Account">My Account</a>
                    <ul>
                      <li><a href="#" title="Sing Out">Sing Out</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="product-header blue-lagoon">
          <div class="container">
            <div class="row">
              <div class="navbar-header col-sm-3">
                <button type="button" data-target="#search-bar" data-toggle="collapse" class="search-button visible-xs"></button>
                <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="collapsed menu-button visible-xs"></button>
                <div class="logo">
                  <div class="simple-responsive-banner-component">
                      <a href="/welstorefront/wel/en/" title="Wiley EL" class="hidden-xs">
                          <img src="responsive/theme-blue/images/ima-wileycma2.png" alt="Wiley EL">
                      </a>
                      <a href="/welstorefront/wel/en/" title="Wiley EL" class="visible-xs">
                          <img src="responsive/theme-blue/images/wileycmaexcel.png" alt="Wiley EL">
                      </a>
                  </div>
                </div>
              </div>
              <div id="navbar" class="navbar-collapse collapse col-sm-9">
                <div class="social-links nav navbar-nav navbar-right">
                  <a href="https://twitter.com/wileycpaexcel" title="Follow us">
                      <img src="responsive/theme-blue/images/ico-twitter.png"></a>
                  <a href="https://twitter.com/wileycpaexcel" title="Connect with us">
                      <img src="responsive/theme-blue/images/ico-linkedin.png">
                  </a>
                  <a href="https://plus.google.com/114273573586018361218/posts" title="Follow us">
                      <img src="responsive/theme-blue/images/ico-googleplus.png"></a>
                  <a href="https://www.facebook.com/WileyCPAexcel" title="Friend with us">
                      <img src="responsive/theme-blue/images/ico-facebook.png"></a>
                  <a href="https://www.youtube.com/user/CPAexcel" title="Watch us">
                      <img src="responsive/theme-blue/images/ico-youtube.png">
                  </a>
                  <a href="#" class="search">
                      <button type="button" data-target="#search-bar" data-toggle="collapse" class="search-button"></button>
                  </a>
                </div>
                <ul class="product-menu nav navbar-nav navbar-right">
                  <li><a href="#">Products</a>
                    <ul>
                      <li class="sub-menu"><a href="#">Free Trial</a>
                        <ul>
                          <li><a href="#">Platinum Course</a></li>
                          <li><a href="#">Gold Course</a></li>
                          <li><a href="#">Silver Course</a></li>
                          <li><a href="#">Self-Study Course</a></li>
                          <li><a href="#">11th Hour Review Course</a></li>
                          <li><a href="#">Supplements</a></li>
                        </ul>
                      </li>
                      <li class="sub-menu"><a href="#">Level I CFA Dec 2015</a>
                        <ul>
                          <li><a href="#">Course</a></li>
                          <li><a href="#">Gold Course</a></li>
                        </ul>
                      </li>
                      <li class="sub-menu"><a href="#">Level I CFA Dec 2015</a>
                        <ul>
                          <li><a href="#">Self-Study Course</a></li>
                          <li><a href="#">Supplements</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Product Availability Schedule</a></li>
                      <li><a href="#">Product Availability Schedule</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Why CMAexcel?</a></li>
                  <li><a href="#">CMA Resources</a>
                    <ul>
                      <li><a href="#">Universities &amp; Schools</a></li>
                      <li><a href="#">Firms &amp; Corporations</a></li>
                      <li><a href="#">International Providers</a></li>
                      <li><a href="#">Industry Associations</a></li>
                      <li><a href="#">Campus Representatives</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="search-bar" class="collapse">
          <div class="container">
            <form id="searchform" method="get" role="search" action="http://www.efficientlearning.com/wileycmaexcel/">
              <input type="text" placeholder="What can we help you find?">
              <button type="submit"><span class="hidden-xs">Search</span><span class="visible-xs">&nbsp;</span></button>
            </form>
          </div>
        </div>
      </header>
      <div class="container confirmation-page">
        <ul class="progress-line">
          <li class="step step-completed"><span class="step-number">1</span><span class="step-name step-name-desktop">Create an Account or Log In</span><span class="step-name step-name-mobile">Log In</span></li>
          <li class="step step-completed"><span class="step-number">2</span><span class="step-name step-name-desktop">Billing & Shipping</span><span class="step-name step-name-mobile">Billing Shipping</span></li>
          <li class="step"><span class="step-number">3</span><span class="step-name">Payment</span></li>
          <li class="step"><span class="step-number">4</span><span class="step-name step-name-desktop">Order Confirmation</span><span class="step-name step-name-mobile">Order<br>Confirmation</span></li>
        </ul>
        <div class="content">
          <div class="feedback-title">
            <p>Have a question? You can call 888-884-5669 Mon-Fri 8am-8pm, Sat 10am-8pm EST</p>
          </div>
          <div class="confirmation-text">
            <h2>Thank you for your purchase!</h2>
            <p>Your order has been processed and a confirmation email<br>will be sent to you which will include your product information.</p>
          </div>
          <div class="table-order">
            <div class="table-order-row">
              <div class="table-order-head">Order #658221 11/19/15 6:04pm</div>
              <div class="table-order-head">Price</div>
              <div class="table-order-head">Qty</div>
              <div class="table-order-head">Total</div>
            </div>
            <div class="table-order-row subscription-row">
              <div class="table-order-cell">
                <div class="subscription-image"><img src="https://app.efficientlearning.com/pv5/v8/page_assets/res/mycart/images/cpa_platinum_90x90.jpg" alt="Platinum CPA Review Course: Complete Print 2015"></div>
                <h3 class="subscription-title">Silver CPA Review Course: Complete(Print) 2015</h3>
              </div>
              <div class="table-order-cell">$575.00</div>
              <div class="table-order-cell">1</div>
              <div class="table-order-cell">$575.00</div>
            </div>
            <div class="table-order-row-mobile">
              <div class="table-order-row">
                <div class="table-order-cell">Price: $575.00</div>
              </div>
              <div class="table-order-row">
                <div class="table-order-cell">Qty: 1</div>
              </div>
              <div class="table-order-row">
                <div class="table-order-cell">Total: $575.00</div>
              </div>
            </div>
            <div class="table-order-row-group">
              <div class="table-order-row">
                <div class="table-order-cell"></div>
                <div class="table-order-cell"></div>
                <div class="table-order-cell">Subtotal:</div>
                <div class="table-order-cell">$575.00</div>
              </div>
              <div class="table-order-row">
                <div class="table-order-cell"></div>
                <div class="table-order-cell"></div>
                <div class="table-order-cell">Discount:</div>
                <div class="table-order-cell">&#45;$0.0</div>
              </div>
              <div class="table-order-row">
                <div class="table-order-cell"></div>
                <div class="table-order-cell"></div>
                <div class="table-order-cell">Tax:</div>
                <div class="table-order-cell">$40.25</div>
              </div>
              <div class="table-order-row total-row">
                <div class="table-order-cell"></div>
                <div class="table-order-cell"></div>
                <div class="table-order-cell">Total:</div>
                <div class="table-order-cell">$615.25</div>
              </div>
            </div>
          </div>
          <div class="form-buttons">
            <button type="submit" class="button form-button">Start Searching</button>
          </div>
          <div class="confirmation-note">
            <p>Note that it may take a few moments for your account to become active and your product to show up. If you still have issues after 5 minutes please contact customer service for help.</p>
          </div>
        </div>
      </div>
      <footer class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-12">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#" title="Terms of Use">Terms of Use</a></li>
                <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
                <li><a href="#" title="Shipping Information Return Policy">Shipping Information &#38; Return Policy</a></li>
                <li><a href="#" title="Contact Us">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"><a href="" title="" class="logo"><img src="responsive/theme-blue/images/logo-wiley-footer.png" alt="Wiley logo" class="img-responsive"></a></div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="footer-add-info">
                <p>CFA<sup>&reg;</sup>&nbsp; Institute does not endorse, promote, or warrant the accuracy or quality of the products or services offered by Wiley. CFA<sup>&reg;</sup>&nbsp; Institute, CFA<sup>&reg;</sup>&nbsp; and Chartered Financial Analyst® are trademarks owned by CFA<sup>&reg;</sup>&nbsp; Institute.</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script>
      /*<![CDATA[*/
      var ACC = {config: {}};
      ACC.config.contextPath = "/welstorefront";
      ACC.config.encodedContextPath = "/welstorefront/wel/en";
      ACC.config.commonResourcePath = "/welstorefront/_ui/responsive/common";
      ACC.config.themeResourcePath = "/welstorefront/_ui/responsive/theme-blue";
      ACC.config.siteResourcePath = "/welstorefront/_ui/responsive/site-wel";
      ACC.config.rootPath = "/welstorefront/_ui/responsive";
      ACC.config.CSRFToken = "afd195be-f142-4e7d-907e-480128d9b5f8";
      ACC.pwdStrengthVeryWeak = 'Very weak';
      ACC.pwdStrengthWeak = 'Weak';
      ACC.pwdStrengthMedium = 'Medium';
      ACC.pwdStrengthStrong = 'Strong';
      ACC.pwdStrengthVeryStrong = 'Very strong';
      ACC.pwdStrengthUnsafePwd = 'password.strength.unsafepwd';
      ACC.pwdStrengthTooShortPwd = 'Too short';
      ACC.pwdStrengthMinCharText = 'Minimum length is %d characters';
      ACC.accessibilityLoading = 'Loading... Please wait...';
      ACC.accessibilityStoresLoaded = 'Stores loaded';
      ACC.config.googleApiKey = "";
      ACC.config.googleApiVersion = "3.7";
      ACC.autocompleteUrl = '/welstorefront/wel/en/search/autocompleteSecure';
      /*]]>*/
      
    </script>
    <script>
      /*<![CDATA[*/
      ACC.addons = {};
      ACC.addons.wileystorefrontcommons = [];
      ACC.addons.liveeditaddon = [];
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.add'] = 'Add new component to content slot';
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.edit_menu'] = 'Edit menu';
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.override'] = 'Override content slot';
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.create'] = 'Create new content slot';
      ACC.addons.b2ccheckoutaddon = [];
      ACC.addons.b2ccheckoutaddon['key.2'] = 'value 2';
      ACC.addons.b2ccheckoutaddon['key.1'] = 'value 1';
      ACC.addons.subscriptionstorefront = [];
      /*]]>*/
      
    </script>
    <script src="shared/js/generatedVariables.js"></script>
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/matchMedia.js"></script>
    <script src="responsive/common/js/matchMedia.addListener.js"></script>
    <script src="responsive/common/js/enquire.min.js"></script>
    <script src="responsive/common/js/Imager.min.js"></script>
    <script src="responsive/common/js/jquery.blockUI-2.66.js"></script>
    <script src="responsive/common/js/jquery.colorbox-min.js"></script>
    <script src="responsive/common/js/jquery.form.min.js"></script>
    <script src="responsive/common/js/jquery.hoverIntent.js"></script>
    <script src="responsive/common/js/jquery.pstrength.custom-1.2.0.js"></script>
    <script src="responsive/common/js/jquery.syncheight.custom.js"></script>
    <script src="responsive/common/js/jquery.tabs.custom.js"></script>
    <script src="responsive/common/js/jquery-ui-1.11.4.custom.min.js"></script>
    <script src="responsive/common/js/jquery.currencies.min.js"></script>
    <script src="responsive/common/js/jquery.zoom.custom.js"></script>
    <script src="responsive/common/js/owl.carousel.custom.js"></script>
    <script src="responsive/common/js/acc.address.js"></script>
    <script src="responsive/common/js/acc.autocomplete.js"></script>
    <script src="responsive/common/js/acc.carousel.js"></script>
    <script src="responsive/common/js/acc.cart.js"></script>
    <script src="responsive/common/js/acc.cartitem.js"></script>
    <script src="responsive/common/js/acc.checkout.js"></script>
    <script src="responsive/common/js/acc.checkoutsteps.js"></script>
    <script src="responsive/common/js/acc.colorbox.js"></script>
    <script src="responsive/common/js/acc.common.js"></script>
    <script src="responsive/common/js/acc.forgottenpassword.js"></script>
    <script src="responsive/common/js/acc.global.js"></script>
    <script src="responsive/common/js/acc.imagegallery.js"></script>
    <script src="responsive/common/js/acc.langcurrencyselector.js"></script>
    <script src="responsive/common/js/acc.minicart.js"></script>
    <script src="responsive/common/js/acc.navigation.js"></script>
    <script src="responsive/common/js/acc.order.js"></script>
    <script src="responsive/common/js/acc.paginationsort.js"></script>
    <script src="responsive/common/js/acc.paymentDetails.js"></script>
    <script src="responsive/common/js/acc.pickupinstore.js"></script>
    <script src="responsive/common/js/acc.product.js"></script>
    <script src="responsive/common/js/acc.productDetail.js"></script>
    <script src="responsive/common/js/acc.productvariants.js"></script>
    <script src="responsive/common/js/acc.quickview.js"></script>
    <script src="responsive/common/js/acc.ratingstars.js"></script>
    <script src="responsive/common/js/acc.refinements.js"></script>
    <script src="responsive/common/js/acc.tabs.js"></script>
    <script src="responsive/common/js/acc.track.js"></script>
    <script src="responsive/common/js/acc.storefinder.js"></script>
    <script src="responsive/common/js/_autoload.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
    <script src="responsive/common/js/jquery.validate.min.js"></script>
    <script src="addons/welagsstorefrontcommons/responsive/common/js/welagsstorefrontcommons.js"></script>
  </body>
</html>

buildkit/welstorefront/jade/confirmation-page.jade
extends layouts/grid-one-column
block vars
	- var drawFooterAddInfo = true;
	- var showLogoutLink = true;
	- var showCurrencySelector = false;
	- var drawCategoryNavigationMenu = true;

block main
	div(class="container confirmation-page")
		include partials/progress-line
		div(class="content")
			include partials/feedback-title

			include partials/confirmation-text

			div(class="table-order")
				div(class="table-order-row")
					div(class="table-order-head") Order #658221 11/19/15 6:04pm
					div(class="table-order-head") Price
					div(class="table-order-head") Qty
					div(class="table-order-head") Total

				div(class="table-order-row subscription-row")
					div(class="table-order-cell")
						div(class="subscription-image")
							img(src="https://app.efficientlearning.com/pv5/v8/page_assets/res/mycart/images/cpa_platinum_90x90.jpg", alt="Platinum CPA Review Course: Complete Print 2015")
						h3(class="subscription-title")
							| Silver CPA Review Course: Complete(Print) 2015
					div(class="table-order-cell") $575.00
					div(class="table-order-cell") 1
					div(class="table-order-cell") $575.00

				div(class="table-order-row-mobile")
					div(class="table-order-row")
						div(class="table-order-cell") Price: $575.00
					div(class="table-order-row")
						div(class="table-order-cell") Qty: 1
					div(class="table-order-row")
						div(class="table-order-cell") Total: $575.00

				div(class="table-order-row-group")
					div(class="table-order-row")
						div(class="table-order-cell")
						div(class="table-order-cell")
						div(class="table-order-cell") Subtotal:
						div(class="table-order-cell") $575.00
					div(class="table-order-row")
						div(class="table-order-cell")
						div(class="table-order-cell")
						div(class="table-order-cell") Discount:
						div(class="table-order-cell") &#45;$0.0
					div(class="table-order-row")
						div(class="table-order-cell")
						div(class="table-order-cell")
						div(class="table-order-cell") Tax:
						div(class="table-order-cell") $40.25
					div(class="table-order-row total-row")
						div(class="table-order-cell")
						div(class="table-order-cell")
						div(class="table-order-cell") Total:
						div(class="table-order-cell") $615.25

			div(class="form-buttons")
				button(class="button form-button", type="submit") Start Searching

			include partials/confirmation-note
