buildkit/welstorefront/jade/kpmg.jade
extends layouts/grid-partner

block main
	div(class="container kpmg-page")
		div(class="row")
			div(class="col-md-12")
				h1
					|  Welcome to the Staff of KPMG – US
		div(class="row")
			div(class="col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-12")
				div(class="kpmg-img")
					img(src="responsive/theme-blue/images/KPMG.png", alt="KPMG")
			div(class="col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4 col-xs-12")
				div(class="kpmg-description")
					p
						| Wiley CPAexcel is proud to partner with KPMG to offer CPA Exam candidates an exceptional CPA Exam Review Course.&nbsp;
						a(href="#", title="")
							| See below for course description
		div(class="row")
			div(class="col-md-12 top-option")
				h2
					| Option 1: Enroll in the Course Free of Charge
				p
					| Authorized KPMG Employees and campus hires may enroll in the course free of charge by completing the form below. Your order is subject to approval by the KPMG Human Resources Department. You will advance to the shopping cart to complete your order. There is no credit card information required.
		div(class="row")
			div(class="col-md-12")
				h3
					| Price to authorized KPMG employees: Free
				div(class="kpmg-enroll")
					div(class="site-form")
						div(class="form-cell")
							div(class="form-label label-bold")
								| Enter your Registration ID:
							div(class="form-label")
								| For campus hires only
							div(class="form-field")
								input(type="text", name="registrationID", required, tabindex="1")
						div(class="form-cell")
							div(class="form-label label-bold")
								| Or enter your Employee ID:
							div(class="form-label")
								| For KPMG employees only
							div(class="form-field")
								input(type="text", name="employeeID", required, tabindex="2")
						div(class="form-cell")
							div(class="form-label label-bold required")
								| First Name
							div(class="form-field")
								input(type="text", name="firstname", required, tabindex="3")
						div(class="form-cell")
							div(class="form-label label-bold required")
								| Last Name
							div(class="form-field")
								input(type="text", name="lastname", required, tabindex="4")
						div(class="form-cell")
							div(class="form-label label-bold required")
								| Email
							div(class="form-label")
								| KPMG Employees must enter their @kpmg.* email address.
							div(class="form-field")
								input(type="text", name="email", required, tabindex="5")
						div(class="form-cell")
							div(class="form-label label-bold")
								| Function
							div(class="form-field")
								select(tabindex="6")
									option(value="Audit")
										| Audit
									option(value="Advisory")
										| Advisory
									option(value="Tax")
										| Tax
									option(value="BPG")
										| BPG
						div(class="form-cell")
							div(class="form-label label-bold")
								| Office
							div(class="form-field")
								select(tabindex="7")
									option(value="AK - Anchorage (10012 - 012)")
										| AK - Anchorage (10012 - 012)
									option(value="AL - Birmingham (10518 - 044)")
										| AL - Birmingham (10518 - 044)
									option(value="AZ - Phoenix (10046 - 046)")
										| AZ - Phoenix (10046 - 046)
									option(value="AZ - Phoenix (10201 - 201)")
										| AZ - Phoenix (10201 - 201)
									option(value="CA - Century City (10145 - 145)")
										| CA - Century City (10145 - 145)
									option(value="CA - Cypress (10516 - 299)")
										| CA - Cypress (10516 - 299)
						div(class="form-buttons")
							span(class="btn-control")
								button(class="button form-button", type="submit")
									| Enroll Now!
		div(class="row")
			div(class="col-md-12 bottom-option")
				h2
					| Option 2: Get 40% Off Any Product
				p
					|  For those who are no longer eligible to enroll into option #1 (per KPMG’s review course policy), KPMG employees can still enroll at a reduced rate. Order on the
					a(href="", title="Wiley CPAexcel public website")
						| Wiley CPAexcel public website
					| &nbsp; with discount code
					strong
						|  KPMG40
					|  to receive 40% off at checkout. This discount code may not be combined with other offers, student discounts or discount codes. Please use your @kpmg.com email address to order.
		div(class="row course-summary")
			div(class="col-md-12 course-description")
				h2
					| Course Description:
				p
					| The Gold CPA Review Course includes Wiley CPAexcel’s most powerful combination of features, including the exam planner, online/offline synchronization, full set of textbooks, flash drive (for offline use), the Core Study Materials, Video Lectures and Professor Mentoring. See below for a complete list of course features.
				p
					| You now have free access to the Wiley CPA Online Test Bank until you pass the exam. We trust you will find it a valuable supplement in your exam preparation process. The Wiley Test Bank has over 4,400 multiple choice questions and 164 simulations – ideal for drilling on your weakest areas!
			div(class="col-md-6 col-sm-6  col-xs-12 course-description-image")
				img(class="course-description-image", src="responsive/theme-blue/images/cpa_gold_large.jpg", alt="")
			div(class="col-md-6 col-sm-6  col-xs-12 course-description-includes")
				div(class="container-fluid")
					div(class="row")
						p(class="product-include-title")
							| Includes:
						ul(class="features-listing blueTheme col-md-6 clearfix")
							li
								a(href="", title="")
									| Core Study Materials
							li
								| Video Lectures + Slides
							li
								| Professor Mentoring
						ul(class="features-listing blueTheme col-md-6 clearfix")
							li
								| Course Outlines
							li
								| Flash Drive for Offline Access
							li
								| Partner Until You Pass Guarantee – Free Content and Software Updates &nbsp;

								span(class="tooltipHelp", data-toggle="popover", data-original-title="Free Continuing Access to the Course - Guaranteed", data-content="<p>Your Wiley CPAexcel course has no expiration date. Use it until one year after you pass the CPA Exam.<br>Course repeats, online content updates, and software upgrades are free.</p><p>This is our promise and guarantee. There is no fine print.</p>")
									| ?
			div(class="col-md-6 col-sm-6  col-xs-12 course-product-variant")
				input(type="radio", id="product-variant-WEL_TYPE_PRINT", checked="")
				label(for = "product-variant-WEL_TYPE_PRINT")
					| Print
				input(type="radio", id="product-variant-WEL_TYPE_BOOK")
				label(for = "product-variant-WEL_TYPE_BOOK")
					| eBook
		include partials/tabs
		+tabs(['Product Features', 'Purchase Information', 'System Requirements'])

hybris/bin/custom/wiley/welstorefront/web/webroot/_ui/responsive/theme-blue/pages/kpmg.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../"><!--[if IE 9]>
    <script>
        (function () {
            var baseTag = document.getElementsByTagName('base')[0];
            baseTag.href = baseTag.href;
        })();
    </script><![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="addons/welagsstorefrontcommons/responsive/common/css/welagsstorefrontcommons.css">
    <link rel="stylesheet" type="text/css" media="all" href="addons/liveeditaddon/responsive/common/css/liveeditaddon.css"><!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/ybase-ie9.css">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style-ie9.css"><![endif]-->
    <![if !IE]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css"><![endif]>
    <title>WEL</title>
</head>
  <body>
    <main data-currency-iso-code="USD">
      <div class="container kpmg-page">
        <div class="row">
          <div class="col-md-12">
            <h1> Welcome to the Staff of KPMG – US</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-push-8 col-sm-4 col-sm-push-8 col-xs-12"><div class="kpmg-img"><img src="responsive/theme-blue/images/KPMG.png" alt="KPMG" ></div></div>
          <div class="col-md-8 col-md-pull-4 col-sm-8 col-sm-pull-4 col-xs-12">
            <div class="kpmg-description">
                <p>Wiley CPAexcel is proud to partner with KPMG to offer CPA Exam candidates an exceptional CPA Exam Review Course. <a href="#" title="">See below for course description</a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 top-option">
            <h2>Option 1: Enroll in the Course Free of Charge</h2>
            <p>Authorized KPMG Employees and campus hires may enroll in the course free of charge by completing the form below. Your order is subject to approval by the KPMG Human Resources Department. You will advance to the shopping cart to complete your order. There is no credit card information required.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Price to authorized KPMG employees: Free</h3>
            <div class="kpmg-enroll">
              <div class="site-form">
                <div class="form-cell">
                  <div class="form-label label-bold">Enter your Registration ID:</div>
                  <div class="form-label">For campus hires only</div>
                  <div class="form-field">
                    <input type="text" name="registrationID" required tabindex="1">
                  </div>
                </div>
                <div class="form-cell">
                  <div class="form-label label-bold">Or enter your Employee ID:</div>
                  <div class="form-label">For KPMG employees only</div>
                  <div class="form-field">
                    <input type="text" name="employeeID" required tabindex="2">
                  </div>
                </div>
                <div class="form-cell">
                  <div class="form-label label-bold required">First Name</div>
                  <div class="form-field">
                    <input type="text" name="firstname" required tabindex="3">
                  </div>
                </div>
                <div class="form-cell">
                  <div class="form-label label-bold required">Last Name</div>
                  <div class="form-field">
                    <input type="text" name="lastname" required tabindex="4">
                  </div>
                </div>
                <div class="form-cell">
                  <div class="form-label label-bold required">Email</div>
                  <div class="form-label">KPMG Employees must enter their @kpmg.* email address.</div>
                  <div class="form-field">
                    <input type="text" name="email" required tabindex="5">
                  </div>
                </div>
                <div class="form-cell">
                  <div class="form-label label-bold">Function</div>
                  <div class="form-field">
                    <select tabindex="6">
                      <option value="Audit">Audit</option>
                      <option value="Advisory">Advisory</option>
                      <option value="Tax">Tax</option>
                      <option value="BPG">BPG</option>
                    </select>
                  </div>
                </div>
                <div class="form-cell">
                  <div class="form-label label-bold">Office</div>
                  <div class="form-field">
                    <select tabindex="7">
                      <option value="AK - Anchorage (10012 - 012)">AK - Anchorage (10012 - 012)</option>
                      <option value="AL - Birmingham (10518 - 044)">AL - Birmingham (10518 - 044)</option>
                      <option value="AZ - Phoenix (10046 - 046)">AZ - Phoenix (10046 - 046)</option>
                      <option value="AZ - Phoenix (10201 - 201)">AZ - Phoenix (10201 - 201)</option>
                      <option value="CA - Century City (10145 - 145)">CA - Century City (10145 - 145)</option>
                      <option value="CA - Cypress (10516 - 299)">CA - Cypress (10516 - 299)</option>
                    </select>
                  </div>
                </div>
                <div class="form-buttons"><span class="btn-control">
                    <button type="submit" class="button form-button">Enroll Now!</button></span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 bottom-option">
            <h2>Option 2: Get 40% Off Any Product</h2>
            <p> For those who are no longer eligible to enroll into option #1 (per KPMG’s review course policy), KPMG employees can still enroll at a reduced rate. Order on the <a href="" title="Wiley CPAexcel public website">Wiley CPAexcel public website</a>&nbsp; with discount code <strong>KPMG40</strong> to receive 40% off at checkout. This discount code may not be combined with other offers, student discounts or discount codes. Please use your @kpmg.com email address to order.</p>
          </div>
        </div>
        <div class="row course-summary">
          <div class="col-md-12 course-description">
            <h2>Course Description:</h2>
            <p>The Gold CPA Review Course includes Wiley CPAexcel’s most powerful combination of features, including the exam planner, online/offline synchronization, full set of textbooks, flash drive (for offline use), the Core Study Materials, Video Lectures and Professor Mentoring. See below for a complete list of course features.</p>
            <p>You now have free access to the Wiley CPA Online Test Bank until you pass the exam. We trust you will find it a valuable supplement in your exam preparation process. The Wiley Test Bank has over 4,400 multiple choice questions and 164 simulations – ideal for drilling on your weakest areas!</p>
          </div>
          <div class="col-md-6 col-sm-6  col-xs-12 course-description-image"><img src="responsive/theme-blue/images/cpa_gold_large.jpg" alt="" class="course-description-image"></div>
          <div class="col-md-6 col-sm-6  col-xs-12 course-description-includes">
            <div class="container-fluid">
              <div class="row">
                <p class="product-include-title">Includes:</p>
                  <ul class="features-listing blueTheme col-md-6 clearfix">
                    <li><a href="" title="">Core Study Materials</a></li>
                    <li>Video Lectures + Slides</li>
                    <li>Professor Mentoring</li>
                  </ul>
                  <ul class="features-listing blueTheme col-md-6 clearfix">
                    <li>Course Outlines</li>
                    <li>Flash Drive for Offline Access</li>
                    <li>Partner Until You Pass Guarantee – Free Content and Software Updates &nbsp;<span data-toggle="popover" data-original-title="Free Continuing Access to the Course - Guaranteed" data-content="&lt;p&gt;Your Wiley CPAexcel course has no expiration date. Use it until one year after you pass the CPA Exam.&lt;br&gt;Course repeats, online content updates, and software upgrades are free.&lt;/p&gt;&lt;p&gt;This is our promise and guarantee. There is no fine print.&lt;/p&gt;" class="tooltipHelp">?</span></li>
                  </ul>
              </div>
            </div>
          </div>
		  <div class="col-md-6 col-sm-6  col-xs-12 course-product-variant">
			<input type="radio" id="product-variant-WEL_TYPE_PRINT" checked="">
			<label for="product-variant-WEL_TYPE_PRINT">Print</label>
			<input type="radio" id="product-variant-WEL_TYPE_BOOK">
			<label for="product-variant-WEL_TYPE_BOOK">eBook</label>
		  </div>
        </div>
        <div class="tabs js-tabs tabs-responsive">
          <div class="tabhead"><span class="glyphicon"></span><a href="">Product Features</a></div>
          <div class="tabbody">
              <div class="product-classifications">
                  <div class="tab-item">
                      <div class="headline">Core Study Materials</div><img src="http://www.efficientlearning.com/wileycpaexcel/wp-content/uploads/sites/2/2014/10/product-features-core-study-materials.png" class="img">
                      <div class="tab-item-content">
                          <p>Pass the CPA Exam with confidence. With CPAexcel’s Core Study Materials you can study online or offline at your own pace. Your scores are synchronized after each study session so you can pick up where you left off each time. The Core Study Materials include:</p>
                          <p><strong>Preparing your Study Process:</strong></p>
                          <ul class="checkmarkList">
                              <li>Exam Planner & Personalized Study Schedule</li>
                              <li>Diagnostic Exams & Strategy Support</li>
                              <li>Performance Metrics</li>
                          </ul>
                          <p><strong>Studying the Material:</strong></p>
                          <ul class="checkmarkList">
                              <li>Efficient Learning System with Bite-Sized Lessons</li>
                              <li>2,600+ Pages of Electronic Study Text</li>
                              <li>7,500 Past CPA Exam Questions with Answer Rationales</li>
                              <li>5,500+ Proficiency Questions</li>
                              <li>4,200+ Digital Flash Cards</li>
                              <li>Student Discussions</li>
                              <li>Free Software & Content Updates</li>
                          </ul>
                          <p><strong>Reviewing for the Test:</strong></p>
                          <ul class="checkmarkList"></ul>
                          <li>450+ Task-Based Simulations
                          <li>Unlimited Simulated CPA Exams</li>
                          <li>Final Review</li>
                          </li>
                      </div>
                  </div>
                  <div class="tab-item">
                      <div class="headline">Video Lectures + Slides</div><img src="http://www.efficientlearning.com/wileycpaexcel/wp-content/uploads/sites/2/2015/01/deep-dive-videos-sm2.jpg" class="img right-side">
                      <div class="tab-item-content">
                          <p>Bring the classroom to your home with Video Lectures and Slides. We’ve broken down each lecture into Bite-Sized Lessons, and created accompanying slides so you can take notes while you watch. Over 110 hours of Video Lectures and 6,800+ slides are included in the 4-part course. View a<a href="https://www.youtube.com/watch?v=flsuXN1TA2A">Video Lecture sample</a></p>
                          <p>Features & Benefits:</p>
                          <ul>
                              <li>Ideal for Audio Visual Learners</li>
                              <li>Learn from the Best – Wiley CPAexcel’s professors hail from the nation’s leading accounting universities, including the University of Texas at Austin, California State University Sacramento, and Northern Illinois University.</li>
                              <li>Keeps Your Attention – Learn from a variety of ten different subject-matter experts.</li>
                              <li>Stay Focused – The key concepts and principles are covered in every subject area, plus heavily weighted exam topics and challenging subjects that often give students trouble during the CPA Exam.</li>
                              <li>Enjoy the Convenience – No wasted time commuting to a classroom. Never worry about missed lectures. Listen to any speaker or topic as many times as you need.</li>
                              <li><strong>New for 2015!</strong>Over 60 individual deep dive lectures. Our leading accounting professors dig in to the toughest problems on the CPA Exam and break down the solutions step by step.<a href="https://www.youtube.com/watch?v=517XghnAFso">View a Deep Dive Lecture sample.</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="tab-item">
                      <div class="headline">Professor Mentoring</div><img src="http://www.efficientlearning.com/wileycpaexcel/wp-content/uploads/sites/2/2014/10/professor-mentoring.png" class="img">
                      <div class="tab-item-content">
                          <div class="ipass-right">Get the answers you need from experienced subject-expert professors. With our Professor Mentoring, you can post your Wiley CPAexcel related questions and get the information you need within 24 hours or less, get clarified lecture points and have them demonstrate how to solve problems. Need an immediate response? Just access the archived discussions to find what you’re looking for.</div>
                          <div class="ipass-right"></div>
                          <div class="ipass-right">Features & Benefits:
                              <ul>
                                  <li>Answers in 24 hours or less – Post your Wiley CPAexcel related question, and get the correct answer every time from experienced subject-expert Professors.</li>
                                  <li>Archived discussions – Access prior archived discussions, so you can often find the answer that you need immediately and see what types of questions your peers are asking.</li>
                                  <li>Expert team of professor mentors- Every Wiley CPAexcel mentor is a distinguished university professor and an expert in their field. With access to prompt answers from these professors, there is no question you can’t answer.</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="tab-item">
                      <div class="headline">Course Outlines</div><img src="http://www.efficientlearning.com/wileycpaexcel/wp-content/uploads/sites/2/2014/10/product-features-course-outlines.png" class="img right-side">
                      <div class="tab-item-content">
                          <p>With Wiley CPAexcel, you choose how you want to learn. Get your Course Outlines in printed textbook format or eBook format on your computer or mobile device. Both are identical, map perfectly to our courseware outline and structure, and feature Bite-Sized Lessons.</p>
                          <p>Features & Benefits:</p>
                          <ul>
                              <li>Separate course outlines(s) for each exam section covering the complete scope of the AICPA content specification.</li>
                              <li>Course outlines map perfectly to our courseware outline and structure. No cross-referencing is required.</li>
                              <li>The content of each course outline is identical to our courseware at the date of printing. Later content updates are included in our courseware. The courseware logs all updates and identifies them to the affected lessons. Thus each course outline user may see which lessons have been updated and, if desired, print a copy of the updated version to use in place of the version in the textbook.</li>
                              <li>At the front of each course outline is advice from the author concerning the emphasis of the questions on the CPA Exam, as a guide to students completing their studies.</li>
                              <li>Each course outlines is a series of Bite-Sized Lessons. Each lesson usually consists of 3 to 10 pages of study material.</li>
                          </ul>
                      </div>
                  </div>
                  <div class="tab-item">
                      <div class="headline">Virtual Classroom Series</div><img src="http://www.efficientlearning.com/wileycpaexcel/wp-content/uploads/sites/2/2014/10/virtual-classroom-series.png" class="img">
                      <div class="tab-item-content">
                          <p>A blend of pre-recorded lectures and live online classes led by instructors who discuss the most frequently missed questions in CPAexcel. Students have the opportunity to ask questions of live instructors and access archived lectures.<a href="/wileycpaexcel/wp-content/uploads/sites/2/2015/09/Fall2015-Wiley-CPAexcel-Virtual-Classroom-Schedule.pdf" target="_blank" rel="shadowbox"> See upcoming class dates!</a></p>
                          <p>Features & Benefits:</p>
                          <ul>
                              <li>Live Instruction & Support</li>
                              <li>Connect with classmates</li>
                              <li>Integrate with Your “CPAexcel Approved” Exam Plan</li>
                              <li>Mobile-ready</li>
                              <li>Access lecture archives</li>
                          </ul>
                      </div>
                  </div>
                  <div class="tab-item">
                      <div class="headline">CPA Online Test Bank</div><img src="http://www.efficientlearning.com/wileycpaexcel/wp-content/uploads/sites/2/2014/10/cpa-online-test-bank.png" class="img right-side">
                      <div class="tab-item-content">
                          <p>Boost your review with the ultimate online practice tool. Get access to the most popular supplement in CPA-land: 4,400+  practice questions and 148 simulations. We’ve improved our Test Bank with added customizations, reports and features. Everything you love and more</p>
                          <p>Features & Benefits:</p>
                          <ul>
                              <li>4,400+ multiple choice questions with detailed answers, Study Guide references and hints</li>
                              <li>148 Task-based Simulations</li>
                              <li>Interface replicates the Prometric experience</li>
                              <li>Tracks your strengths & weaknesses</li>
                              <li>Forms & formats for the most current exam</li>
                              <li><em>Partner Until You Pass Guarantee</em>– free updates and access until you pass the exam</li>
                          </ul>
                          <p>With the  CPA Online Test Bank included with your CPA Platinum Review Course, you now have access to more than 12,000 practice questions and 600+ task-based simulations–the most of any CPA Review Course on the market!</p>
                      </div>
                  </div>
                  <div class="tab-item">
                      <div class="headline">Flash Cards</div><img src="http://www.efficientlearning.com/wileycpaexcel/wp-content/uploads/sites/2/2014/10/product-features-flashcards.png" class="img">
                      <div class="tab-item-content">
                          <p>Use Flash Cards to reinforce and improve knowledge retention in all four sections. Order the complete 4-parts (1,000 cards) or individual sections (250 cards/section).</p>
                          <p>Features & Benefits:</p>
                          <ul>
                              <li>250 flash cards per section</li>
                              <li>Covers the 250 most critical points to know on the CPA Exam for each section</li>
                          </ul>
                      </div>
                  </div>
                  <div class="tab-item">
                      <div class="headline">Focus Notes</div><img src="http://www.efficientlearning.com/wileycpaexcel/wp-content/uploads/sites/2/2014/10/product-features-focus-notes.png" class="img right-side">
                      <div class="tab-item-content">
                          <p>Reinforce key concepts for every section of the CPA Exam with these easy-to-read and carry spiral-bound supplements. Learn acronyms and mnemonic devices to help you remember accounting rules, checklists and more.</p>
                          <p>Features & Benefits:</p>
                          <ul>
                              <li>Mnemonics</li>
                              <li>Formulas and calculations</li>
                              <li>Key concepts</li>
                              <li>Exam tips</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tabhead"><span class="glyphicon"></span><a href="">Purchase Information</a></div>
          <div class="tabbody">Purchase Information</div>
          <div class="tabhead"><span class="glyphicon"></span><a href="">System Requirements</a></div>
          <div class="tabbody">System Requirements</div>
        </div>
      </div>
    </main>
    <!-- scripts-->
    <script>
      /*<![CDATA[*/
      var ACC = {config: {}};
      ACC.config.contextPath = "/welstorefront";
      ACC.config.encodedContextPath = "/welstorefront/wel/en";
      ACC.config.commonResourcePath = "/welstorefront/_ui/responsive/common";
      ACC.config.themeResourcePath = "/welstorefront/_ui/responsive/theme-blue";
      ACC.config.siteResourcePath = "/welstorefront/_ui/responsive/site-wel";
      ACC.config.rootPath = "/welstorefront/_ui/responsive";
      ACC.config.CSRFToken = "afd195be-f142-4e7d-907e-480128d9b5f8";
      ACC.pwdStrengthVeryWeak = 'Very weak';
      ACC.pwdStrengthWeak = 'Weak';
      ACC.pwdStrengthMedium = 'Medium';
      ACC.pwdStrengthStrong = 'Strong';
      ACC.pwdStrengthVeryStrong = 'Very strong';
      ACC.pwdStrengthUnsafePwd = 'password.strength.unsafepwd';
      ACC.pwdStrengthTooShortPwd = 'Too short';
      ACC.pwdStrengthMinCharText = 'Minimum length is %d characters';
      ACC.accessibilityLoading = 'Loading... Please wait...';
      ACC.accessibilityStoresLoaded = 'Stores loaded';
      ACC.config.googleApiKey = "";
      ACC.config.googleApiVersion = "3.7";
      ACC.autocompleteUrl = '/welstorefront/wel/en/search/autocompleteSecure';
      /*]]>*/
      
    </script>
    <script>
      /*<![CDATA[*/
      ACC.addons = {};
      ACC.addons.wileystorefrontcommons = [];
      ACC.addons.liveeditaddon = [];
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.add'] = 'Add new component to content slot';
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.edit_menu'] = 'Edit menu';
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.override'] = 'Override content slot';
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.create'] = 'Create new content slot';
      ACC.addons.b2ccheckoutaddon = [];
      ACC.addons.b2ccheckoutaddon['key.2'] = 'value 2';
      ACC.addons.b2ccheckoutaddon['key.1'] = 'value 1';
      ACC.addons.subscriptionstorefront = [];
      /*]]>*/
      
    </script>
    <script src="shared/js/generatedVariables.js"></script>
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/matchMedia.js"></script>
    <script src="responsive/common/js/matchMedia.addListener.js"></script>
    <script src="responsive/common/js/enquire.min.js"></script>
    <script src="responsive/common/js/Imager.min.js"></script>
    <script src="responsive/common/js/jquery.blockUI-2.66.js"></script>
    <script src="responsive/common/js/jquery.colorbox-min.js"></script>
    <script src="responsive/common/js/jquery.form.min.js"></script>
    <script src="responsive/common/js/jquery.hoverIntent.js"></script>
    <script src="responsive/common/js/jquery.pstrength.custom-1.2.0.js"></script>
    <script src="responsive/common/js/jquery.syncheight.custom.js"></script>
    <script src="responsive/common/js/jquery.tabs.custom.js"></script>
    <script src="responsive/common/js/jquery-ui-1.11.4.custom.min.js"></script>
    <script src="responsive/common/js/jquery.currencies.min.js"></script>
    <script src="responsive/common/js/jquery.zoom.custom.js"></script>
    <script src="responsive/common/js/owl.carousel.custom.js"></script>
    <script src="responsive/common/js/acc.address.js"></script>
    <script src="responsive/common/js/acc.autocomplete.js"></script>
    <script src="responsive/common/js/acc.carousel.js"></script>
    <script src="responsive/common/js/acc.cart.js"></script>
    <script src="responsive/common/js/acc.cartitem.js"></script>
    <script src="responsive/common/js/acc.checkout.js"></script>
    <script src="responsive/common/js/acc.checkoutsteps.js"></script>
    <script src="responsive/common/js/acc.colorbox.js"></script>
    <script src="responsive/common/js/acc.common.js"></script>
    <script src="responsive/common/js/acc.forgottenpassword.js"></script>
    <script src="responsive/common/js/acc.global.js"></script>
    <script src="responsive/common/js/acc.imagegallery.js"></script>
    <script src="responsive/common/js/acc.langcurrencyselector.js"></script>
    <script src="responsive/common/js/acc.minicart.js"></script>
    <script src="responsive/common/js/acc.navigation.js"></script>
    <script src="responsive/common/js/acc.order.js"></script>
    <script src="responsive/common/js/acc.paginationsort.js"></script>
    <script src="responsive/common/js/acc.paymentDetails.js"></script>
    <script src="responsive/common/js/acc.pickupinstore.js"></script>
    <script src="responsive/common/js/acc.product.js"></script>
    <script src="responsive/common/js/acc.productDetail.js"></script>
    <script src="responsive/common/js/acc.productvariants.js"></script>
    <script src="responsive/common/js/acc.quickview.js"></script>
    <script src="responsive/common/js/acc.ratingstars.js"></script>
    <script src="responsive/common/js/acc.refinements.js"></script>
    <script src="responsive/common/js/acc.tabs.js"></script>
    <script src="responsive/common/js/acc.track.js"></script>
    <script src="responsive/common/js/acc.storefinder.js"></script>
    <script src="responsive/common/js/_autoload.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
    <script src="responsive/common/js/jquery.validate.min.js"></script>
    <script src="addons/welagsstorefrontcommons/responsive/common/js/welagsstorefrontcommons.js"></script>
  </body>
</html>
