hybris/bin/custom/wiley/welstorefront/web/webroot/_ui/responsive/theme-blue/pages/login.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../"><!--[if IE 9]>
    <script>
      (function () {
          var baseTag = document.getElementsByTagName('base')[0];
          baseTag.href = baseTag.href;
      })();
    </script><![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="addons/welagsstorefrontcommons/responsive/common/css/welagsstorefrontcommons.css">
    <link rel="stylesheet" type="text/css" media="all" href="addons/liveeditaddon/responsive/common/css/liveeditaddon.css"><!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/ybase-ie9.css">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style-ie9.css"><![endif]-->
    <![if !IE]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css"><![endif]>
    <title>WEL</title>
  </head>
  <body>
    <main data-currency-iso-code="USD">
      <header id="main-header">
        <div class="site-header">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="logo"><a href="/welstorefront/wel/en/" title="Wiley EL" class="hidden-xs"><img src="responsive/theme-blue/images/logo.png" alt="Wiley EL" class="img-responsive"></a><a href="/welstorefront/wel/en/" title="Wiley EL" class="visible-xs">&lt;&nbsp;&nbsp;<img src="responsive/theme-blue/images/logo-320.png" alt="Wiley EL" class="img-responsive"></a></div>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-6">
                <ul class="site-menu nav navbar-nav navbar-right">
                  <li class="menu-item-mobile"><a title="Live Chat" class="livechat">Live Chat</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="search-bar" class="collapse">
          <div class="container">
            <form id="searchform" method="get" role="search" action="http://www.efficientlearning.com/wileycmaexcel/">
              <input type="text" placeholder="What can we help you find?">
              <button type="submit"><span class="hidden-xs">Search</span><span class="visible-xs">&nbsp;</span></button>
            </form>
          </div>
        </div>
      </header>
      <div class="container login-page">
        <div class="global-alerts">
          <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" type="button" class="close">×</button>Please correct the errors below.
          </div>
        </div>
        <ul class="progress-line">
          <li class="step step-completed"><span class="step-number">1</span><span class="step-name step-name-desktop">Create an Account or Log In</span><span class="step-name step-name-mobile">Log In</span></li>
          <li class="step step-completed"><span class="step-number">2</span><span class="step-name step-name-desktop">Billing & Shipping</span><span class="step-name step-name-mobile">Billing Shipping</span></li>
          <li class="step"><span class="step-number">3</span><span class="step-name">Payment</span></li>
          <li class="step"><span class="step-number">4</span><span class="step-name step-name-desktop">Order Confirmation</span><span class="step-name step-name-mobile">Order<br>Confirmation</span></li>
        </ul>
        <div class="content">
          <div class="feedback-title">
            <p>Have a question? You can call 888-884-5669 Mon-Fri 8am-8pm, Sat 10am-8pm EST</p>
          </div>
          <h1 class="page-title">Create an Account or Login<span class="tooltip-question">Already have a free trial&nbsp;<span data-toggle="popover" data-content="Use your email and previously created password to checkout." data-original-title="" class="tooltipHelp">?</span></span></h1>
          <div id="accordion" role="tablist" aria-multiselectable="false" class="row panel-group">
            <div class="col-sm-6 col-md-6 panel">
              <div role="tab" id="headingOne" class="panel-heading">
                <div class="form-title">Create a New Account<a role="button" data-parent="#accordion" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed form-title-toggle"></a></div>
              </div>
              <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="container-fluid create-account">
                    <div class="row">
                      <div class="col-sm-6 col-md-6 form-cell">
                        <label for="" class="form-label required">First Name</label>
                        <div class="form-field">
                          <input type="text" name="">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 form-cell">
                        <label for="" class="form-label required">Last Name</label>
                        <div class="form-field">
                          <input type="text" name="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6 form-cell">
                        <label for="" class="form-label required">Email Address</label>
                        <div class="form-field">
                          <input type="text" name="">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 form-cell">
                        <label for="" class="form-label required">Confirm Email Address</label>
                        <div class="form-field">
                          <input type="text" name="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6 form-cell">
                        <label for="" class="form-label required">Password</label>
                        <div class="form-field">
                          <input type="password" name="" autocomplete="off">
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-6 form-cell">
                        <label for="" class="form-label required">Confirm Password</label>
                        <div class="form-field">
                          <input type="password" name="" autocomplete="off">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-required mobile">Required</div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-buttons">
                        <button type="submit" class="button form-button pull-right">Create Account</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 panel">
              <div role="tab" id="headingTwo" class="panel-heading">
                <div class="form-title">Returning Users<a role="button" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed form-title-toggle"></a></div>
              </div>
              <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse">
                <div class="panel-body create-account">
                  <div class="row">
                    <div class="col-sm-6 col-md-6 form-cell">
                      <label for="" class="form-label required">Email Address</label>
                      <div class="form-field">
                        <input type="text" name="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-md-6 form-cell">
                      <label for="" class="form-label required">Password</label>
                      <div class="form-field">
                        <input type="password" name="" autocomplete="off">
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <div class="form-required mobile">Required</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 form-buttons"><a class="recover-password">Forgot password?</a>
                      <button type="submit" class="button form-button pull-right">Log In</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-required laptop">Required</div>
        </div>
      </div>
      <footer class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-12">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#" title="Terms of Use">Terms of Use</a></li>
                <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
                <li><a href="#" title="Shipping Information Return Policy">Shipping Information &#38; Return Policy</a></li>
                <li><a href="#" title="Contact Us">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"><a href="" title="" class="logo"><img src="responsive/theme-blue/images/logo-wiley-footer.png" alt="Wiley logo" class="img-responsive"></a></div>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script>
      /*<![CDATA[*/
      var ACC = {config: {}};
      ACC.config.contextPath = "/welstorefront";
      ACC.config.encodedContextPath = "/welstorefront/wel/en";
      ACC.config.commonResourcePath = "/welstorefront/_ui/responsive/common";
      ACC.config.themeResourcePath = "/welstorefront/_ui/responsive/theme-blue";
      ACC.config.siteResourcePath = "/welstorefront/_ui/responsive/site-wel";
      ACC.config.rootPath = "/welstorefront/_ui/responsive";
      ACC.config.CSRFToken = "afd195be-f142-4e7d-907e-480128d9b5f8";
      ACC.pwdStrengthVeryWeak = 'Very weak';
      ACC.pwdStrengthWeak = 'Weak';
      ACC.pwdStrengthMedium = 'Medium';
      ACC.pwdStrengthStrong = 'Strong';
      ACC.pwdStrengthVeryStrong = 'Very strong';
      ACC.pwdStrengthUnsafePwd = 'password.strength.unsafepwd';
      ACC.pwdStrengthTooShortPwd = 'Too short';
      ACC.pwdStrengthMinCharText = 'Minimum length is %d characters';
      ACC.accessibilityLoading = 'Loading... Please wait...';
      ACC.accessibilityStoresLoaded = 'Stores loaded';
      ACC.config.googleApiKey = "";
      ACC.config.googleApiVersion = "3.7";
      ACC.autocompleteUrl = '/welstorefront/wel/en/search/autocompleteSecure';
      /*]]>*/
      
    </script>
    <script>
      /*<![CDATA[*/
      ACC.addons = {};
      ACC.addons.wileystorefrontcommons = [];
      ACC.addons.liveeditaddon = [];
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.add'] = 'Add new component to content slot';
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.edit_menu'] = 'Edit menu';
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.override'] = 'Override content slot';
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.create'] = 'Create new content slot';
      ACC.addons.b2ccheckoutaddon = [];
      ACC.addons.b2ccheckoutaddon['key.2'] = 'value 2';
      ACC.addons.b2ccheckoutaddon['key.1'] = 'value 1';
      ACC.addons.subscriptionstorefront = [];
      /*]]>*/
      
    </script>
    <script src="shared/js/generatedVariables.js"></script>
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/matchMedia.js"></script>
    <script src="responsive/common/js/matchMedia.addListener.js"></script>
    <script src="responsive/common/js/enquire.min.js"></script>
    <script src="responsive/common/js/Imager.min.js"></script>
    <script src="responsive/common/js/jquery.blockUI-2.66.js"></script>
    <script src="responsive/common/js/jquery.colorbox-min.js"></script>
    <script src="responsive/common/js/jquery.form.min.js"></script>
    <script src="responsive/common/js/jquery.hoverIntent.js"></script>
    <script src="responsive/common/js/jquery.pstrength.custom-1.2.0.js"></script>
    <script src="responsive/common/js/jquery.syncheight.custom.js"></script>
    <script src="responsive/common/js/jquery.tabs.custom.js"></script>
    <script src="responsive/common/js/jquery-ui-1.11.4.custom.min.js"></script>
    <script src="responsive/common/js/jquery.currencies.min.js"></script>
    <script src="responsive/common/js/jquery.zoom.custom.js"></script>
    <script src="responsive/common/js/owl.carousel.custom.js"></script>
    <script src="responsive/common/js/acc.address.js"></script>
    <script src="responsive/common/js/acc.autocomplete.js"></script>
    <script src="responsive/common/js/acc.carousel.js"></script>
    <script src="responsive/common/js/acc.cart.js"></script>
    <script src="responsive/common/js/acc.cartitem.js"></script>
    <script src="responsive/common/js/acc.checkout.js"></script>
    <script src="responsive/common/js/acc.checkoutsteps.js"></script>
    <script src="responsive/common/js/acc.colorbox.js"></script>
    <script src="responsive/common/js/acc.common.js"></script>
    <script src="responsive/common/js/acc.forgottenpassword.js"></script>
    <script src="responsive/common/js/acc.global.js"></script>
    <script src="responsive/common/js/acc.imagegallery.js"></script>
    <script src="responsive/common/js/acc.langcurrencyselector.js"></script>
    <script src="responsive/common/js/acc.minicart.js"></script>
    <script src="responsive/common/js/acc.navigation.js"></script>
    <script src="responsive/common/js/acc.order.js"></script>
    <script src="responsive/common/js/acc.paginationsort.js"></script>
    <script src="responsive/common/js/acc.paymentDetails.js"></script>
    <script src="responsive/common/js/acc.pickupinstore.js"></script>
    <script src="responsive/common/js/acc.product.js"></script>
    <script src="responsive/common/js/acc.productDetail.js"></script>
    <script src="responsive/common/js/acc.productvariants.js"></script>
    <script src="responsive/common/js/acc.quickview.js"></script>
    <script src="responsive/common/js/acc.ratingstars.js"></script>
    <script src="responsive/common/js/acc.refinements.js"></script>
    <script src="responsive/common/js/acc.tabs.js"></script>
    <script src="responsive/common/js/acc.track.js"></script>
    <script src="responsive/common/js/acc.storefinder.js"></script>
    <script src="responsive/common/js/_autoload.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
    <script src="responsive/common/js/jquery.validate.min.js"></script>
    <script src="addons/welagsstorefrontcommons/responsive/common/js/welagsstorefrontcommons.js"></script>
  </body>
</html>

buildkit/welstorefront/jade/login.jade
extends layouts/grid-checkout
block vars
	- var drawFooterAddInfo = false;
	- var drawCategoryNavigationMenu = false;

block main
	div(class="container login-page")
		include partials/top-error-message
		include partials/progress-line
		div(class="content")
			include partials/feedback-title

			h1(class="page-title")
				| Create an Account or Login
				span(class="tooltip-question")
					| Already have a free trial&nbsp;
					span(class="tooltipHelp" data-toggle="popover" data-content="Use your email and previously created password to checkout." data-original-title="") ?

			div(class="row panel-group" id="accordion" role="tablist" aria-multiselectable="false")
				div(class="col-sm-6 col-md-6 panel")
					div(class="panel-heading" role="tab" id="headingOne")
						div(class="form-title")
							| Create a New Account
							a(class="collapsed form-title-toggle", role="button", data-parent="#accordion", data-toggle="collapse", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne")
					div(id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne")
						div(class="panel-body")
							div(class="container-fluid create-account")
								div(class="row")
									div(class="col-sm-6 col-md-6 form-cell")
										label(class="form-label required", for="") First Name
										div(class="form-field")
											input(type="text" name="")
									div(class="col-sm-6 col-md-6 form-cell")
										label(class="form-label required", for="") Last Name
										div(class="form-field")
											input(type="text" name="")
								div(class="row")
									div(class="col-sm-6 col-md-6 form-cell")
										label(class="form-label required", for="") Email Address
										div(class="form-field")
											input(type="text" name="")
									div(class="col-sm-6 col-md-6 form-cell")
										label(class="form-label required", for="") Confirm Email Address
										div(class="form-field")
											input(type="text" name="")
								div(class="row")
									div(class="col-sm-6 col-md-6 form-cell")
										label(class="form-label required", for="") Password
										div(class="form-field")
											input(type="password", name="", autocomplete="off")
									div(class="col-sm-6 col-md-6 form-cell")
										label(class="form-label required", for="") Confirm Password
										div(class="form-field")
											input(type="password", name="", autocomplete="off")
								div(class="row")
									div(class="form-required mobile")
										| Required
								div(class="row")
									div(class="col-md-12 form-buttons")
										button(class="button form-button pull-right", type="submit") Create Account
				div(class="col-sm-6 col-md-6 panel")
					div(class="panel-heading" role="tab" id="headingTwo")
						div(class="form-title")
							| Returning Users
							a(class="collapsed form-title-toggle", role="button", data-parent="#accordion", data-toggle="collapse", href="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo")
					div(id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo")
						div(class="panel-body create-account")
							div(class="row")
								div(class="col-sm-6 col-md-6 form-cell")
									label(class="form-label required", for="") Email Address
									div(class="form-field")
										input(type="text" name="")
							div(class="row")
								div(class="col-sm-6 col-md-6 form-cell")
									label(class="form-label required", for="") Password
									div(class="form-field")
										input(type="password", name="", autocomplete="off")
								div(class="col-xs-12 col-sm-12 col-md-12")
									div(class="form-required mobile")
										| Required
							div(class="row")
								div(class="col-sm-12 col-md-12 form-buttons")
									a(class="recover-password")
										| Forgot password?
									button(class="button form-button pull-right", type="submit") Log In

			div(class="form-required laptop")
				| Required
