hybris/bin/custom/wiley/welstorefront/web/webroot/_ui/responsive/theme-blue/pages/wpg-payment.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../"><!--[if IE 9]>
    <script>
      (function () {
          var baseTag = document.getElementsByTagName('base')[0];
          baseTag.href = baseTag.href;
      })();
    </script><![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="addons/welagsstorefrontcommons/responsive/common/css/welagsstorefrontcommons.css">
    <link rel="stylesheet" type="text/css" media="all" href="addons/liveeditaddon/responsive/common/css/liveeditaddon.css"><!--[if IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/ybase-ie9.css">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style-ie9.css"><![endif]-->
    <![if !IE]>
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css"><![endif]>
    <title>WEL</title>
  </head>
  <body>
    <main data-currency-iso-code="USD">
      <header id="main-header">
        <div class="site-header">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="logo"><a href="/welstorefront/wel/en/" title="Wiley EL" class="hidden-xs"><img src="responsive/theme-blue/images/logo.png" alt="Wiley EL" class="img-responsive"></a><a href="/welstorefront/wel/en/" title="Wiley EL" class="visible-xs">&lt;&nbsp;&nbsp;<img src="responsive/theme-blue/images/logo-320.png" alt="Wiley EL" class="img-responsive"></a></div>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-6">
                <ul class="site-menu nav navbar-nav navbar-right">
                  <li class="menu-item-mobile"><a title="Live Chat" class="livechat">Live Chat</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="search-bar" class="collapse">
          <div class="container">
            <form id="searchform" method="get" role="search" action="http://www.efficientlearning.com/wileycmaexcel/">
              <input type="text" placeholder="What can we help you find?">
              <button type="submit"><span class="hidden-xs">Search</span><span class="visible-xs">&nbsp;</span></button>
            </form>
          </div>
        </div>
      </header>
      <div class="container payment">
        <ul class="progress-line">
          <li class="step step-completed"><span class="step-number">1</span><span class="step-name step-name-desktop">Create an Account or Log In</span><span class="step-name step-name-mobile">Log In</span></li>
          <li class="step step-completed"><span class="step-number">2</span><span class="step-name step-name-desktop">Billing & Shipping</span><span class="step-name step-name-mobile">Billing Shipping</span></li>
          <li class="step"><span class="step-number">3</span><span class="step-name">Payment</span></li>
          <li class="step"><span class="step-number">4</span><span class="step-name step-name-desktop">Order Confirmation</span><span class="step-name step-name-mobile">Order<br>Confirmation</span></li>
        </ul>
        <div class="content">
          <div class="feedback-title">
            <p>Have a question? You can call 888-884-5669 Mon-Fri 8am-8pm, Sat 10am-8pm EST</p>
          </div>
          <div class="table-layout">
            <div class="wpg-subscriptions subscriptions">
              <div class="subscriptions-title"><a href="#">Back</a></div>
              <div class="subscriptions-container">
                <div class="subscriptions-header">
                  <div class="subscriptions-header-item item-item">Item</div>
                  <div class="subscriptions-header-item item-price">Price</div>
                  <div class="subscriptions-header-item item-qty">Qty</div>
                  <div class="subscriptions-header-item item-total">Total</div>
                </div>
                <div class="subscriptions-content">
                  <div class="subscription">
                    <div class="subscription-info">
                      <div class="subscription-image"><a href="#" class="subscription-image-link"><img src="https://app.efficientlearning.com/pv5/v8/page_assets/res/mycart/images/cpa_platinum_90x90.jpg" alt="Platinum CPA Review Course: Complete Print 2015"></a></div>
                      <h3 class="subscription-title"><a href="#" class="subscription-title-link">Platinum CPA Review Course: Complete Print 2016</a></h3>
                      <div class="subscription-description">
                        <ul>
                          <li>Complete Review Course</li>
                          <li>Virtual Classroom</li>
                          <li>Online Test Bank</li>
                          <li>Focus Notes</li>
                          <li>Flashcards</li>
                          <li>Course Offline Access (USB Drive)</li>
                          <li>Partner Until You Pass Guarantee - no expiration date until you pass your exam</li>
                        </ul>
                      </div>
                    </div>
                    <div class="subscription-price-item item-price">
                      <div class="subscription-price-name">Price:</div>
                      <div class="subscription-price-value">$1470.00</div>
                    </div>
                    <div class="subscription-price-item item-qty">
                      <div class="subscription-price-name">Qty:</div>
                      <div class="subscription-price-value">1</div>
                    </div>
                    <div class="subscription-price-item item-total">
                      <div class="subscription-price-name">Total:</div>
                      <div class="subscription-price-value">$1470.00</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="subscriptions-footer">
                <div class="subscriptions-subtotal">
                  <div class="subscriptions-subtotal-items">
                    <div class="subscriptions-subtotal-item item-subtotal">
                      <div class="subscriptions-subtotal-name">Subtotal:</div>
                      <div class="subscriptions-subtotal-value">$1,098.00</div>
                    </div>
                    <div class="subscriptions-subtotal-item item-discount">
                      <div class="subscriptions-subtotal-name">Tax:</div>
                      <div class="subscriptions-subtotal-value">$0.00</div>
                    </div>
                    <div class="subscriptions-subtotal-item item-tax">
                      <div class="subscriptions-subtotal-name">Shipping:</div>
                      <div class="subscriptions-subtotal-value">$0.00</div>
                    </div>
                    <div class="subscriptions-subtotal-item item-total">
                      <div class="subscriptions-subtotal-name">Total:</div>
                      <div class="subscriptions-subtotal-value">$1,098.00</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpg-payment">
              <div id="wpg-iframe">
                <iframe width="400" height="520" frameborder="0" src="https://chttpsandbox.wileypay.com/content/tns/webForm.php?session=x%DAM%92%DBN%DC0%10%86%EFy%8A%15Roc%27qN%D5%D4%08%95%0AP%2BX%ED%82z%ED%C4%13%12ic%1B%DBYH%9F%BENX%C2%FAj%FE9x%BE%FC%0E%5C%BD%0F%87%CD%11%AD%EB%B5%FAq%19G%F4%F2%8A_%80%11vp%1C%B4A%2B%7C%A8p1%FA%0E%C8%97%06%DF%0F%E8%BC%18%0C%8FY%96dU%C5%2AZ%24%14%C8W%01%8E%A8%A4%B6%F77%3C%A1%19%90U%81%B7B%B9%10%D0%D3%89%29K%C3%E0%29%0B%03%FANK%7E%F7%F4%B4%05r%12+%D15%B67%CB%F2%BF%DB%DB%CD%9D%F7fs%1D%A8%B4%ED%FF-L%9B%1D%BE%8Ea5%90%F3%5E8%8A%C3%88%3C%CB%A2%C0%F6%11C3Z%8B%AA%99%F8%F3%FE%06%C8%AA%C0%E2%CB%3C%F2p%0D%E4%14%82%C3P%EE%FD%C4%B1%AC0%CE%E3%9A%C5yAYR%E5%B9%94M%5B%149%D6L%B4i%02dm%05%21%A5E%E7%F8%EB%1B%02%F9%14%60%B4%F3%8D%96%C8%93%E5%00Y%13%D0%E8Qy%3B%FD%9CE%C9%02%E8y%220%B8%F9u%F8%FE%D7%7E%7F%FF%F80%1B%C6%2AF%B3%22f%C5mN%8B2%CDX%F9%BB%98%09%3E%1A%C3%87%F8%D1%AA%ADxA%DE%05%9F%DCwB%9A%25%10J%D6%FA%3Dz%EB%0F8%191E%8D%1E%C2.%E5Qy%E2%95%23%B3%A1%3BtF%2B%87%91%E9%CCl%C4zU%B8%B6%C5%D9%2A%E4%B2%8A%2B%86%AC.sJkV%D7%AC%C14iQ%A6yKsd%F9%3C%F7%D9%0B%B2wF%F8%A6%7B%DE%FDYq%16%B30R%22%0Ak%03%C9%10%08%DC%82%D3j%3B%90o.%BC%E2%D9X0k%F9%23%2F%FE%03%EC%03%EC%B2"></iframe>
              </div>
              <div id="wpg-session-timeout" style="display:none; color:red">Your session has expired. Please <a href="https://eCommerce-UAT-Web-ELB-997773317.us-east-1.elb.amazonaws.com/agsstorefront/ags/en/checkout/multi/billing-address/add" style="text-decoration: underline">go back</a> to make a payment</div>
              <div id="wpg-termsAndConditions">  By clicking on Make Payment I agree to the <a href="https://eCommerce-UAT-Web-ELB-997773317.us-east-1.elb.amazonaws.com/agsstorefront/termsAndConditions" target="_blank">Terms and Conditions</a></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-12">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#" title="Terms of Use">Terms of Use</a></li>
                <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
                <li><a href="#" title="Shipping Information Return Policy">Shipping Information &#38; Return Policy</a></li>
                <li><a href="#" title="Contact Us">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"><a href="" title="" class="logo"><img src="responsive/theme-blue/images/logo-wiley-footer.png" alt="Wiley logo" class="img-responsive"></a></div>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script>
      /*<![CDATA[*/
      var ACC = {config: {}};
      ACC.config.contextPath = "/welstorefront";
      ACC.config.encodedContextPath = "/welstorefront/wel/en";
      ACC.config.commonResourcePath = "/welstorefront/_ui/responsive/common";
      ACC.config.themeResourcePath = "/welstorefront/_ui/responsive/theme-blue";
      ACC.config.siteResourcePath = "/welstorefront/_ui/responsive/site-wel";
      ACC.config.rootPath = "/welstorefront/_ui/responsive";
      ACC.config.CSRFToken = "afd195be-f142-4e7d-907e-480128d9b5f8";
      ACC.pwdStrengthVeryWeak = 'Very weak';
      ACC.pwdStrengthWeak = 'Weak';
      ACC.pwdStrengthMedium = 'Medium';
      ACC.pwdStrengthStrong = 'Strong';
      ACC.pwdStrengthVeryStrong = 'Very strong';
      ACC.pwdStrengthUnsafePwd = 'password.strength.unsafepwd';
      ACC.pwdStrengthTooShortPwd = 'Too short';
      ACC.pwdStrengthMinCharText = 'Minimum length is %d characters';
      ACC.accessibilityLoading = 'Loading... Please wait...';
      ACC.accessibilityStoresLoaded = 'Stores loaded';
      ACC.config.googleApiKey = "";
      ACC.config.googleApiVersion = "3.7";
      ACC.autocompleteUrl = '/welstorefront/wel/en/search/autocompleteSecure';
      /*]]>*/
      
    </script>
    <script>
      /*<![CDATA[*/
      ACC.addons = {};
      ACC.addons.wileystorefrontcommons = [];
      ACC.addons.liveeditaddon = [];
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.add'] = 'Add new component to content slot';
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.edit_menu'] = 'Edit menu';
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.override'] = 'Override content slot';
      ACC.addons.liveeditaddon['liveeditaddon.message.slot.tooltip.action.create'] = 'Create new content slot';
      ACC.addons.b2ccheckoutaddon = [];
      ACC.addons.b2ccheckoutaddon['key.2'] = 'value 2';
      ACC.addons.b2ccheckoutaddon['key.1'] = 'value 1';
      ACC.addons.subscriptionstorefront = [];
      /*]]>*/
      
    </script>
    <script src="shared/js/generatedVariables.js"></script>
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/matchMedia.js"></script>
    <script src="responsive/common/js/matchMedia.addListener.js"></script>
    <script src="responsive/common/js/enquire.min.js"></script>
    <script src="responsive/common/js/Imager.min.js"></script>
    <script src="responsive/common/js/jquery.blockUI-2.66.js"></script>
    <script src="responsive/common/js/jquery.colorbox-min.js"></script>
    <script src="responsive/common/js/jquery.form.min.js"></script>
    <script src="responsive/common/js/jquery.hoverIntent.js"></script>
    <script src="responsive/common/js/jquery.pstrength.custom-1.2.0.js"></script>
    <script src="responsive/common/js/jquery.syncheight.custom.js"></script>
    <script src="responsive/common/js/jquery.tabs.custom.js"></script>
    <script src="responsive/common/js/jquery-ui-1.11.4.custom.min.js"></script>
    <script src="responsive/common/js/jquery.currencies.min.js"></script>
    <script src="responsive/common/js/jquery.zoom.custom.js"></script>
    <script src="responsive/common/js/owl.carousel.custom.js"></script>
    <script src="responsive/common/js/acc.address.js"></script>
    <script src="responsive/common/js/acc.autocomplete.js"></script>
    <script src="responsive/common/js/acc.carousel.js"></script>
    <script src="responsive/common/js/acc.cart.js"></script>
    <script src="responsive/common/js/acc.cartitem.js"></script>
    <script src="responsive/common/js/acc.checkout.js"></script>
    <script src="responsive/common/js/acc.checkoutsteps.js"></script>
    <script src="responsive/common/js/acc.colorbox.js"></script>
    <script src="responsive/common/js/acc.common.js"></script>
    <script src="responsive/common/js/acc.forgottenpassword.js"></script>
    <script src="responsive/common/js/acc.global.js"></script>
    <script src="responsive/common/js/acc.imagegallery.js"></script>
    <script src="responsive/common/js/acc.langcurrencyselector.js"></script>
    <script src="responsive/common/js/acc.minicart.js"></script>
    <script src="responsive/common/js/acc.navigation.js"></script>
    <script src="responsive/common/js/acc.order.js"></script>
    <script src="responsive/common/js/acc.paginationsort.js"></script>
    <script src="responsive/common/js/acc.paymentDetails.js"></script>
    <script src="responsive/common/js/acc.pickupinstore.js"></script>
    <script src="responsive/common/js/acc.product.js"></script>
    <script src="responsive/common/js/acc.productDetail.js"></script>
    <script src="responsive/common/js/acc.productvariants.js"></script>
    <script src="responsive/common/js/acc.quickview.js"></script>
    <script src="responsive/common/js/acc.ratingstars.js"></script>
    <script src="responsive/common/js/acc.refinements.js"></script>
    <script src="responsive/common/js/acc.tabs.js"></script>
    <script src="responsive/common/js/acc.track.js"></script>
    <script src="responsive/common/js/acc.storefinder.js"></script>
    <script src="responsive/common/js/_autoload.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
    <script src="responsive/common/js/jquery.validate.min.js"></script>
    <script src="addons/welagsstorefrontcommons/responsive/common/js/welagsstorefrontcommons.js"></script>
  </body>
</html>

buildkit/welstorefront/jade/wpg-payment.jade
extends layouts/grid-checkout
block vars
	- var drawFooterAddInfo = false;
	- var drawCategoryNavigationMenu = false;

block main
	div(class="container payment")
		include partials/progress-line
		div(class="content")

			include partials/feedback-title

			div(class="table-layout")
				div(class="wpg-subscriptions subscriptions")
					div(class="subscriptions-title")
						a(href="#") Back

					div(class="subscriptions-container")
						div(class="subscriptions-header")
							div(class="subscriptions-header-item item-item") Item
							div(class="subscriptions-header-item item-price") Price
							div(class="subscriptions-header-item item-qty") Qty
							div(class="subscriptions-header-item item-total") Total

						div(class="subscriptions-content")
							div(class="subscription")
								div(class="subscription-info")
									div(class="subscription-image")
										a(class="subscription-image-link", href="#")
											img(src="https://app.efficientlearning.com/pv5/v8/page_assets/res/mycart/images/cpa_platinum_90x90.jpg", alt="Platinum CPA Review Course: Complete Print 2015")
									h3(class="subscription-title")
										a(class="subscription-title-link", href="#") Platinum CPA Review Course: Complete Print 2016
									div(class="subscription-description")
										ul
											li Complete Review Course
											li Virtual Classroom
											li Online Test Bank
											li Focus Notes
											li Flashcards
											li Course Offline Access (USB Drive)
											li Partner Until You Pass Guarantee - no expiration date until you pass your exam

								div(class="subscription-price-item item-price")
									div(class="subscription-price-name") Price:
									div(class="subscription-price-value") $1470.00
								div(class="subscription-price-item item-qty")
									div(class="subscription-price-name") Qty:
									div(class="subscription-price-value") 1
								div(class="subscription-price-item item-total")
									div(class="subscription-price-name") Total:
									div(class="subscription-price-value") $1470.00

					div(class="subscriptions-footer")
						div(class="subscriptions-subtotal")
							div(class="subscriptions-subtotal-items")
								div(class="subscriptions-subtotal-item item-subtotal")
									div(class="subscriptions-subtotal-name")
										| Subtotal:
									div(class="subscriptions-subtotal-value")
										| $1,098.00
								div(class="subscriptions-subtotal-item item-discount")
									div(class="subscriptions-subtotal-name")
										| Tax:
									div(class="subscriptions-subtotal-value")
										| $0.00
								div(class="subscriptions-subtotal-item item-tax")
									div(class="subscriptions-subtotal-name")
										| Shipping:
									div(class="subscriptions-subtotal-value")
										| $0.00
								div(class="subscriptions-subtotal-item item-total")
									div(class="subscriptions-subtotal-name")
										| Total:
									div(class="subscriptions-subtotal-value")
										| $1,098.00

				div(class="wpg-payment")
					include partials/wpg-payment-iframe
