buildkit/wileyb2cstorefront/jade/b2b-checkout-payment.jade
extends layouts/grid-two-column-7-4
block vars
	- var pageTitle = "Secure Checkout";
	- var headTitleText = "b2b - Checkout: Payment & Billing Address";
	- var containerCSSClass = "checkout-payment b2b-checkout checkout-support-message-wr";
	- var pageTitleCSSClass = "icon-lock";
	- var isCheckoutPayment = true;
	- var isCheckoutPaymentB2B = true;
	- var supportMessage = true;

	- var productModalList = [];
	- productModalList.push({title: "2014 FASB Update Intermediate Accounting 15th Edition", imageSRC: "responsive/theme-blue/images/product-image.png", qty: 1, price: 114.32});
	- productModalList.push({title: "2014 FASB Update Intermediate Accounting 15th Edition", imageSRC: "responsive/theme-blue/images/product-image.png", qty: 1, price: 114.32});
	- productModalList.push({title: "2014 FASB Update Intermediate Accounting 15th Edition", imageSRC: "responsive/theme-blue/images/product-image.png", qty: 1, price: 114.32});

block left
	+checkoutAccordion(1, [{name: "Payment"}, {name: "Shipping Information"}, {name: "Shipping Method"}, {name: "Order Review"}])
		div(class="checkout-accordion-content-wrap")
			div(class="checkout-payment-buttons")
				div(class="row")
					div(class="col-xs-12 col-sm-6")
						button(class="button button-main large", data-toggle="modal", data-target="#payByInvoice") Pay By Invoice
					div(class="col-xs-12 col-sm-6")
						button(class="button button-secondary large add-another-card") Add another Credit Card
						div(class="checkout-payment-credit-cards")
							div(class="credit-card")
		+modal("payByInvoice", "Pay By Invoice")
			div(class="modal-wnd-list")
				- each item, i in productModalList
					div(class="modal-wnd-list-item")
						div(class="modal-wnd-list-image")
							img(src=item.imageSRC, alt="")
						div(class="row modal-wnd-list-info")
							div(class="col-xs-12 col-sm-6")
								div(class="modal-wnd-list-title")
									=item.title
								div(class="modal-wnd-list-qty")
									| Qty:
									=item.qty
							div(class="col-xs-12 col-sm-2")
								div(class="modal-wnd-list-price")
									=item.price
							div(class="col-xs-12 col-sm-4")
								div(class="modal-wnd-list-number")
									input(type="text", placeholder="Enter P.O Number")
				div(class="modal-button-wrap")
					div(class="row")
						div(class="col-xs-12 col-sm-4 col-sm-offset-4")
							button(class="button button-main medium")
								| Continue
						div(class="col-xs-12 col-sm-4")
							button(class="button button-outlined medium", data-dismiss="modal", aria-label="Close")
								| Cancel
block right
	include checkout/checkout-order-brief-section

hybris/bin/custom/wiley/wileyb2bstorefront/web/webroot/_ui/responsive/theme-wiley/pages/b2b-checkout-payment.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css">
    <title>b2b - Checkout: Payment &amp; Billing Address</title>
  </head>
  <body>
    <main>
      <!-- sets 'b2b' class for B2B pages, according to isB2BPage variable passed from specific jade template-->
      <header id="main-header-container" role="banner" class="main-header-container ">
        <div class="container">
          <nav role="navigation" class="main-navigation-container">
            <div class="main-navigation-links"><a href="javascript:void(0);" title="Wiley" class="logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
              <div class="navigation-links-items">
                <div class="navigation-link-item welcome-link">Welcome Isaac</div>
                <div class="navigation-link-item my-account-link"><a href="javascript:void(0);">My Account</a>
                  <div class="dropdown-menu arrow my-account-container">
                    <button tabindex="-1" class="close">&nbsp;</button>
                    <div tabindex="0" class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Order History</a></li>
                        <li><a href="javascript:void(0);">Manage Subscriptions</a></li>
                        <li><a href="javascript:void(0);">My Digital Products</a></li>
                        <li><a href="javascript:void(0);">Address Book</a></li>
                        <li><a href="javascript:void(0);">Payment Details</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Update Personal Details</a></li>
                        <li><a href="javascript:void(0);">Update Password</a></li>
                        <li><a href="javascript:void(0);">Update Email</a></li>
                      </ul>
                      <div class="buttons"><a href="javascript:void(0);" class="button">Sign Out</a></div>
                    </div>
                  </div>
                </div>
                <div class="navigation-link-item my-cart-link"><a href="javascript:void(0);" class="cart-not-empty">Shopping cart<span class="quantity">3</span><span class="price">$312.96</span></a></div>
              </div>
            </div>
            <div class="main-navigation-menu">
              <ul class="navigation-menu-items">
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Subjects</a>
                  <div class="dropdown-menu">
                    <div class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="#">Accounting</a></li>
                        <li><a href="#">Arts & Architecture</a></li>
                        <li><a href="#">Business & Management</a></li>
                        <li><a href="#">Chemistry</a></li>
                        <li><a href="#">Computing</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Culinary & Hospitality</a></li>
                        <li><a href="#">Earth, Space & Environmental Sciences</a></li>
                        <li><a href="#">Economics</a></li>
                        <li><a href="#">Education</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Law & Criminology</a></li>
                        <li><a href="#">Life Sciences</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Mathematics & Statistics</a></li>
                        <li><a href="#">Psychology</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="javascript:void(0);">About Wiley</a></li>
                <li><a href="javascript:void(0);">Contact US</a></li>
                <li><a href="javascript:void(0);">Help</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div class="container checkout-payment b2b-checkout checkout-support-message-wr">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="support-message"><span class="progress-number">Need Help with your checkout process?</span> Contact US or Call phone number.</div>
            <h1 class="page-title icon-lock">Secure Checkout</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <div class="checkout-accordion">
              <div class="checkout-accordion-item current">
                <div class="checkout-accordion-header"><a href="#"><span class="item-number">1</span><span class="item-text">Payment</span><span class="icon-edit"></span></a></div>
                <div class="checkout-accordion-content">
                  <div class="checkout-accordion-content-wrap">
                    <div class="checkout-payment-buttons">
                      <div class="row">
                        <div class="col-xs-12 col-sm-6">
                          <button data-toggle="modal" data-target="#payByInvoice" class="button button-main large">Pay By Invoice</button>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                          <button class="button button-secondary large add-another-card">Add another Credit Card</button>
                          <div class="checkout-payment-credit-cards">
                            <div class="credit-card"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="payByInvoice" role="dialog" class="modal fade modalWindow ">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <div class="row">
                            <div class="col-xs-10 col-sm-10">
                              <div class="modal-title">Pay By Invoice
                              </div>
                            </div>
                            <div class="col-xs-2 col-sm-2">
                              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                            </div>
                          </div>
                        </div>
                        <div class="modal-body">
                          <div class="modal-wnd-list">
                            <div class="modal-wnd-list-item">
                              <div class="modal-wnd-list-image"><img src="responsive/theme-blue/images/product-image.png" alt=""></div>
                              <div class="row modal-wnd-list-info">
                                <div class="col-xs-12 col-sm-6">
                                  <div class="modal-wnd-list-title">2014 FASB Update Intermediate Accounting 15th Edition
                                  </div>
                                  <div class="modal-wnd-list-qty">Qty:1
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-2">
                                  <div class="modal-wnd-list-price">114.32
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                  <div class="modal-wnd-list-number">
                                    <input type="text" placeholder="Enter P.O Number">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-wnd-list-item">
                              <div class="modal-wnd-list-image"><img src="responsive/theme-blue/images/product-image.png" alt=""></div>
                              <div class="row modal-wnd-list-info">
                                <div class="col-xs-12 col-sm-6">
                                  <div class="modal-wnd-list-title">2014 FASB Update Intermediate Accounting 15th Edition
                                  </div>
                                  <div class="modal-wnd-list-qty">Qty:1
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-2">
                                  <div class="modal-wnd-list-price">114.32
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                  <div class="modal-wnd-list-number">
                                    <input type="text" placeholder="Enter P.O Number">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-wnd-list-item">
                              <div class="modal-wnd-list-image"><img src="responsive/theme-blue/images/product-image.png" alt=""></div>
                              <div class="row modal-wnd-list-info">
                                <div class="col-xs-12 col-sm-6">
                                  <div class="modal-wnd-list-title">2014 FASB Update Intermediate Accounting 15th Edition
                                  </div>
                                  <div class="modal-wnd-list-qty">Qty:1
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-2">
                                  <div class="modal-wnd-list-price">114.32
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                  <div class="modal-wnd-list-number">
                                    <input type="text" placeholder="Enter P.O Number">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="modal-button-wrap">
                              <div class="row">
                                <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                                  <button class="button button-main medium">Continue</button>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                  <button data-dismiss="modal" aria-label="Close" class="button button-outlined medium">Cancel</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="checkout-accordion-item">
                <div class="checkout-accordion-header"><a href="#"><span class="item-number">2</span><span class="item-text">Shipping Information</span><span class="icon-edit"></span></a></div>
              </div>
              <div class="checkout-accordion-item">
                <div class="checkout-accordion-header"><a href="#"><span class="item-number">3</span><span class="item-text">Shipping Method</span><span class="icon-edit"></span></a></div>
              </div>
              <div class="checkout-accordion-item">
                <div class="checkout-accordion-header"><a href="#"><span class="item-number">4</span><span class="item-text">Order Review</span><span class="icon-edit"></span></a></div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <div class="order-brief-section checkout-desktop">
              <div class="order-brief-top">
                <div class="order-brief-top-item">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 order-brief-top-title">Ship to:</div>
                    <div class="col-xs-12 col-sm-6">
                      <p>Mr. Issac Gerber</p>
                      <p>1111 River Street</p>
                      <p>Hoboken, NJ 07030-5774</p>
                    </div>
                  </div>
                </div>
                <div class="order-brief-top-item">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 order-brief-top-title">Desired Shipping Date:</div>
                    <div class="col-xs-12 col-sm-6">
                      <p>mm/dd/yyyy</p>
                    </div>
                  </div>
                </div>
                <div class="order-brief-top-item">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 order-brief-top-title">Shipping Method:</div>
                    <div class="col-xs-12 col-sm-6">
                      <p>Shipping Method</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-list">
                <div class="product-list-item">
                  <div class="row product-list-info">
                    <div class="col-xs-9 col-sm-9">
                      <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image" width="60" height="80"></div>
                      <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                      <div class="product-list-description">
                        <div class="product-list-qty">Qty: 1</div>
                        <div class="product-list-status">
                          <div class="status-title">Availability:</div>
                          <div class="status-description">
                            <div>2 In Stock; expected 07/20/2016</div>
                            <div>5 Back-order; expected 12/31/2016</div>
                            <div>4 Back-order; expected 01/31/2017</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 text-right">
                      <div class="product-item-price">$114.12</div>
                    </div>
                  </div>
                </div>
                <div class="product-list-item">
                  <div class="row product-list-info">
                    <div class="col-xs-9 col-sm-9">
                      <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image" width="60" height="80"></div>
                      <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                      <div class="product-list-description">
                        <div class="product-list-qty">Qty: 1</div>
                        <div class="product-list-status">
                          <div class="status-title">Availability:</div>
                          <div class="status-description">
                            <div>2 In Stock; expected 07/20/2016</div>
                            <div>5 Back-order; expected 12/31/2016</div>
                            <div>4 Back-order; expected 01/31/2017</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 text-right">
                      <div class="product-item-price">$114.12</div>
                    </div>
                  </div>
                </div>
                <div class="product-list-item">
                  <div class="row product-list-info">
                    <div class="col-xs-9 col-sm-9">
                      <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image" width="60" height="80"></div>
                      <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                      <div class="product-list-description">
                        <div class="product-list-qty">Qty: 1</div>
                        <div class="product-list-status">
                          <div class="status-title">Availability:</div>
                          <div class="status-description">
                            <div>2 In Stock; expected 07/20/2016</div>
                            <div>5 Back-order; expected 12/31/2016</div>
                            <div>4 Back-order; expected 01/31/2017</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 text-right">
                      <div class="product-item-price">$114.12</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="payment-type">
                <div class="row">
                  <div class="col-xs-12 col-sm-2">
                    <div class="payment-type-title">Payment:</div>
                  </div>
                  <div class="col-xs-12 col-sm-10">
                    <div class="payment-type-info">
                      <p>Payment-type</p>
                      <p>Payment-type</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="order-total-section">
                <div class="order-total-list">
                  <div class="order-total-title">Order Total</div>
                  <div class="order-total-item">
                    <div class="row">
                      <div class="col-xs-6 col-sm-6">Subtotal:</div>
                      <div class="col-xs-6 col-sm-6 text-right price"><$##.##></div>
                    </div>
                  </div>
                  <div class="order-total-item">
                    <div class="row">
                      <div class="col-xs-6 col-sm-6">Delivery:</div>
                      <div class="col-xs-6 col-sm-6 text-right price"><$##.##></div>
                    </div>
                  </div>
                </div>
                <div class="order-total-info order-total-title">
                  <div class="row">
                    <div class="col-xs-6 col-sm-6">Total:</div>
                    <div class="col-xs-6 col-sm-6 text-right">$312.96</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="main-footer-links">
                <div class="footer-links-title">About Wiley</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">About us</a></li>
                  <li><a href="javascript:void(0);">Careers</a></li>
                  <li><a href="javascript:void(0);">Locations</a></li>
                  <li><a href="javascript:void(0);">Investor Relations</a></li>
                  <li><a href="javascript:void(0);">Press Room</a></li>
                </ul>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Subjects</a></li>
                  <li><a href="javascript:void(0);">Events</a></li>
                  <li><a href="javascript:void(0);">Brands</a></li>
                  <li><a href="javascript:void(0);">Resources</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Resources</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Authors</a></li>
                  <li><a href="javascript:void(0);">Instructors</a></li>
                  <li><a href="javascript:void(0);">Students</a></li>
                  <li><a href="javascript:void(0);">Librarians</a></li>
                  <li><a href="javascript:void(0);">Societies</a></li>
                  <li><a href="javascript:void(0);">Booksellers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Customer Support</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Privacy Policy</a></li>
                  <li><a href="javascript:void(0);">Site Map</a></li>
                  <li><a href="javascript:void(0);">Contact Us</a></li>
                  <li><a href="javascript:void(0);">Help</a></li>
                </ul>
              </div>
            </div>
            <div class="hidden-xs col-sm-4 col-sm-offset-1">
              <div class="footer-sign-up">
                <div class="sign-up-title">Sign up to receive Wiley updates</div>
                <div class="sign-up-field">
                  <div class="input-group">
                    <input type="text" placeholder="Your Email" class="input form-control"><span class="input-group-btn">
                      <button type="button" class="button small">Send</button></span>
                  </div>
                </div>
              </div>
              <div class="footer-social-links">
                <div class="social-links-title">Follow us</div>
                <div class="social-links-items"><a href="javascript:void(0);" title="Facebook"><img src="responsive/common/images/facebook.png" alt="Facebook"></a><a href="javascript:void(0);" title="Twitter"><img src="responsive/common/images/twitter.png" alt="Twitter"></a><a href="javascript:void(0);" title="Linkedin"><img src="responsive/common/images/linkedin.png" alt="Linkedin"></a><a href="javascript:void(0);" title="Youtube"><img src="responsive/common/images/youtube.png" alt="Youtube"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-footer-copyright">
          <div class="container">
            <div class="footer-copyright-text">
              <p><a href="javascript:void(0);"><b>Copyright &copy; 2000-2015</b></a> by <a href="javascript:void(0);"><b>John Wiley & Sons, Inc.,</b></a> or related companies. All rights reserved.</p>
              <p>Review our <a href="javascript:void(0);"><b>privacy policy</b></a>.</p>
            </div><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
          </div>
        </div>
      </footer>
    </main>
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel.custom.js"></script>
    <script src="responsive/common/js/jquery-ui.datapicker-selectmenu.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>
