buildkit/wileyb2cstorefront/jade/dts.jade
extends layouts/grid-two-column-6-6
block vars
	- var pageTitle = "Student Bookstore";
	- var containerCSSClass = "dts-page";
	- var subTitleBlock = true;
	- var fullWidthTitle = true;
	- var isfullWidthGrayH1Mobile = true;

block subTitle
	h3 University of Nevada
	p Welcome to the Direct-To-Student Website for your Engineering Thermodynamics course.
	p Your professor has negotiated directly with the publisher to facilitate the purchase of your course material.
	p(class="slim") ME 311
		br
		| Engineering Thermodynamics

block left
	div(class="product-list product-list-cart")
		- for (var x = 1; x < 4; x++)
		div(class="product-list-item")
			div(class="product-list-image")
				img(src="responsive/common/images/product-image.png", alt="product image", width="124", height="163")
			div(class="row product-list-info")
				div(class="col-xs-10 col-sm-9")
					div(class="product-list-title")
						| 2014 FASB Update Intermediate Accounting, 15th Edition
					div(class="product-list-description")
						div(class="product-list-author") Donald E. Kieso, Jerry J. Weygandt, Terry D. Warfield
						div(class="product-list-format") Format: Wiley Custom
				div(class="col-xs-2 col-sm-3")
					div(class="product-item-buttons")
						button(class="button button-remove")
				div(class="product-item-price")
					div(class="col-xs-12 col-sm-5")
						div(class="item-price")
							| Original Price:&nbsp;
							span(class="line-through") $114.12
						div(class="item-price-discounted")
							| Discounted Price: $114.12
							span (plus shipping fee where applicable)

	div(class="product-list-buttons")
		button(class="button button-main large") Add to Cart

hybris/bin/custom/wiley/wileyb2bstorefront/web/webroot/_ui/responsive/theme-wiley/pages/dts.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css">
    <title>Wiley</title>
  </head>
  <body>
    <main>
      <!-- sets 'b2b' class for B2B pages, according to isB2BPage variable passed from specific jade template-->
      <header id="main-header-container" role="banner" class="main-header-container ">
        <div class="container">
          <nav role="navigation" class="main-navigation-container">
            <div class="main-navigation-links"><a href="javascript:void(0);" title="Wiley" class="logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
              <div class="navigation-links-items">
                <div class="navigation-link-item welcome-link">Welcome Isaac</div>
                <div class="navigation-link-item my-account-link"><a href="javascript:void(0);">My Account</a>
                  <div class="dropdown-menu arrow my-account-container">
                    <button tabindex="-1" class="close">&nbsp;</button>
                    <div tabindex="0" class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Order History</a></li>
                        <li><a href="javascript:void(0);">Manage Subscriptions</a></li>
                        <li><a href="javascript:void(0);">My Digital Products</a></li>
                        <li><a href="javascript:void(0);">Address Book</a></li>
                        <li><a href="javascript:void(0);">Payment Details</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Update Personal Details</a></li>
                        <li><a href="javascript:void(0);">Update Password</a></li>
                        <li><a href="javascript:void(0);">Update Email</a></li>
                      </ul>
                      <div class="buttons"><a href="javascript:void(0);" class="button">Sign Out</a></div>
                    </div>
                  </div>
                </div>
                <div class="navigation-link-item my-cart-link"><a href="javascript:void(0);" class="cart-not-empty">Shopping cart<span class="quantity">3</span><span class="price">$312.96</span></a></div>
              </div>
            </div>
            <div class="main-navigation-menu">
              <ul class="navigation-menu-items">
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Subjects</a>
                  <div class="dropdown-menu">
                    <div class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="#">Accounting</a></li>
                        <li><a href="#">Arts & Architecture</a></li>
                        <li><a href="#">Business & Management</a></li>
                        <li><a href="#">Chemistry</a></li>
                        <li><a href="#">Computing</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Culinary & Hospitality</a></li>
                        <li><a href="#">Earth, Space & Environmental Sciences</a></li>
                        <li><a href="#">Economics</a></li>
                        <li><a href="#">Education</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Law & Criminology</a></li>
                        <li><a href="#">Life Sciences</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Mathematics & Statistics</a></li>
                        <li><a href="#">Psychology</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="javascript:void(0);">About Wiley</a></li>
                <li><a href="javascript:void(0);">Contact US</a></li>
                <li><a href="javascript:void(0);">Help</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div class="container dts-page">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h1 class="full-width-gray">Student Bookstore</h1>
            <div class="sub-title-block">
              <h3>University of Nevada</h3>
              <p>Welcome to the Direct-To-Student Website for your Engineering Thermodynamics course.</p>
              <p>Your professor has negotiated directly with the publisher to facilitate the purchase of your course material.</p>
              <p class="slim">ME 311<br>Engineering Thermodynamics</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 left-block">
            <div class="product-list product-list-cart">
              <div class="product-list-item">
                <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image" width="124" height="163"></div>
                <div class="row product-list-info">
                  <div class="col-xs-10 col-sm-9">
                    <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                    <div class="product-list-description">
                      <div class="product-list-author">Donald E. Kieso, Jerry J. Weygandt, Terry D. Warfield</div>
                      <div class="product-list-format">Format: Wiley Custom</div>
                    </div>
                  </div>
                  <div class="col-xs-2 col-sm-3">
                    <div class="product-item-buttons">
                      <button class="button button-remove"></button>
                    </div>
                  </div>
                  <div class="product-item-price">
                    <div class="col-xs-12 col-sm-5">
                      <div class="item-price">Original Price:&nbsp;<span class="line-through">$114.12</span></div>
                      <div class="item-price-discounted">Discounted Price: $114.12<span>(plus shipping fee where applicable)</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-list-buttons">
              <button class="button button-main large">Add to Cart</button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="main-footer-links">
                <div class="footer-links-title">About Wiley</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">About us</a></li>
                  <li><a href="javascript:void(0);">Careers</a></li>
                  <li><a href="javascript:void(0);">Locations</a></li>
                  <li><a href="javascript:void(0);">Investor Relations</a></li>
                  <li><a href="javascript:void(0);">Press Room</a></li>
                </ul>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Subjects</a></li>
                  <li><a href="javascript:void(0);">Events</a></li>
                  <li><a href="javascript:void(0);">Brands</a></li>
                  <li><a href="javascript:void(0);">Resources</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Resources</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Authors</a></li>
                  <li><a href="javascript:void(0);">Instructors</a></li>
                  <li><a href="javascript:void(0);">Students</a></li>
                  <li><a href="javascript:void(0);">Librarians</a></li>
                  <li><a href="javascript:void(0);">Societies</a></li>
                  <li><a href="javascript:void(0);">Booksellers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Customer Support</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Privacy Policy</a></li>
                  <li><a href="javascript:void(0);">Site Map</a></li>
                  <li><a href="javascript:void(0);">Contact Us</a></li>
                  <li><a href="javascript:void(0);">Help</a></li>
                </ul>
              </div>
            </div>
            <div class="hidden-xs col-sm-4 col-sm-offset-1">
              <div class="footer-sign-up">
                <div class="sign-up-title">Sign up to receive Wiley updates</div>
                <div class="sign-up-field">
                  <div class="input-group">
                    <input type="text" placeholder="Your Email" class="input form-control"><span class="input-group-btn">
                      <button type="button" class="button small">Send</button></span>
                  </div>
                </div>
              </div>
              <div class="footer-social-links">
                <div class="social-links-title">Follow us</div>
                <div class="social-links-items"><a href="javascript:void(0);" title="Facebook"><img src="responsive/common/images/facebook.png" alt="Facebook"></a><a href="javascript:void(0);" title="Twitter"><img src="responsive/common/images/twitter.png" alt="Twitter"></a><a href="javascript:void(0);" title="Linkedin"><img src="responsive/common/images/linkedin.png" alt="Linkedin"></a><a href="javascript:void(0);" title="Youtube"><img src="responsive/common/images/youtube.png" alt="Youtube"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-footer-copyright">
          <div class="container">
            <div class="footer-copyright-text">
              <p><a href="javascript:void(0);"><b>Copyright &copy; 2000-2015</b></a> by <a href="javascript:void(0);"><b>John Wiley & Sons, Inc.,</b></a> or related companies. All rights reserved.</p>
              <p>Review our <a href="javascript:void(0);"><b>privacy policy</b></a>.</p>
            </div><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel.custom.js"></script>
    <script src="responsive/common/js/jquery-ui.datapicker-selectmenu.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>
