hybris/bin/custom/wiley/wileyb2bstorefront/web/webroot/_ui/responsive/theme-wiley/pages/my-account-payment-details-add-credit-card.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css">
    <title>b2c - Add a Credit Card</title>
  </head>
  <body>
    <main>
      <!-- sets 'b2b' class for B2B pages, according to isB2BPage variable passed from specific jade template-->
      <header id="main-header-container" role="banner" class="main-header-container ">
        <div class="container">
          <nav role="navigation" class="main-navigation-container">
            <div class="main-navigation-links"><a href="javascript:void(0);" title="Wiley" class="logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
              <div class="navigation-links-items">
                <div class="navigation-link-item welcome-link">Welcome Isaac</div>
                <div class="navigation-link-item my-account-link"><a href="javascript:void(0);">My Account</a>
                  <div class="dropdown-menu arrow my-account-container">
                    <button tabindex="-1" class="close">&nbsp;</button>
                    <div tabindex="0" class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Order History</a></li>
                        <li><a href="javascript:void(0);">Manage Subscriptions</a></li>
                        <li><a href="javascript:void(0);">My Digital Products</a></li>
                        <li><a href="javascript:void(0);">Address Book</a></li>
                        <li><a href="javascript:void(0);">Payment Details</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Update Personal Details</a></li>
                        <li><a href="javascript:void(0);">Update Password</a></li>
                        <li><a href="javascript:void(0);">Update Email</a></li>
                      </ul>
                      <div class="buttons"><a href="javascript:void(0);" class="button">Sign Out</a></div>
                    </div>
                  </div>
                </div>
                <div class="navigation-link-item my-cart-link"><a href="javascript:void(0);" class="cart-not-empty">Shopping cart<span class="quantity">3</span><span class="price">$312.96</span></a></div>
              </div>
            </div>
            <div class="main-navigation-menu">
              <ul class="navigation-menu-items">
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Subjects</a>
                  <div class="dropdown-menu">
                    <div class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="#">Accounting</a></li>
                        <li><a href="#">Arts & Architecture</a></li>
                        <li><a href="#">Business & Management</a></li>
                        <li><a href="#">Chemistry</a></li>
                        <li><a href="#">Computing</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Culinary & Hospitality</a></li>
                        <li><a href="#">Earth, Space & Environmental Sciences</a></li>
                        <li><a href="#">Economics</a></li>
                        <li><a href="#">Education</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Law & Criminology</a></li>
                        <li><a href="#">Life Sciences</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Mathematics & Statistics</a></li>
                        <li><a href="#">Psychology</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="javascript:void(0);">About Wiley</a></li>
                <li><a href="javascript:void(0);">Contact US</a></li>
                <li><a href="javascript:void(0);">Help</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div class="container my-account add-card my-account-support-message-wr wrap">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <nav class="sidebar-nav">
              <div class="yCmsComponent "><a href="#" title="Order History" class="nav-item">Order History</a></div>
              <div class="yCmsComponent "><a href="#" title="Manage Subscriptions" class="nav-item">Manage Subscriptions</a></div>
              <div class="yCmsComponent "><a href="#" title="My Digital Products" class="nav-item">My Digital Products</a></div>
              <div class="yCmsComponent "><a href="#" title="Address Book" class="nav-item">Address Book</a></div>
              <div class="yCmsComponent active"><a href="#" title="Payment Details" class="nav-item">Payment Details</a></div>
              <div class="yCmsComponent "><a href="#" title="Update Personal Details" class="nav-item">Update Personal Details</a></div>
              <div class="yCmsComponent "><a href="#" title="Update Password" class="nav-item">Update Password</a></div>
            </nav>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="support-message"><span class="progress-number">Need Help with your checkout process?</span> Contact US or Call phone number.</div>
            <h1 class="full-width-gray">Add a Credit Card</h1>
            <div class="my-account-wrap">
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <div class="site-form">
                    <form>
                      <div class="form-cell">
                        <div class="form-label required">
                          <label for="country">Country</label>
                        </div>
                        <div data-banner="usa" class="form-field select-component select-form-element">
                          <select id="country">
                            <option>&nbsp;</option>
                            <option>USA</option>
                            <option>Canada</option>
                            <option>USA</option>
                            <option>Canada</option>
                            <option>USA</option>
                            <option>Canada</option>
                            <option>USA</option>
                            <option>Canada</option>
                            <option>USA</option>
                            <option>Canada</option>
                            <option>USA</option>
                            <option>Canada</option>
                            <option>USA</option>
                            <option>Canada</option>
                            <option>USA</option>
                            <option>Canada</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-elements-wrap hidden">
                        <div class="form-cell">
                          <div class="form-label required">
                            <label for="title">Title</label>
                          </div>
                          <div class="form-field select-component select-form-element">
                            <select id="title">
                              <option>Title1</option>
                              <option>Title2</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-cell">
                          <div class="form-label required">
                            <label for="first-name">First Name</label>
                          </div>
                          <div class="form-field">
                            <input type="text" id="first-name" placeholder="&lt;first Name&gt;">
                          </div>
                        </div>
                        <div class="form-cell">
                          <div class="form-label required">
                            <label for="last-name">Last Name</label>
                          </div>
                          <div class="form-field">
                            <input type="text" id="last-name" placeholder="&lt;last Name&gt;">
                          </div>
                        </div>
                        <div class="form-cell">
                          <div class="form-label required">
                            <label for="address-line1">Address Line 1</label>
                          </div>
                          <div class="form-field">
                            <input type="text" id="address-line1" placeholder="&lt;address&gt;">
                          </div>
                        </div>
                        <div class="form-cell">
                          <div class="form-label required">
                            <label for="address-line2">Address Line 2 (optional)</label>
                          </div>
                          <div class="form-field">
                            <input type="text" id="address-line2">
                          </div>
                        </div>
                        <div class="form-cell">
                          <div class="form-label required">
                            <label for="city">City</label>
                          </div>
                          <div class="form-field">
                            <input type="text" id="city" placeholder="&lt;city&gt;">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-6 col-sm-6">
                            <div class="form-cell">
                              <div class="form-label required">
                                <label for="state-province">State / Province</label>
                              </div>
                              <div class="form-field select-component select-form-element">
                                <select id="state-province">
                                  <option>State / Province1</option>
                                  <option>State / Province2</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-6 col-sm-6">
                            <div class="form-cell">
                              <div class="form-label required">
                                <label for="zip-postal-code">Zip / Postal Code</label>
                              </div>
                              <div class="form-field">
                                <input type="text" id="zip-postal-code" placeholder="&lt;Zip / Postal Code&gt;">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-cell">
                        <div class="form-field checkbox-component save-to-address-book">
                          <input type="checkbox" id="saveAddressId">
                          <label for="saveAddressId">Make this payment card my default
                          </label>
                        </div>
                      </div>
                      <div class="my-account-button-wrap">
                        <div class="row">
                          <div class="col-xs-12 col-sm-6">
                            <button class="button button-main large">Continue</button>
                          </div>
                          <div class="col-xs-12 col-sm-6">
                            <button class="button button-outlined large">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="main-footer-links">
                <div class="footer-links-title">About Wiley</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">About us</a></li>
                  <li><a href="javascript:void(0);">Careers</a></li>
                  <li><a href="javascript:void(0);">Locations</a></li>
                  <li><a href="javascript:void(0);">Investor Relations</a></li>
                  <li><a href="javascript:void(0);">Press Room</a></li>
                </ul>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Subjects</a></li>
                  <li><a href="javascript:void(0);">Events</a></li>
                  <li><a href="javascript:void(0);">Brands</a></li>
                  <li><a href="javascript:void(0);">Resources</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Resources</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Authors</a></li>
                  <li><a href="javascript:void(0);">Instructors</a></li>
                  <li><a href="javascript:void(0);">Students</a></li>
                  <li><a href="javascript:void(0);">Librarians</a></li>
                  <li><a href="javascript:void(0);">Societies</a></li>
                  <li><a href="javascript:void(0);">Booksellers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Customer Support</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Privacy Policy</a></li>
                  <li><a href="javascript:void(0);">Site Map</a></li>
                  <li><a href="javascript:void(0);">Contact Us</a></li>
                  <li><a href="javascript:void(0);">Help</a></li>
                </ul>
              </div>
            </div>
            <div class="hidden-xs col-sm-4 col-sm-offset-1">
              <div class="footer-sign-up">
                <div class="sign-up-title">Sign up to receive Wiley updates</div>
                <div class="sign-up-field">
                  <div class="input-group">
                    <input type="text" placeholder="Your Email" class="input form-control"><span class="input-group-btn">
                      <button type="button" class="button small">Send</button></span>
                  </div>
                </div>
              </div>
              <div class="footer-social-links">
                <div class="social-links-title">Follow us</div>
                <div class="social-links-items"><a href="javascript:void(0);" title="Facebook"><img src="responsive/common/images/facebook.png" alt="Facebook"></a><a href="javascript:void(0);" title="Twitter"><img src="responsive/common/images/twitter.png" alt="Twitter"></a><a href="javascript:void(0);" title="Linkedin"><img src="responsive/common/images/linkedin.png" alt="Linkedin"></a><a href="javascript:void(0);" title="Youtube"><img src="responsive/common/images/youtube.png" alt="Youtube"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-footer-copyright">
          <div class="container">
            <div class="footer-copyright-text">
              <p><a href="javascript:void(0);"><b>Copyright &copy; 2000-2015</b></a> by <a href="javascript:void(0);"><b>John Wiley & Sons, Inc.,</b></a> or related companies. All rights reserved.</p>
              <p>Review our <a href="javascript:void(0);"><b>privacy policy</b></a>.</p>
            </div><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel.custom.js"></script>
    <script src="responsive/common/js/jquery-ui.datapicker-selectmenu.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>

buildkit/wileyb2cstorefront/jade/my-account-payment-details-add-credit-card.jade
extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Add a Credit Card";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account add-card my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var navItem = "Payment Details";
	- var labelCheckBox = "Make this payment card my default";
	- var formCheckBoxId = "saveAddressId";
	- var isfullWidthGrayH1Mobile = true;

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)

block right
	div(class="my-account-wrap")
		div(class="row")
			div(class="col-xs-12 col-sm-4")
				div(class="site-form")
					form
						div(class="form-cell")
							div(class="form-label required")
								label(for="country")
									| Country
							div(class="form-field select-component select-form-element", data-banner="usa")
								select(id="country")
									option
										| &nbsp;
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada
									option
										| USA
									option
										| Canada


						div(class="form-elements-wrap hidden")
							div(class="form-cell")
								div(class="form-label required")
									label(for="title")
										| Title
								div(class="form-field select-component select-form-element")
									select(id="title")
										option
											| Title1
										option
											| Title2
							div(class="form-cell")
								div(class="form-label required")
									label(for="first-name")
										| First Name
								div(class="form-field")
									input(type="text", id="first-name", placeholder="<first Name>")
							div(class="form-cell")
								div(class="form-label required")
									label(for="last-name")
										| Last Name
								div(class="form-field")
									input(type="text", id="last-name", placeholder="<last Name>")
							div(class="form-cell")
								div(class="form-label required")
									label(for="address-line1")
										| Address Line 1
								div(class="form-field")
									input(type="text", id="address-line1", placeholder="<address>")
							div(class="form-cell")
								div(class="form-label required")
									label(for="address-line2")
										| Address Line 2 (optional)
								div(class="form-field")
									input(type="text", id="address-line2")
							div(class="form-cell")
								div(class="form-label required")
									label(for="city")
										| City
								div(class="form-field")
									input(type="text", id="city", placeholder="<city>")
							div(class="row")
								div(class="col-xs-6 col-sm-6")
									div(class="form-cell")
										div(class="form-label required")
											label(for="state-province")
												| State / Province
										div(class="form-field select-component select-form-element")
											select(id="state-province")
												option
													| State / Province1
												option
													| State / Province2
								div(class="col-xs-6 col-sm-6")
									div(class="form-cell")
										div(class="form-label required")
											label(for="zip-postal-code")
												| Zip / Postal Code
										div(class="form-field")
											input(type="text", id="zip-postal-code", placeholder="<Zip / Postal Code>")

						div(class="form-cell")
							div(class="form-field checkbox-component save-to-address-book")
								input(type="checkbox", id=formCheckBoxId)
								label(for=formCheckBoxId)
									=labelCheckBox

						div(class="my-account-button-wrap")
							div(class="row")
								div(class="col-xs-12 col-sm-6")
									button(class="button button-main large")
										| Continue
								div(class="col-xs-12 col-sm-6")
									button(class="button button-outlined large")
										| Cancel
