hybris/bin/custom/wiley/wileyb2bstorefront/web/webroot/_ui/responsive/theme-wiley/pages/my-account-manage-subscriptions.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css">
    <title>b2c - Manage Subscriptions</title>
  </head>
  <body>
    <main>
      <!-- sets 'b2b' class for B2B pages, according to isB2BPage variable passed from specific jade template-->
      <header id="main-header-container" role="banner" class="main-header-container ">
        <div class="container">
          <nav role="navigation" class="main-navigation-container">
            <div class="main-navigation-links"><a href="javascript:void(0);" title="Wiley" class="logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
              <div class="navigation-links-items">
                <div class="navigation-link-item welcome-link">Welcome Isaac</div>
                <div class="navigation-link-item my-account-link"><a href="javascript:void(0);">My Account</a>
                  <div class="dropdown-menu arrow my-account-container">
                    <button tabindex="-1" class="close">&nbsp;</button>
                    <div tabindex="0" class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Order History</a></li>
                        <li><a href="javascript:void(0);">Manage Subscriptions</a></li>
                        <li><a href="javascript:void(0);">My Digital Products</a></li>
                        <li><a href="javascript:void(0);">Address Book</a></li>
                        <li><a href="javascript:void(0);">Payment Details</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Update Personal Details</a></li>
                        <li><a href="javascript:void(0);">Update Password</a></li>
                        <li><a href="javascript:void(0);">Update Email</a></li>
                      </ul>
                      <div class="buttons"><a href="javascript:void(0);" class="button">Sign Out</a></div>
                    </div>
                  </div>
                </div>
                <div class="navigation-link-item my-cart-link"><a href="javascript:void(0);" class="cart-not-empty">Shopping cart<span class="quantity">3</span><span class="price">$312.96</span></a></div>
              </div>
            </div>
            <div class="main-navigation-menu">
              <ul class="navigation-menu-items">
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Subjects</a>
                  <div class="dropdown-menu">
                    <div class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="#">Accounting</a></li>
                        <li><a href="#">Arts & Architecture</a></li>
                        <li><a href="#">Business & Management</a></li>
                        <li><a href="#">Chemistry</a></li>
                        <li><a href="#">Computing</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Culinary & Hospitality</a></li>
                        <li><a href="#">Earth, Space & Environmental Sciences</a></li>
                        <li><a href="#">Economics</a></li>
                        <li><a href="#">Education</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Law & Criminology</a></li>
                        <li><a href="#">Life Sciences</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Mathematics & Statistics</a></li>
                        <li><a href="#">Psychology</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="javascript:void(0);">About Wiley</a></li>
                <li><a href="javascript:void(0);">Contact US</a></li>
                <li><a href="javascript:void(0);">Help</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div class="container my-account manage-subscriptions my-account-support-message-wr wrap">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <nav class="sidebar-nav">
              <div class="yCmsComponent "><a href="#" title="Order History" class="nav-item">Order History</a></div>
              <div class="yCmsComponent active"><a href="#" title="Manage Subscriptions" class="nav-item">Manage Subscriptions</a></div>
              <div class="yCmsComponent "><a href="#" title="My Digital Products" class="nav-item">My Digital Products</a></div>
              <div class="yCmsComponent "><a href="#" title="Address Book" class="nav-item">Address Book</a></div>
              <div class="yCmsComponent "><a href="#" title="Payment Details" class="nav-item">Payment Details</a></div>
              <div class="yCmsComponent "><a href="#" title="Update Personal Details" class="nav-item">Update Personal Details</a></div>
              <div class="yCmsComponent "><a href="#" title="Update Password" class="nav-item">Update Password</a></div>
            </nav>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="support-message"><span class="progress-number">Need Help with your checkout process?</span> Contact US or Call phone number.</div>
            <div class="row">
              <div class="col-xs-12 col-sm-9">
                <h1 class="full-width-gray">Manage Subscriptions</h1>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div class="title-tools text-right"><a href="#">Return to Subscriptions</a></div>
              </div>
            </div>
            <div class="my-account-wrap">
              <div class="plan-name">
                <div class="row">
                  <div class="col-sm-12">
                    <h3>Subscription Plan Name &gt;</h3>
                    <p>Subscription Plan Details  -  Frequency &gt;</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-5">
                  <div class="subscription-details">
                    <div class="row">
                      <div class="col-sm-12">
                        <h3>Subscription Details</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 col-sm-6">Price:</div>
                      <div class="col-xs-6 col-sm-6">&lt;$price/Monthly&gt;</div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 col-sm-6">Contract Duration:</div>
                      <div class="col-xs-6 col-sm-6">&lt;$####.##&gt;</div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-sm-offset-2">
                  <div class="subscription-status">
                    <div class="row">
                      <div class="col-sm-12">
                        <h3>Manage Subscriptions</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-3 col-sm-6">Status:</div>
                      <div class="col-xs-9 col-sm-6 text-right">&lt;status&gt;</div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="enrolled-in-school checkbox-component">
                          <input type="checkbox" id="enrolledInSchool">
                          <label for="enrolledInSchool">Auto-renewal</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 col-sm-6">Service End Date:</div>
                      <div class="col-xs-6 col-sm-6 text-right">&lt;service end date&gt;</div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-9 extend-subscription">Extend Subscription by <12 Month></div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="my-account-button-small">
                          <button data-toggle="modal" data-target="#upgradeOptionsWnd" class="button button-main large">Upgrade options</button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-3 col-sm-3 payment">
                        <div class="bold">Payment:</div>
                      </div>
                      <div class="col-xs-9 col-sm-6 payment">CC**********1234</div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="my-account-button-small">
                          <button data-toggle="modal" data-target="#savedCardModelWnd" class="button button-main large">Update</button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-3 col-sm-3 shipping">
                        <div class="bold">Ship to:</div>
                      </div>
                      <div class="col-xs-9 col-sm-6 shipping">Mr. Isaac Gerber<br>1111 River street<br>Hoboken, NJ 07030-5774</div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="my-account-button-small">
                          <button data-toggle="modal" data-target="#addressBookModelWnd" class="button button-main large">Update</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="subscription-activity">
                    <div class="row">
                      <div class="col-xs-3 col-sm-6">
                        <h3>Activity</h3>
                      </div>
                      <div class="col-xs-9 col-sm-6 text-right">
                        <div class="order-number">Oder Number: &nbsp;<a href="#">&lt;order number&gt;</a></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="billing-activity"><a href="#">View Billing Activity</a></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 col-sm-6">Service Start Date:</div>
                      <div class="col-xs-6 col-sm-6 text-right">&lt;ServiceStartDate&gt;</div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 col-sm-6">Ordered:</div>
                      <div class="col-xs-6 col-sm-6 text-right">&lt;OrderDate&gt;</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="savedCardModelWnd" role="dialog" class="modal fade modalWindow ">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10">
                        <div class="modal-title">Saved Cards
                        </div>
                      </div>
                      <div class="col-xs-2 col-sm-2">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                      </div>
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="modal-wnd-title">
                      <h3>&lt;Product name&gt;</h3>
                    </div>
                    <div class="modal-wnd-list">
                      <div class="modal-wnd-list-item">
                        <div class="row">
                          <div class="col-xs-12 col-sm-8">
                            <div class="modal-wnd-list-title">
                              <p>Saurabh Jetly</p>
                            </div>
                            <div class="modal-wnd-list-description">
                              <p>Master</p>
                              <p>**********1111</p>
                              <p>Expires 3 / 2018</p>
                              <p>1234 Main Street</p>
                              <p>Parker CO</p>
                              <p>80134    US</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                            <div class="modal-wnd-item-button">
                              <button class="button button-main small">Use this card
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-wnd-list-item">
                        <div class="row">
                          <div class="col-xs-12 col-sm-8">
                            <div class="modal-wnd-list-title">
                              <p>Saurabh Jetly</p>
                            </div>
                            <div class="modal-wnd-list-description">
                              <p>Master</p>
                              <p>**********1111</p>
                              <p>Expires 3 / 2018</p>
                              <p>1234 Main Street</p>
                              <p>Parker CO</p>
                              <p>80134    US</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                            <div class="modal-wnd-item-button">
                              <button class="button button-main small">Use this card
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-wnd-list-item-last">
                        <div class="row">
                          <div class="col-xs-12 col-sm-8">
                            <div class="modal-wnd-list-title">
                              <p>Saurabh Jetly</p>
                            </div>
                            <div class="modal-wnd-list-description">
                              <p>Master</p>
                              <p>**********1111</p>
                              <p>Expires 3 / 2018</p>
                              <p>1234 Main Street</p>
                              <p>Parker CO</p>
                              <p>80134    US</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                            <div class="modal-wnd-item-button">
                              <button class="button button-main small">Use this card
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="addressBookModelWnd" role="dialog" class="modal fade modalWindow ">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10">
                        <div class="modal-title">Address Book
                        </div>
                      </div>
                      <div class="col-xs-2 col-sm-2">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                      </div>
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="modal-wnd-title">
                      <h3>&lt;Product name&gt;</h3>
                    </div>
                    <div class="modal-wnd-list">
                      <div class="modal-wnd-list-item">
                        <div class="row">
                          <div class="col-xs-12 col-sm-8">
                            <div class="modal-wnd-list-description">
                              <p>Mr. Saurabh Jetly (Default)</p>
                              <p>402 Hidden Valley Dr.</p>
                              <p>&lt;address line 2&gt;</p>
                              <p>Edison, New Jersey</p>
                              <p>United States 08820</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                            <div class="modal-wnd-item-button">
                              <button class="button button-main small">Use this Address
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-wnd-list-item">
                        <div class="row">
                          <div class="col-xs-12 col-sm-8">
                            <div class="modal-wnd-list-description">
                              <p>Mr. Saurabh Jetly (Default)</p>
                              <p>402 Hidden Valley Dr.</p>
                              <p>&lt;address line 2&gt;</p>
                              <p>Edison, New Jersey</p>
                              <p>United States 08820</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                            <div class="modal-wnd-item-button">
                              <button class="button button-main small">Use this Address
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-wnd-list-item-last">
                        <div class="row">
                          <div class="col-xs-12 col-sm-8">
                            <div class="modal-wnd-list-description">
                              <p>Mr. Saurabh Jetly (Default)</p>
                              <p>402 Hidden Valley Dr.</p>
                              <p>&lt;address line 2&gt;</p>
                              <p>Edison, New Jersey</p>
                              <p>United States 08820</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                            <div class="modal-wnd-item-button">
                              <button class="button button-main small">Use this Address
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="upgradeOptionsWnd" role="dialog" class="modal fade modalWindow ">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10">
                        <div class="modal-title">Upgrade Options
                        </div>
                      </div>
                      <div class="col-xs-2 col-sm-2">
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                      </div>
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="modal-wnd-title">
                      <h3>&lt;Product name&gt;</h3>
                    </div>
                    <div class="modal-wnd-list">
                      <div class="modal-wnd-list-item">
                        <div class="row">
                          <div class="col-xs-12 col-sm-8">
                            <div class="modal-wnd-list-description">
                              <p>Price: &lt;$price/Monthly&gt;</p>
                              <p>Billing Frequency: &lt;Monthly&gt;</p>
                              <p>Contract Duration: &lt;1 Year(s)&gt;</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                            <div class="modal-wnd-item-current-sub"><b>Current Subscription</b></div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-wnd-list-item">
                        <div class="row">
                          <div class="col-xs-12 col-sm-8">
                            <div class="modal-wnd-list-description">
                              <p>Price: &lt;$price/Monthly&gt;</p>
                              <p>Billing Frequency: &lt;Monthly&gt;</p>
                              <p>Contract Duration: &lt;1 Year(s)&gt;</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                            <div class="modal-wnd-item-button">
                              <button class="button button-main small">Add Upgrade
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-wnd-list-item">
                        <div class="row">
                          <div class="col-xs-12 col-sm-8">
                            <div class="modal-wnd-list-description">
                              <p>Price: &lt;$price/Monthly&gt;</p>
                              <p>Billing Frequency: &lt;Monthly&gt;</p>
                              <p>Contract Duration: &lt;1 Year(s)&gt;</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                            <div class="modal-wnd-item-button">
                              <button class="button button-main small">Add Upgrade
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-wnd-list-item-last">
                        <div class="row">
                          <div class="col-xs-12 col-sm-8">
                            <div class="modal-wnd-list-description">
                              <p>Price: &lt;$price/Monthly&gt;</p>
                              <p>Billing Frequency: &lt;Monthly&gt;</p>
                              <p>Contract Duration: &lt;1 Year(s)&gt;</p>
                            </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                            <div class="modal-wnd-item-button">
                              <button class="button button-main small">Add Upgrade
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="main-footer-links">
                <div class="footer-links-title">About Wiley</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">About us</a></li>
                  <li><a href="javascript:void(0);">Careers</a></li>
                  <li><a href="javascript:void(0);">Locations</a></li>
                  <li><a href="javascript:void(0);">Investor Relations</a></li>
                  <li><a href="javascript:void(0);">Press Room</a></li>
                </ul>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Subjects</a></li>
                  <li><a href="javascript:void(0);">Events</a></li>
                  <li><a href="javascript:void(0);">Brands</a></li>
                  <li><a href="javascript:void(0);">Resources</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Resources</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Authors</a></li>
                  <li><a href="javascript:void(0);">Instructors</a></li>
                  <li><a href="javascript:void(0);">Students</a></li>
                  <li><a href="javascript:void(0);">Librarians</a></li>
                  <li><a href="javascript:void(0);">Societies</a></li>
                  <li><a href="javascript:void(0);">Booksellers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Customer Support</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Privacy Policy</a></li>
                  <li><a href="javascript:void(0);">Site Map</a></li>
                  <li><a href="javascript:void(0);">Contact Us</a></li>
                  <li><a href="javascript:void(0);">Help</a></li>
                </ul>
              </div>
            </div>
            <div class="hidden-xs col-sm-4 col-sm-offset-1">
              <div class="footer-sign-up">
                <div class="sign-up-title">Sign up to receive Wiley updates</div>
                <div class="sign-up-field">
                  <div class="input-group">
                    <input type="text" placeholder="Your Email" class="input form-control"><span class="input-group-btn">
                      <button type="button" class="button small">Send</button></span>
                  </div>
                </div>
              </div>
              <div class="footer-social-links">
                <div class="social-links-title">Follow us</div>
                <div class="social-links-items"><a href="javascript:void(0);" title="Facebook"><img src="responsive/common/images/facebook.png" alt="Facebook"></a><a href="javascript:void(0);" title="Twitter"><img src="responsive/common/images/twitter.png" alt="Twitter"></a><a href="javascript:void(0);" title="Linkedin"><img src="responsive/common/images/linkedin.png" alt="Linkedin"></a><a href="javascript:void(0);" title="Youtube"><img src="responsive/common/images/youtube.png" alt="Youtube"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-footer-copyright">
          <div class="container">
            <div class="footer-copyright-text">
              <p><a href="javascript:void(0);"><b>Copyright &copy; 2000-2015</b></a> by <a href="javascript:void(0);"><b>John Wiley & Sons, Inc.,</b></a> or related companies. All rights reserved.</p>
              <p>Review our <a href="javascript:void(0);"><b>privacy policy</b></a>.</p>
            </div><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel.custom.js"></script>
    <script src="responsive/common/js/jquery-ui.datapicker-selectmenu.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>

buildkit/wileyb2cstorefront/jade/my-account-manage-subscriptions.jade
extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Manage Subscriptions";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account manage-subscriptions my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var titleTools = true;
	- var isfullWidthGrayH1Mobile = true;
	- var navItem = "Manage Subscriptions";
	- var isH1LeftBlock = true;

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

	- var savedCardsModalList = [];
	- savedCardsModalList.push({ title: "Saurabh Jetly", description: [ "Master" , "**********1111", "Expires 3 / 2018", "1234 Main Street", "Parker CO", "80134    US" ], buttonName: "Use this card"});
	- savedCardsModalList.push({ title: "Saurabh Jetly", description: [ "Master" , "**********1111", "Expires 3 / 2018", "1234 Main Street", "Parker CO", "80134    US" ], buttonName: "Use this card"});
	- savedCardsModalList.push({ title: "Saurabh Jetly", description: [ "Master" , "**********1111", "Expires 3 / 2018", "1234 Main Street", "Parker CO", "80134    US" ], buttonName: "Use this card"});

	- var addAddressModalList = [];
	- addAddressModalList.push({ description: [ "Mr. Saurabh Jetly (Default)" , "402 Hidden Valley Dr.", "<address line 2>", "Edison, New Jersey", "United States 08820" ], buttonName: "Use this Address"});
	- addAddressModalList.push({ description: [ "Mr. Saurabh Jetly (Default)" , "402 Hidden Valley Dr.", "<address line 2>", "Edison, New Jersey", "United States 08820" ], buttonName: "Use this Address"});
	- addAddressModalList.push({ description: [ "Mr. Saurabh Jetly (Default)" , "402 Hidden Valley Dr.", "<address line 2>", "Edison, New Jersey", "United States 08820" ], buttonName: "Use this Address"});

	- var upgradeOptions = [];
	- var modalTitle = "<Product name>";
	- upgradeOptions.push({ description: [ "Price: <$price/Monthly>", "Billing Frequency: <Monthly>", "Contract Duration: <1 Year(s)>" ], currentSubscription: "Current Subscription"});
	- upgradeOptions.push({ description: [ "Price: <$price/Monthly>", "Billing Frequency: <Monthly>", "Contract Duration: <1 Year(s)>" ], buttonName: "Add Upgrade"});
	- upgradeOptions.push({ description: [ "Price: <$price/Monthly>", "Billing Frequency: <Monthly>", "Contract Duration: <1 Year(s)>" ], buttonName: "Add Upgrade"});
	- upgradeOptions.push({ description: [ "Price: <$price/Monthly>", "Billing Frequency: <Monthly>", "Contract Duration: <1 Year(s)>" ], buttonName: "Add Upgrade"});

block left
	+sideBarNavigation(sideBarList)

block h1LeftBlock
	div(class="title-tools text-right")
		a(href="#") Return to Subscriptions

block right
	div(class="my-account-wrap")
		div(class="plan-name")
			div(class="row")
				div(class="col-sm-12")
					h3 Subscription Plan Name &gt;
					p Subscription Plan Details  -  Frequency &gt;
		div(class="row")
			div(class="col-xs-12 col-sm-5")
				div(class="subscription-details")
					div(class="row")
						div(class="col-sm-12")
							h3 Subscription Details
					div(class="row")
						div(class="col-xs-6 col-sm-6")
							| Price:
						div(class="col-xs-6 col-sm-6")
							| &lt;$price/Monthly&gt;
					div(class="row")
						div(class="col-xs-6 col-sm-6")
							| Contract Duration:
						div(class="col-xs-6 col-sm-6")
							| &lt;$####.##&gt;
			div(class="col-xs-12 col-sm-5 col-sm-offset-2")
				div(class="subscription-status")
					div(class="row")
						div(class="col-sm-12")
							h3 Manage Subscriptions
					div(class="row")
						div(class="col-xs-3 col-sm-6")
							| Status:
						div(class="col-xs-9 col-sm-6 text-right")
							| &lt;status&gt;
					div(class="row")
						div(class="col-sm-12")
							div(class="enrolled-in-school checkbox-component")
								input(type="checkbox", id="enrolledInSchool")
								label(for="enrolledInSchool") Auto-renewal
					div(class="row")
						div(class="col-xs-6 col-sm-6")
							| Service End Date:
						div(class="col-xs-6 col-sm-6 text-right")
							| &lt;service end date&gt;
					div(class="row")
						div(class="col-xs-12 col-sm-9 extend-subscription")
							| Extend Subscription by <12 Month>
						div(class="col-xs-12 col-sm-3")
							div(class="my-account-button-small")
								button(class="button button-main large", data-toggle="modal", data-target="#upgradeOptionsWnd") Upgrade options
					div(class="row")
						div(class="col-xs-3 col-sm-3 payment")
							div(class="bold")
								| Payment:
						div(class="col-xs-9 col-sm-6 payment")
							| CC**********1234
						div(class="col-xs-12 col-sm-3")
							div(class="my-account-button-small")
								button(class="button button-main large", data-toggle="modal", data-target="#savedCardModelWnd") Update
					div(class="row")
						div(class="col-xs-3 col-sm-3 shipping")
							div(class="bold")
								| Ship to:
						div(class="col-xs-9 col-sm-6 shipping")
							| Mr. Isaac Gerber
							br
							| 1111 River street
							br
							| Hoboken, NJ 07030-5774
						div(class="col-xs-12 col-sm-3")
							div(class="my-account-button-small")
								button(class="button button-main large", data-toggle="modal", data-target="#addressBookModelWnd") Update
				div(class="subscription-activity")
					div(class="row")
						div(class="col-xs-3 col-sm-6")
							h3 Activity
						div(class="col-xs-9 col-sm-6 text-right")
							div(class="order-number")
								| Oder Number: &nbsp;
								a(href="#") &lt;order number&gt;
					div(class="row")
						div(class="col-sm-12")
							div(class="billing-activity")
								a(href="#") View Billing Activity
					div(class="row")
						div(class="col-xs-6 col-sm-6")
							| Service Start Date:
						div(class="col-xs-6 col-sm-6 text-right")
							| &lt;ServiceStartDate&gt;
					div(class="row")
						div(class="col-xs-6 col-sm-6")
							| Ordered:
						div(class="col-xs-6 col-sm-6 text-right")
							| &lt;OrderDate&gt;
	+modal("savedCardModelWnd", "Saved Cards")
		+modalList(savedCardsModalList)
	+modal("addressBookModelWnd", "Address Book")
		+modalList(addAddressModalList)
	+modal("upgradeOptionsWnd", "Upgrade Options")
		+modalList(upgradeOptions)
