buildkit/wileyb2cstorefront/jade/my-account-order-details.jade
extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Order Details";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var isfullWidthGrayH1Mobile = true;
	- var isH1LeftBlock = true;
	- var navItem = "Order History";

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)

block h1LeftBlock
	div(class="top-icons text-right" role="links")
		a(class="icon-email", href="#", title="Send an e-mail", aria-label="send an e-mail")
			| &nbsp;
		a(class="icon-print2", href="#", title="Print", aria-label="print")
			| &nbsp;

block right
	div(class="my-account-wrap order-details")
		div(class="order-details-top")
			div(class="row")
				div(class="col-xs-12 col-sm-5")
					div(class="order-details")
						div(class="order-number")
							div(class="row")
								div(class="col-xs-6 col-sm-6")
									| Order Number:
								div(class="col-xs-6 col-sm-6")
									| <#########>
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								| Placed on:
							div(class="col-xs-6 col-sm-6")
								| 8/15/14 11:36 AM
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								| Order Status:
							div(class="col-xs-6 col-sm-6")
								| Status
				div(class="col-xs-12 col-sm-5 col-sm-offset-2")
					div(class="order-details-total")
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								| Subtotal:
							div(class="col-xs-6 col-sm-6")
								| <$####.##>
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								| Savings:
							div(class="col-xs-6 col-sm-6")
								| <$####.##>
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								| Delivery:
							div(class="col-xs-6 col-sm-6")
								| <$####.##>
						div(class="row")
							div(class="col-xs-6 col-sm-6")
								| Tax:
							div(class="col-xs-6 col-sm-6")
								| <$####.##>
						div(class="order-details-total-sum")
							div(class="row")
								div(class="col-xs-6 col-sm-6")
									| Total:
								div(class="col-xs-6 col-sm-6")
									| <$####.##>

		div(class="order-details-add-info")
			div(class="row")
				div(class="col-xs-12 col-sm-11 col-sm-offset-1")
					div(class="row")
						div(class="col-xs-12 col-sm-3")
							div(class="add-info-title")
								| Delivery Address
							div(class="add-info-description")
								p 111 River St.
								p Hoboken, New Jersey
								p United States 07030

						div(class="col-xs-12 col-sm-3")
							div(class="add-info-title")
								p Delivery Method
							div(class="add-info-description")
								p FEDEX Express Saver
								p 3 day $13.99

						div(class="col-xs-12 col-sm-3")
							div(class="add-info-title")
								| Payment Details
							div(class="add-info-description")
								p Visa
								p **** **** **** 1234
								p Exp 11/16

						div(class="col-xs-12 col-sm-3")
							div(class="add-info-title")
								| Billing Address
							div(class="add-info-description")
								p Visa
								p **** **** **** 1234
								p Exp 11/16

		div(class="items-shipped-list")

			div(class="items-shipped-item")
				div(class="items-shipped")
					span(class="icon-check")
						| &nbsp;
					label(for="itemsShipped")
						| All 8 items shipped
				div(class="product-list order-details-product-list")
					- for (var a = 1; a < 4; a++)
						div(class="product-list-item")
							div(class="row")
								div(class="col-xs-12 col-sm-11 col-sm-offset-1")
									div(class="product-list-image")
										img(src="responsive/common/images/product-image.png", alt="product image")
									div(class="product-list-info")
										div(class="product-list-title")
											| 2014 FASB Update Intermediate Accounting, 15th Edition
										div(class="product-list-description")
											div(class="row purchase-info")
												div(class="col-xs-12 col-sm-6")
													p
														| &lt;Author Name Goes Here&gt;
													p
														| Product ID: &lt; Product Id &gt;
												div(class="col-xs-12 col-sm-6")
													p
														| Unit Price: &lt;$price&gt;
													p
														| Quantity: &lt;quantity&gt;
													p
														| Total: &lt;$total&gt;

				div(class="tracking-numbers")
					div(class="row")
						div(class="col-xs-12 col-sm-11 col-sm-offset-1")
							div(class="tracking-numbers-title")
								| Tracking Numbers
							div(class="tracking-numbers-list")
								div(class="row")
									div(class="col-xs-12 col-sm-6")
										| 3 items shipped on 02/02/2016
									div(class="col-xs-12 col-sm-6") Tracking No. &nbsp;
										a(href="#") 1234566788
								div(class="row")
									div(class="col-xs-12 col-sm-6")
										| 3 items shipped on 02/02/2016
									div(class="col-xs-12 col-sm-6") Tracking No. &nbsp;
										a(href="#") 1234566788
								div(class="row")
									div(class="col-xs-12 col-sm-6")
										| 3 items shipped on 02/02/2016
									div(class="col-xs-12 col-sm-6") Tracking No. &nbsp;
										a(href="#") 1234566788

			div(class="items-shipped-item")
				div(class="items-shipped")
					span(class="icon-error")
						| &nbsp;
					label(for="itemsShipped")
						| 0 of 2 items shipped
				div(class="product-list order-details-product-list")
					- for (var b = 1; b < 4; b++)
						div(class="product-list-item")
							div(class="row")
								div(class="col-xs-12 col-sm-11 col-sm-offset-1")
									div(class="product-list-image")
										img(src="responsive/common/images/product-image.png", alt="product image")
									div(class="product-list-info")
										div(class="product-list-title")
											| 2014 FASB Update Intermediate Accounting, 15th Edition
										div(class="product-list-description")
											div(class="row purchase-info")
												div(class="col-xs-12 col-sm-6")
													p
														| &lt;Author Name Goes Here&gt;
													p
														| &lt;$Price&gt;
												div(class="col-xs-12 col-sm-6")
													p
														| Unit Price: &lt;$price&gt;
													p
														| Quantity: &lt;quantity&gt;
													p
														| Total: &lt;$total&gt;

			div(class="items-shipped-item")
				div(class="items-shipped")
					span(class="icon-digital")
						| &nbsp;
					label(for="itemsShipped")
						| Your digital product
				div(class="product-list order-details-product-list")
					- for (var c = 1; c < 4; c++)
						div(class="product-list-item")
							div(class="row")
								div(class="col-xs-12 col-sm-11 col-sm-offset-1")
									div(class="product-list-image")
										img(src="responsive/common/images/product-image.png", alt="product image")
									div(class="product-list-info")
										div(class="product-list-title")
											| 2014 FASB Update Intermediate Accounting, 15th Edition
										div(class="product-list-description")
											div(class="row purchase-info")
												div(class="col-xs-12 col-sm-6")
													p
														| &lt;Author Name Goes Here&gt;
													p
														| &lt;$Price&gt;
												div(class="col-xs-12 col-sm-6")
													p
														| Expires on June 18, 2016
													p
														| Total: &lt;$total&gt;

hybris/bin/custom/wiley/wileyb2bstorefront/web/webroot/_ui/responsive/theme-wiley/pages/my-account-order-details.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css">
    <title>b2c - Order Details</title>
  </head>
  <body>
    <main>
      <!-- sets 'b2b' class for B2B pages, according to isB2BPage variable passed from specific jade template-->
      <header id="main-header-container" role="banner" class="main-header-container ">
        <div class="container">
          <nav role="navigation" class="main-navigation-container">
            <div class="main-navigation-links"><a href="javascript:void(0);" title="Wiley" class="logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
              <div class="navigation-links-items">
                <div class="navigation-link-item welcome-link">Welcome Isaac</div>
                <div class="navigation-link-item my-account-link"><a href="javascript:void(0);">My Account</a>
                  <div class="dropdown-menu arrow my-account-container">
                    <button tabindex="-1" class="close">&nbsp;</button>
                    <div tabindex="0" class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Order History</a></li>
                        <li><a href="javascript:void(0);">Manage Subscriptions</a></li>
                        <li><a href="javascript:void(0);">My Digital Products</a></li>
                        <li><a href="javascript:void(0);">Address Book</a></li>
                        <li><a href="javascript:void(0);">Payment Details</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Update Personal Details</a></li>
                        <li><a href="javascript:void(0);">Update Password</a></li>
                        <li><a href="javascript:void(0);">Update Email</a></li>
                      </ul>
                      <div class="buttons"><a href="javascript:void(0);" class="button">Sign Out</a></div>
                    </div>
                  </div>
                </div>
                <div class="navigation-link-item my-cart-link"><a href="javascript:void(0);" class="cart-not-empty">Shopping cart<span class="quantity">3</span><span class="price">$312.96</span></a></div>
              </div>
            </div>
            <div class="main-navigation-menu">
              <ul class="navigation-menu-items">
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Subjects</a>
                  <div class="dropdown-menu">
                    <div class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="#">Accounting</a></li>
                        <li><a href="#">Arts & Architecture</a></li>
                        <li><a href="#">Business & Management</a></li>
                        <li><a href="#">Chemistry</a></li>
                        <li><a href="#">Computing</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Culinary & Hospitality</a></li>
                        <li><a href="#">Earth, Space & Environmental Sciences</a></li>
                        <li><a href="#">Economics</a></li>
                        <li><a href="#">Education</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Law & Criminology</a></li>
                        <li><a href="#">Life Sciences</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Mathematics & Statistics</a></li>
                        <li><a href="#">Psychology</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="javascript:void(0);">About Wiley</a></li>
                <li><a href="javascript:void(0);">Contact US</a></li>
                <li><a href="javascript:void(0);">Help</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div class="container my-account my-account-support-message-wr wrap">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <nav class="sidebar-nav">
              <div class="yCmsComponent active"><a href="#" title="Order History" class="nav-item">Order History</a></div>
              <div class="yCmsComponent "><a href="#" title="Manage Subscriptions" class="nav-item">Manage Subscriptions</a></div>
              <div class="yCmsComponent "><a href="#" title="My Digital Products" class="nav-item">My Digital Products</a></div>
              <div class="yCmsComponent "><a href="#" title="Address Book" class="nav-item">Address Book</a></div>
              <div class="yCmsComponent "><a href="#" title="Payment Details" class="nav-item">Payment Details</a></div>
              <div class="yCmsComponent "><a href="#" title="Update Personal Details" class="nav-item">Update Personal Details</a></div>
              <div class="yCmsComponent "><a href="#" title="Update Password" class="nav-item">Update Password</a></div>
            </nav>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="support-message"><span class="progress-number">Need Help with your checkout process?</span> Contact US or Call phone number.</div>
            <div class="row">
              <div class="col-xs-12 col-sm-9">
                <h1 class="full-width-gray">Order Details</h1>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div role="links" class="top-icons text-right"><a href="#" title="Send an e-mail" aria-label="send an e-mail" class="icon-email">&nbsp;</a><a href="#" title="Print" aria-label="print" class="icon-print2">&nbsp;</a></div>
              </div>
            </div>
            <div class="my-account-wrap order-details">
              <div class="order-details-top">
                <div class="row">
                  <div class="col-xs-12 col-sm-5">
                    <div class="order-details">
                      <div class="order-number">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6">Order Number:</div>
                          <div class="col-xs-6 col-sm-6"><#########></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 col-sm-6">Placed on:</div>
                        <div class="col-xs-6 col-sm-6">8/15/14 11:36 AM</div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 col-sm-6">Order Status:</div>
                        <div class="col-xs-6 col-sm-6">Status</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-5 col-sm-offset-2">
                    <div class="order-details-total">
                      <div class="row">
                        <div class="col-xs-6 col-sm-6">Subtotal:</div>
                        <div class="col-xs-6 col-sm-6"><$####.##></div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 col-sm-6">Savings:</div>
                        <div class="col-xs-6 col-sm-6"><$####.##></div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 col-sm-6">Delivery:</div>
                        <div class="col-xs-6 col-sm-6"><$####.##></div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 col-sm-6">Tax:</div>
                        <div class="col-xs-6 col-sm-6"><$####.##></div>
                      </div>
                      <div class="order-details-total-sum">
                        <div class="row">
                          <div class="col-xs-6 col-sm-6">Total:</div>
                          <div class="col-xs-6 col-sm-6"><$####.##></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="order-details-add-info">
                <div class="row">
                  <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                    <div class="row">
                      <div class="col-xs-12 col-sm-3">
                        <div class="add-info-title">Delivery Address</div>
                        <div class="add-info-description">
                          <p>111 River St.</p>
                          <p>Hoboken, New Jersey</p>
                          <p>United States 07030</p>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="add-info-title">
                          <p>Delivery Method</p>
                        </div>
                        <div class="add-info-description">
                          <p>FEDEX Express Saver</p>
                          <p>3 day $13.99</p>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="add-info-title">Payment Details</div>
                        <div class="add-info-description">
                          <p>Visa</p>
                          <p>**** **** **** 1234</p>
                          <p>Exp 11/16</p>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3">
                        <div class="add-info-title">Billing Address</div>
                        <div class="add-info-description">
                          <p>Visa</p>
                          <p>**** **** **** 1234</p>
                          <p>Exp 11/16</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="items-shipped-list">
                <div class="items-shipped-item">
                  <div class="items-shipped"><span class="icon-check">&nbsp;</span>
                    <label for="itemsShipped">All 8 items shipped</label>
                  </div>
                  <div class="product-list order-details-product-list">
                    <div class="product-list-item">
                      <div class="row">
                        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                          <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image"></div>
                          <div class="product-list-info">
                            <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                            <div class="product-list-description">
                              <div class="row purchase-info">
                                <div class="col-xs-12 col-sm-6">
                                  <p>&lt;Author Name Goes Here&gt;</p>
                                  <p>Product ID: &lt; Product Id &gt;</p>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <p>Unit Price: &lt;$price&gt;</p>
                                  <p>Quantity: &lt;quantity&gt;</p>
                                  <p>Total: &lt;$total&gt;</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-list-item">
                      <div class="row">
                        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                          <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image"></div>
                          <div class="product-list-info">
                            <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                            <div class="product-list-description">
                              <div class="row purchase-info">
                                <div class="col-xs-12 col-sm-6">
                                  <p>&lt;Author Name Goes Here&gt;</p>
                                  <p>Product ID: &lt; Product Id &gt;</p>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <p>Unit Price: &lt;$price&gt;</p>
                                  <p>Quantity: &lt;quantity&gt;</p>
                                  <p>Total: &lt;$total&gt;</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-list-item">
                      <div class="row">
                        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                          <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image"></div>
                          <div class="product-list-info">
                            <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                            <div class="product-list-description">
                              <div class="row purchase-info">
                                <div class="col-xs-12 col-sm-6">
                                  <p>&lt;Author Name Goes Here&gt;</p>
                                  <p>Product ID: &lt; Product Id &gt;</p>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <p>Unit Price: &lt;$price&gt;</p>
                                  <p>Quantity: &lt;quantity&gt;</p>
                                  <p>Total: &lt;$total&gt;</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tracking-numbers">
                    <div class="row">
                      <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                        <div class="tracking-numbers-title">Tracking Numbers</div>
                        <div class="tracking-numbers-list">
                          <div class="row">
                            <div class="col-xs-12 col-sm-6">3 items shipped on 02/02/2016</div>
                            <div class="col-xs-12 col-sm-6">Tracking No. &nbsp;<a href="#">1234566788</a></div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12 col-sm-6">3 items shipped on 02/02/2016</div>
                            <div class="col-xs-12 col-sm-6">Tracking No. &nbsp;<a href="#">1234566788</a></div>
                          </div>
                          <div class="row">
                            <div class="col-xs-12 col-sm-6">3 items shipped on 02/02/2016</div>
                            <div class="col-xs-12 col-sm-6">Tracking No. &nbsp;<a href="#">1234566788</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="items-shipped-item">
                  <div class="items-shipped"><span class="icon-error">&nbsp;</span>
                    <label for="itemsShipped">0 of 2 items shipped</label>
                  </div>
                  <div class="product-list order-details-product-list">
                    <div class="product-list-item">
                      <div class="row">
                        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                          <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image"></div>
                          <div class="product-list-info">
                            <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                            <div class="product-list-description">
                              <div class="row purchase-info">
                                <div class="col-xs-12 col-sm-6">
                                  <p>&lt;Author Name Goes Here&gt;</p>
                                  <p>&lt;$Price&gt;</p>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <p>Unit Price: &lt;$price&gt;</p>
                                  <p>Quantity: &lt;quantity&gt;</p>
                                  <p>Total: &lt;$total&gt;</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-list-item">
                      <div class="row">
                        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                          <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image"></div>
                          <div class="product-list-info">
                            <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                            <div class="product-list-description">
                              <div class="row purchase-info">
                                <div class="col-xs-12 col-sm-6">
                                  <p>&lt;Author Name Goes Here&gt;</p>
                                  <p>&lt;$Price&gt;</p>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <p>Unit Price: &lt;$price&gt;</p>
                                  <p>Quantity: &lt;quantity&gt;</p>
                                  <p>Total: &lt;$total&gt;</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-list-item">
                      <div class="row">
                        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                          <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image"></div>
                          <div class="product-list-info">
                            <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                            <div class="product-list-description">
                              <div class="row purchase-info">
                                <div class="col-xs-12 col-sm-6">
                                  <p>&lt;Author Name Goes Here&gt;</p>
                                  <p>&lt;$Price&gt;</p>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <p>Unit Price: &lt;$price&gt;</p>
                                  <p>Quantity: &lt;quantity&gt;</p>
                                  <p>Total: &lt;$total&gt;</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="items-shipped-item">
                  <div class="items-shipped"><span class="icon-digital">&nbsp;</span>
                    <label for="itemsShipped">Your digital product</label>
                  </div>
                  <div class="product-list order-details-product-list">
                    <div class="product-list-item">
                      <div class="row">
                        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                          <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image"></div>
                          <div class="product-list-info">
                            <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                            <div class="product-list-description">
                              <div class="row purchase-info">
                                <div class="col-xs-12 col-sm-6">
                                  <p>&lt;Author Name Goes Here&gt;</p>
                                  <p>&lt;$Price&gt;</p>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <p>Expires on June 18, 2016</p>
                                  <p>Total: &lt;$total&gt;</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-list-item">
                      <div class="row">
                        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                          <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image"></div>
                          <div class="product-list-info">
                            <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                            <div class="product-list-description">
                              <div class="row purchase-info">
                                <div class="col-xs-12 col-sm-6">
                                  <p>&lt;Author Name Goes Here&gt;</p>
                                  <p>&lt;$Price&gt;</p>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <p>Expires on June 18, 2016</p>
                                  <p>Total: &lt;$total&gt;</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-list-item">
                      <div class="row">
                        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                          <div class="product-list-image"><img src="responsive/common/images/product-image.png" alt="product image"></div>
                          <div class="product-list-info">
                            <div class="product-list-title">2014 FASB Update Intermediate Accounting, 15th Edition</div>
                            <div class="product-list-description">
                              <div class="row purchase-info">
                                <div class="col-xs-12 col-sm-6">
                                  <p>&lt;Author Name Goes Here&gt;</p>
                                  <p>&lt;$Price&gt;</p>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <p>Expires on June 18, 2016</p>
                                  <p>Total: &lt;$total&gt;</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="main-footer-links">
                <div class="footer-links-title">About Wiley</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">About us</a></li>
                  <li><a href="javascript:void(0);">Careers</a></li>
                  <li><a href="javascript:void(0);">Locations</a></li>
                  <li><a href="javascript:void(0);">Investor Relations</a></li>
                  <li><a href="javascript:void(0);">Press Room</a></li>
                </ul>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Subjects</a></li>
                  <li><a href="javascript:void(0);">Events</a></li>
                  <li><a href="javascript:void(0);">Brands</a></li>
                  <li><a href="javascript:void(0);">Resources</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Resources</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Authors</a></li>
                  <li><a href="javascript:void(0);">Instructors</a></li>
                  <li><a href="javascript:void(0);">Students</a></li>
                  <li><a href="javascript:void(0);">Librarians</a></li>
                  <li><a href="javascript:void(0);">Societies</a></li>
                  <li><a href="javascript:void(0);">Booksellers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Customer Support</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Privacy Policy</a></li>
                  <li><a href="javascript:void(0);">Site Map</a></li>
                  <li><a href="javascript:void(0);">Contact Us</a></li>
                  <li><a href="javascript:void(0);">Help</a></li>
                </ul>
              </div>
            </div>
            <div class="hidden-xs col-sm-4 col-sm-offset-1">
              <div class="footer-sign-up">
                <div class="sign-up-title">Sign up to receive Wiley updates</div>
                <div class="sign-up-field">
                  <div class="input-group">
                    <input type="text" placeholder="Your Email" class="input form-control"><span class="input-group-btn">
                      <button type="button" class="button small">Send</button></span>
                  </div>
                </div>
              </div>
              <div class="footer-social-links">
                <div class="social-links-title">Follow us</div>
                <div class="social-links-items"><a href="javascript:void(0);" title="Facebook"><img src="responsive/common/images/facebook.png" alt="Facebook"></a><a href="javascript:void(0);" title="Twitter"><img src="responsive/common/images/twitter.png" alt="Twitter"></a><a href="javascript:void(0);" title="Linkedin"><img src="responsive/common/images/linkedin.png" alt="Linkedin"></a><a href="javascript:void(0);" title="Youtube"><img src="responsive/common/images/youtube.png" alt="Youtube"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-footer-copyright">
          <div class="container">
            <div class="footer-copyright-text">
              <p><a href="javascript:void(0);"><b>Copyright &copy; 2000-2015</b></a> by <a href="javascript:void(0);"><b>John Wiley & Sons, Inc.,</b></a> or related companies. All rights reserved.</p>
              <p>Review our <a href="javascript:void(0);"><b>privacy policy</b></a>.</p>
            </div><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel.custom.js"></script>
    <script src="responsive/common/js/jquery-ui.datapicker-selectmenu.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>
