hybris/bin/custom/wiley/wileyb2bstorefront/web/webroot/_ui/responsive/theme-wiley/pages/my-account-payment-details.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css">
    <title>b2c - Payment Details</title>
  </head>
  <body>
    <main>
      <!-- sets 'b2b' class for B2B pages, according to isB2BPage variable passed from specific jade template-->
      <header id="main-header-container" role="banner" class="main-header-container ">
        <div class="container">
          <nav role="navigation" class="main-navigation-container">
            <div class="main-navigation-links"><a href="javascript:void(0);" title="Wiley" class="logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
              <div class="navigation-links-items">
                <div class="navigation-link-item welcome-link">Welcome Isaac</div>
                <div class="navigation-link-item my-account-link"><a href="javascript:void(0);">My Account</a>
                  <div class="dropdown-menu arrow my-account-container">
                    <button tabindex="-1" class="close">&nbsp;</button>
                    <div tabindex="0" class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Order History</a></li>
                        <li><a href="javascript:void(0);">Manage Subscriptions</a></li>
                        <li><a href="javascript:void(0);">My Digital Products</a></li>
                        <li><a href="javascript:void(0);">Address Book</a></li>
                        <li><a href="javascript:void(0);">Payment Details</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Update Personal Details</a></li>
                        <li><a href="javascript:void(0);">Update Password</a></li>
                        <li><a href="javascript:void(0);">Update Email</a></li>
                      </ul>
                      <div class="buttons"><a href="javascript:void(0);" class="button">Sign Out</a></div>
                    </div>
                  </div>
                </div>
                <div class="navigation-link-item my-cart-link"><a href="javascript:void(0);" class="cart-not-empty">Shopping cart<span class="quantity">3</span><span class="price">$312.96</span></a></div>
              </div>
            </div>
            <div class="main-navigation-menu">
              <ul class="navigation-menu-items">
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Subjects</a>
                  <div class="dropdown-menu">
                    <div class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="#">Accounting</a></li>
                        <li><a href="#">Arts & Architecture</a></li>
                        <li><a href="#">Business & Management</a></li>
                        <li><a href="#">Chemistry</a></li>
                        <li><a href="#">Computing</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Culinary & Hospitality</a></li>
                        <li><a href="#">Earth, Space & Environmental Sciences</a></li>
                        <li><a href="#">Economics</a></li>
                        <li><a href="#">Education</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Law & Criminology</a></li>
                        <li><a href="#">Life Sciences</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Mathematics & Statistics</a></li>
                        <li><a href="#">Psychology</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="javascript:void(0);">About Wiley</a></li>
                <li><a href="javascript:void(0);">Contact US</a></li>
                <li><a href="javascript:void(0);">Help</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div class="container my-account payment-details my-account-support-message-wr wrap">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <nav class="sidebar-nav">
              <div class="yCmsComponent "><a href="#" title="Order History" class="nav-item">Order History</a></div>
              <div class="yCmsComponent "><a href="#" title="Manage Subscriptions" class="nav-item">Manage Subscriptions</a></div>
              <div class="yCmsComponent "><a href="#" title="My Digital Products" class="nav-item">My Digital Products</a></div>
              <div class="yCmsComponent "><a href="#" title="Address Book" class="nav-item">Address Book</a></div>
              <div class="yCmsComponent active"><a href="#" title="Payment Details" class="nav-item">Payment Details</a></div>
              <div class="yCmsComponent "><a href="#" title="Update Personal Details" class="nav-item">Update Personal Details</a></div>
              <div class="yCmsComponent "><a href="#" title="Update Password" class="nav-item">Update Password</a></div>
            </nav>
          </div>
          <div class="col-xs-12 col-sm-9">
            <div class="support-message"><span class="progress-number">Need Help with your checkout process?</span> Contact US or Call phone number.</div>
            <h1 class="full-width-gray">Payment Details</h1>
            <div class="simple-list my-account-wrap">
              <div class="simple-list-item">
                <button class="button button-main large">Add a Credit Card</button>
              </div>
              <div class="wrap-inner-bordered">
                <div class="row">
                  <div class="col-xs-12 col-sm-8">
                    <div class="simple-list-text">
                      <p>Mr. Saurabh Jetly (Default)</p>
                      <p>Visa</p>
                      <p>************1111</p>
                      <p>01/2018</p>
                      <p>402 Hidden Valley Dr.</p>
                      <p>Edison, New Jersey</p>
                      <p>United States 08820</p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 text-right">
                    <button data-toggle="modal" data-target="#deletePayment" aria-label="Delete Payment" class="button button-remove"></button>
                  </div>
                </div>
              </div>
              <div class="simple-list-item">
                <div class="row">
                  <div class="col-xs-12 col-sm-8">
                    <div class="simple-list-text">
                      <p>Mr. Saurabh Jetly (Default)</p>
                      <p>Visa</p>
                      <p>************1111</p>
                      <p>01/2018</p>
                      <p>402 Hidden Valley Dr.</p>
                      <p>Edison, New Jersey</p>
                      <p>United States 08820</p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 text-right">
                    <div class="row">
                      <div class="col-xs-10 col-sm-10">
                        <div class="my-account-button-small">
                          <button class="button button-outlined large">Set As Default</button>
                        </div>
                      </div>
                      <div class="col-xs-2 col-sm-2">
                        <button data-toggle="modal" data-target="#deletePayment" aria-label="Delete Payment" class="button button-remove"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="deletePayment" role="dialog" class="modal fade modalWindow deletePayment">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="row">
                        <div class="col-xs-10 col-sm-10">
                          <div class="modal-title">Delete Payment
                          </div>
                        </div>
                        <div class="col-xs-2 col-sm-2">
                          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
                        </div>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="modal-wnd-content">
                        <p>The following payment method will be deleted</p>
                      </div>
                      <div class="modal-wnd-list bold">
                        <div class="modal-wnd-list-item">
                          <div>
                            <p>Mr. Saurabh Jetly (Default)</p>
                            <p>Visa</p>
                            <p>************1111</p>
                            <p>01/2018</p>
                            <p>402 Hidden Valley Dr.</p>
                            <p>Edison, New Jersey</p>
                            <p>United States 08820</p>
                          </div>
                        </div>
                        <div class="modal-button-wrap">
                          <div class="row">
                            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                              <button class="button button-main medium">Delete</button>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                              <button data-dismiss="modal" aria-label="Close" class="button button-outlined medium">Cancel</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="main-footer-links">
                <div class="footer-links-title">About Wiley</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">About us</a></li>
                  <li><a href="javascript:void(0);">Careers</a></li>
                  <li><a href="javascript:void(0);">Locations</a></li>
                  <li><a href="javascript:void(0);">Investor Relations</a></li>
                  <li><a href="javascript:void(0);">Press Room</a></li>
                </ul>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Subjects</a></li>
                  <li><a href="javascript:void(0);">Events</a></li>
                  <li><a href="javascript:void(0);">Brands</a></li>
                  <li><a href="javascript:void(0);">Resources</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Resources</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Authors</a></li>
                  <li><a href="javascript:void(0);">Instructors</a></li>
                  <li><a href="javascript:void(0);">Students</a></li>
                  <li><a href="javascript:void(0);">Librarians</a></li>
                  <li><a href="javascript:void(0);">Societies</a></li>
                  <li><a href="javascript:void(0);">Booksellers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Customer Support</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Privacy Policy</a></li>
                  <li><a href="javascript:void(0);">Site Map</a></li>
                  <li><a href="javascript:void(0);">Contact Us</a></li>
                  <li><a href="javascript:void(0);">Help</a></li>
                </ul>
              </div>
            </div>
            <div class="hidden-xs col-sm-4 col-sm-offset-1">
              <div class="footer-sign-up">
                <div class="sign-up-title">Sign up to receive Wiley updates</div>
                <div class="sign-up-field">
                  <div class="input-group">
                    <input type="text" placeholder="Your Email" class="input form-control"><span class="input-group-btn">
                      <button type="button" class="button small">Send</button></span>
                  </div>
                </div>
              </div>
              <div class="footer-social-links">
                <div class="social-links-title">Follow us</div>
                <div class="social-links-items"><a href="javascript:void(0);" title="Facebook"><img src="responsive/common/images/facebook.png" alt="Facebook"></a><a href="javascript:void(0);" title="Twitter"><img src="responsive/common/images/twitter.png" alt="Twitter"></a><a href="javascript:void(0);" title="Linkedin"><img src="responsive/common/images/linkedin.png" alt="Linkedin"></a><a href="javascript:void(0);" title="Youtube"><img src="responsive/common/images/youtube.png" alt="Youtube"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-footer-copyright">
          <div class="container">
            <div class="footer-copyright-text">
              <p><a href="javascript:void(0);"><b>Copyright &copy; 2000-2015</b></a> by <a href="javascript:void(0);"><b>John Wiley & Sons, Inc.,</b></a> or related companies. All rights reserved.</p>
              <p>Review our <a href="javascript:void(0);"><b>privacy policy</b></a>.</p>
            </div><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel.custom.js"></script>
    <script src="responsive/common/js/jquery-ui.datapicker-selectmenu.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>

buildkit/wileyb2cstorefront/jade/my-account-payment-details.jade
extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Payment Details";
	- var headTitleText = "b2c - " + pageTitle;
	- var containerCSSClass = "my-account payment-details my-account-support-message-wr wrap";
	- var supportMessage = true;
	- var isfullWidthGrayH1Mobile = true;
	- var navItem = "Payment Details";

	- var sideBarList = ["Order History", "Manage Subscriptions", "My Digital Products", "Address Book", "Payment Details", "Update Personal Details", "Update Password"];

block left
	+sideBarNavigation(sideBarList)
block right
	div(class="simple-list my-account-wrap")
		div(class="simple-list-item")
			button(class="button button-main large")
				| Add a Credit Card
		div(class="wrap-inner-bordered")
			div(class="row")
				div(class="col-xs-12 col-sm-8")
					div(class="simple-list-text")
						p Mr. Saurabh Jetly (Default)
						p Visa
						p ************1111
						p 01/2018
						p 402 Hidden Valley Dr.
						p Edison, New Jersey
						p United States 08820
				div(class="col-xs-12 col-sm-4 text-right")
					button(class="button button-remove", data-toggle="modal", data-target="#deletePayment", aria-label="Delete Payment")
		div(class="simple-list-item")
			div(class="row")
				div(class="col-xs-12 col-sm-8")
					div(class="simple-list-text")
						p Mr. Saurabh Jetly (Default)
						p Visa
						p ************1111
						p 01/2018
						p 402 Hidden Valley Dr.
						p Edison, New Jersey
						p United States 08820
				div(class="col-xs-12 col-sm-4 text-right")
					div(class="row")
						div(class="col-xs-10 col-sm-10")
							div(class="my-account-button-small")
								button(class="button button-outlined large")
									| Set As Default
						div(class="col-xs-2 col-sm-2")
							button(class="button button-remove", data-toggle="modal", data-target="#deletePayment", aria-label="Delete Payment")

		+modal("deletePayment", "Delete Payment", "deletePayment")
			div(class="modal-wnd-content")
				p The following payment method will be deleted

			div(class="modal-wnd-list bold")
				div(class="modal-wnd-list-item")
					div
						p Mr. Saurabh Jetly (Default)
						p Visa
						p ************1111
						p 01/2018
						p 402 Hidden Valley Dr.
						p Edison, New Jersey
						p United States 08820
				div(class="modal-button-wrap")
					div(class="row")
						div(class="col-xs-12 col-sm-4 col-sm-offset-4")
							button(class="button button-main medium")
								| Delete
						div(class="col-xs-12 col-sm-4")
							button(class="button button-outlined medium", data-dismiss="modal", aria-label="Close")
								| Cancel
