buildkit/wileyb2cstorefront/jade/my-company-edit-user.jade
extends layouts/grid-two-column-3-9
block vars
	- var pageTitle = "Edit User";
	- var headTitleText = "b2b - Edit User";
	- var containerCSSClass = "my-company create-user edit-user wrap";
	- var isMyCompany = true;
	- var navItem = "Manage Users";
	- var sideBarList = ["My Company", "Manage Business Units", "Manage Users"];

block left
	+sideBarNavigation(sideBarList)
block right
	div(class="my-company-wrap")
		div(class="user-form wrap")
			div(class="row")
				div(class="col-xs-12 col-sm-4")
					div(class="site-form")
						form
							div(class="form-cell")
								div(class="form-label")
									label(for="title")
										| Title (optional)
								div(class="form-field select-component select-form-element")
									select(id="title")
										option
											| Title1
										option
											| Title2
							div(class="form-cell")
								div(class="form-label required")
									label(for="email")
										| Email Address
								div(class="form-field")
									input(type="text", id="email", placeholder="<email address>")
							div(class="form-cell")
								div(class="form-label required")
									label(for="first-name")
										| First Name
								div(class="form-field")
									input(type="text", for="first-name", placeholder="<first name>")
							div(class="form-cell")
								div(class="form-label")
									label(for="middle-name")
										| Middle Name (optional)
								div(class="form-field")
									input(type="text", id="middle-name", placeholder="<middle name>")
							div(class="form-cell")
								div(class="form-label required")
									label(for="last-name")
										| Last Name
								div(class="form-field")
									input(type="text", id="last-name", placeholder="<last name>")
							div(class="form-cell")
								div(class="form-label")
									label(for="suffix")
										| Suffix (optional)
								div(class="form-field")
									input(type="text", id="suffix", placeholder="<suffix>")
		div(class="user-roles-wrap wrap-inner-bordered")
			div(class="row")
				div(class="col-xs-12 col-sm-12")
					h2 Roles
					div(class="user-roles-option")
						div(class="checkbox-component")
							input(type="checkbox", id="b2b-administrator")
							label(for="b2b-administrator")
								| B2B Administrator
						div(class="checkbox-component")
							input(type="checkbox", id="b2b-customer")
							label(for="b2b-customer")
								| B2B Customer
						div(class="checkbox-component")
							input(type="checkbox", id="b2b-invoice-collector")
							label(for="b2b-invoice-collector")
								| B2B Invoice Collector
		div(class="row")
			div(class="col-xs-12 col-sm-5")
				div(class="my-account-button-wrap")
					div(class="row")
						div(class="col-xs-12 col-sm-6")
							button(class="button button-main large")
								| Save Changes
						div(class="col-xs-12 col-sm-6")
							button(class="button button-outlined large")
								| Cancel
			div(class="col-xs-12 col-sm-7 one-arrow-pagination-wrap")
				div(class="panel-pagination")
					div(class="pagination-element")
						a(href="#", class="arrow-left", title="") &nbsp;

hybris/bin/custom/wiley/wileyb2bstorefront/web/webroot/_ui/responsive/theme-wiley/pages/my-company-edit-user.html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/theme-blue/css/style.css">
    <title>b2b - Edit User</title>
  </head>
  <body>
    <main>
      <!-- sets 'b2b' class for B2B pages, according to isB2BPage variable passed from specific jade template-->
      <header id="main-header-container" role="banner" class="main-header-container ">
        <div class="container">
          <nav role="navigation" class="main-navigation-container">
            <div class="main-navigation-links"><a href="javascript:void(0);" title="Wiley" class="logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
              <div class="navigation-links-items">
                <div class="navigation-link-item welcome-link">Welcome Isaac</div>
                <div class="navigation-link-item my-account-link"><a href="javascript:void(0);">My Account</a>
                  <div class="dropdown-menu arrow my-account-container">
                    <button tabindex="-1" class="close">&nbsp;</button>
                    <div tabindex="0" class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Order History</a></li>
                        <li><a href="javascript:void(0);">Manage Subscriptions</a></li>
                        <li><a href="javascript:void(0);">My Digital Products</a></li>
                        <li><a href="javascript:void(0);">Address Book</a></li>
                        <li><a href="javascript:void(0);">Payment Details</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="javascript:void(0);">Update Personal Details</a></li>
                        <li><a href="javascript:void(0);">Update Password</a></li>
                        <li><a href="javascript:void(0);">Update Email</a></li>
                      </ul>
                      <div class="buttons"><a href="javascript:void(0);" class="button">Sign Out</a></div>
                    </div>
                  </div>
                </div>
                <div class="navigation-link-item my-cart-link"><a href="javascript:void(0);" class="cart-not-empty">Shopping cart<span class="quantity">3</span><span class="price">$312.96</span></a></div>
              </div>
            </div>
            <div class="main-navigation-menu">
              <ul class="navigation-menu-items">
                <li><a href="javascript:void(0);">Home</a></li>
                <li><a href="javascript:void(0);">Subjects</a>
                  <div class="dropdown-menu">
                    <div class="dropdown-items-wrapper">
                      <ul class="dropdown-items">
                        <li><a href="#">Accounting</a></li>
                        <li><a href="#">Arts & Architecture</a></li>
                        <li><a href="#">Business & Management</a></li>
                        <li><a href="#">Chemistry</a></li>
                        <li><a href="#">Computing</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Culinary & Hospitality</a></li>
                        <li><a href="#">Earth, Space & Environmental Sciences</a></li>
                        <li><a href="#">Economics</a></li>
                        <li><a href="#">Education</a></li>
                      </ul>
                      <ul class="dropdown-items">
                        <li><a href="#">Law & Criminology</a></li>
                        <li><a href="#">Life Sciences</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Mathematics & Statistics</a></li>
                        <li><a href="#">Psychology</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="javascript:void(0);">About Wiley</a></li>
                <li><a href="javascript:void(0);">Contact US</a></li>
                <li><a href="javascript:void(0);">Help</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <div class="container my-company create-user edit-user wrap">
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <nav class="sidebar-nav">
              <div class="yCmsComponent "><a href="#" title="My Company" class="nav-item">My Company</a></div>
              <div class="yCmsComponent "><a href="#" title="Manage Business Units" class="nav-item">Manage Business Units</a></div>
              <div class="yCmsComponent active"><a href="#" title="Manage Users" class="nav-item">Manage Users</a></div>
            </nav>
          </div>
          <div class="col-xs-12 col-sm-9">
            <h1 class="hidden-xs">Edit User</h1>
            <div class="row">
              <div class="col-xs-12 visible-xs">
                <h1>Edit User</h1>
              </div>
            </div>
            <div class="my-company-wrap">
              <div class="user-form wrap">
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                    <div class="site-form">
                      <form>
                        <div class="form-cell">
                          <div class="form-label">
                            <label for="title">Title (optional)</label>
                          </div>
                          <div class="form-field select-component select-form-element">
                            <select id="title">
                              <option>Title1</option>
                              <option>Title2</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-cell">
                          <div class="form-label required">
                            <label for="email">Email Address</label>
                          </div>
                          <div class="form-field">
                            <input type="text" id="email" placeholder="&lt;email address&gt;">
                          </div>
                        </div>
                        <div class="form-cell">
                          <div class="form-label required">
                            <label for="first-name">First Name</label>
                          </div>
                          <div class="form-field">
                            <input type="text" for="first-name" placeholder="&lt;first name&gt;">
                          </div>
                        </div>
                        <div class="form-cell">
                          <div class="form-label">
                            <label for="middle-name">Middle Name (optional)</label>
                          </div>
                          <div class="form-field">
                            <input type="text" id="middle-name" placeholder="&lt;middle name&gt;">
                          </div>
                        </div>
                        <div class="form-cell">
                          <div class="form-label required">
                            <label for="last-name">Last Name</label>
                          </div>
                          <div class="form-field">
                            <input type="text" id="last-name" placeholder="&lt;last name&gt;">
                          </div>
                        </div>
                        <div class="form-cell">
                          <div class="form-label">
                            <label for="suffix">Suffix (optional)</label>
                          </div>
                          <div class="form-field">
                            <input type="text" id="suffix" placeholder="&lt;suffix&gt;">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="user-roles-wrap wrap-inner-bordered">
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <h2>Roles</h2>
                    <div class="user-roles-option">
                      <div class="checkbox-component">
                        <input type="checkbox" id="b2b-administrator">
                        <label for="b2b-administrator">B2B Administrator</label>
                      </div>
                      <div class="checkbox-component">
                        <input type="checkbox" id="b2b-customer">
                        <label for="b2b-customer">B2B Customer</label>
                      </div>
                      <div class="checkbox-component">
                        <input type="checkbox" id="b2b-invoice-collector">
                        <label for="b2b-invoice-collector">B2B Invoice Collector</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-5">
                  <div class="my-account-button-wrap">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6">
                        <button class="button button-main large">Save Changes</button>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                        <button class="button button-outlined large">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-7 one-arrow-pagination-wrap">
                  <div class="panel-pagination">
                    <div class="pagination-element"><a href="#" title="" class="arrow-left">&nbsp;</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer role="contentinfo" class="main-footer-container">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="main-footer-links">
                <div class="footer-links-title">About Wiley</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">About us</a></li>
                  <li><a href="javascript:void(0);">Careers</a></li>
                  <li><a href="javascript:void(0);">Locations</a></li>
                  <li><a href="javascript:void(0);">Investor Relations</a></li>
                  <li><a href="javascript:void(0);">Press Room</a></li>
                </ul>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Subjects</a></li>
                  <li><a href="javascript:void(0);">Events</a></li>
                  <li><a href="javascript:void(0);">Brands</a></li>
                  <li><a href="javascript:void(0);">Resources</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Resources</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Authors</a></li>
                  <li><a href="javascript:void(0);">Instructors</a></li>
                  <li><a href="javascript:void(0);">Students</a></li>
                  <li><a href="javascript:void(0);">Librarians</a></li>
                  <li><a href="javascript:void(0);">Societies</a></li>
                  <li><a href="javascript:void(0);">Booksellers</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="main-footer-links">
                <div class="footer-links-title">Customer Support</div>
                <ul class="footer-links-items">
                  <li><a href="javascript:void(0);">Privacy Policy</a></li>
                  <li><a href="javascript:void(0);">Site Map</a></li>
                  <li><a href="javascript:void(0);">Contact Us</a></li>
                  <li><a href="javascript:void(0);">Help</a></li>
                </ul>
              </div>
            </div>
            <div class="hidden-xs col-sm-4 col-sm-offset-1">
              <div class="footer-sign-up">
                <div class="sign-up-title">Sign up to receive Wiley updates</div>
                <div class="sign-up-field">
                  <div class="input-group">
                    <input type="text" placeholder="Your Email" class="input form-control"><span class="input-group-btn">
                      <button type="button" class="button small">Send</button></span>
                  </div>
                </div>
              </div>
              <div class="footer-social-links">
                <div class="social-links-title">Follow us</div>
                <div class="social-links-items"><a href="javascript:void(0);" title="Facebook"><img src="responsive/common/images/facebook.png" alt="Facebook"></a><a href="javascript:void(0);" title="Twitter"><img src="responsive/common/images/twitter.png" alt="Twitter"></a><a href="javascript:void(0);" title="Linkedin"><img src="responsive/common/images/linkedin.png" alt="Linkedin"></a><a href="javascript:void(0);" title="Youtube"><img src="responsive/common/images/youtube.png" alt="Youtube"></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-footer-copyright">
          <div class="container">
            <div class="footer-copyright-text">
              <p><a href="javascript:void(0);"><b>Copyright &copy; 2000-2015</b></a> by <a href="javascript:void(0);"><b>John Wiley & Sons, Inc.,</b></a> or related companies. All rights reserved.</p>
              <p>Review our <a href="javascript:void(0);"><b>privacy policy</b></a>.</p>
            </div><a href="javascript:void(0);" title="Wiley" class="footer-logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
          </div>
        </div>
      </footer>
    </main>
    <!-- scripts-->
    <script src="responsive/common/js/jquery-2.1.1.min.js"></script>
    <script src="responsive/common/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="responsive/common/js/owl.carousel.custom.js"></script>
    <script src="responsive/common/js/jquery-ui.datapicker-selectmenu.min.js"></script>
    <script src="responsive/common/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="responsive/common/js/wiley.js"></script>
  </body>
</html>
