buildkit/wileyb2cstorefront/jade/server-error-page(400).jade
doctype html
html(lang="en" dir="ltr")
    block vars
    head
        block headSection
            include ./partials/head
    body
        .wiley-server-error-page
            header.header-light
                div(class="container-fluid")
                    div(class="container")
                        a(class="logo", href="javascript:void(0);", title="Wiley")
                            img(src="responsive/common/images/logo.png", alt="Wiley")
            .server-error
                .container
                    h1 Server error (
                        b 400
                        | )
                    p
                        b Our Apologies. &nbsp;
                        | We can't find the page you're looking for.
                    p
                        | Maybe we can help you - please feel free to &nbsp;
                        a(href="#") contact us

            footer.footer-light
                div(class="container-fluid")
                    div(class="container")
                        div(class="footer-copyright-text")
                            p
                                a(href="#") Copyright &copy; 2000-2017 by &nbsp;
                                a(href="#") John Wiley & Sons, Inc.,
                                | &nbsp; or related companies. All rights reserved. Review &nbsp;
                                a(href="#") our privacy policy.
                        a(class="logo", href="javascript:void(0);", title="Wiley")
                            img(src="responsive/common/images/logo.png", alt="Wiley")

hybris/bin/custom/wiley/wileyb2cstorefront/web/webroot/_ui/responsive/common/pages/server-error-page(400).html
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <base href="../../../">
    <link rel="stylesheet" type="text/css" media="all" href="responsive/common/css/style.css">
    <title>Wiley</title>
  </head>
  <body>
    <div class="wiley-server-error-page">
      <header class="header-light">
        <div class="container-fluid">
          <div class="container"><a href="javascript:void(0);" title="Wiley" class="logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a></div>
        </div>
      </header>
      <div class="server-error">
        <div class="container">
          <h1>Server error (<b>400</b>)</h1>
          <p><b>Our Apologies. &nbsp;</b>We can't find the page you're looking for.</p>
          <p>Maybe we can help you - please feel free to &nbsp;<a href="#">contact us</a></p>
        </div>
      </div>
      <footer class="footer-light">
        <div class="container-fluid">
          <div class="container">
            <div class="footer-copyright-text">
              <p><a href="#">Copyright &copy; 2000-2017 by &nbsp;</a><a href="#">John Wiley & Sons, Inc.,</a>&nbsp; or related companies. All rights reserved. Review &nbsp;<a href="#">our privacy policy.</a></p>
            </div><a href="javascript:void(0);" title="Wiley" class="logo"><img src="responsive/common/images/logo.png" alt="Wiley"></a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
